﻿// Customising Bootstrap here
// AAP - variable overrides


// Color system

$body-bg:                   #ededed;
$body-color:                #020202;
$blue:                      #3075b8;
$gray-custom:               #eeeeee;
$input-border-color:        #b3b3b3; //input, radio, checkbox

$theme-colors:              (primary: $blue, secondary: $gray-custom);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge((
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
), $sizes);

// Components
/*$border-radius:             .6rem;
$border-radius-lg:          .75rem;
$border-radius-sm:          .5rem;*/
$border-radius:               .25rem;
$border-radius-lg:            .3rem;
$border-radius-sm:            .2rem;

$caret-width:                 .3em !default;

// Fonts
$font-size-base:            1rem; // Assumes the browser default, typically `16px`
/*$font-size-lg:            ($font-size-base * 1.25) !default;
$font-size-sm:              ($font-size-base * .875) !default;

$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-bold:          700 !default;

$font-weight-base:          $font-weight-normal !default;
$line-height-base:          1.5 !default;*/

$h1-font-size:              $font-size-base * 2.25;
$h2-font-size:              $font-size-base * 2;
$h3-font-size:              $font-size-base * 1.75;
$h4-font-size:              $font-size-base * 1.5;
$h5-font-size:              $font-size-base * 1.25;
$h6-font-size:              $font-size-base;

// Buttons + Forms
$input-btn-focus-width:     .1rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:         $border-radius * 2;
$btn-border-radius-lg:      $border-radius-lg * 2;
$btn-border-radius-sm:      $border-radius-sm * 2;

// Forms
$input-border-color:        $input-border-color;

$input-border-radius:       $border-radius * 2;
$input-border-radius-lg:    $border-radius-lg * 2;
$input-border-radius-sm:    $border-radius-sm * 2;

// Badges
$badge-font-size:           85%;
$badge-font-weight:         normal;
$badge-padding-y:           .65em;
$badge-padding-x:           .5em;
$badge-border-radius:       .25rem;

// Modals
// Padding applied to the modal body

$modal-content-border-width:     0;
$modal-header-border-width:   $modal-content-border-width;
$modal-footer-border-width:   $modal-header-border-width;

// Close
$close-font-size:                   $font-size-base * 3;
$close-font-weight:                 lighter;



// Bootstrap and its default variables
@import "../bootstrap/bootstrap";
