﻿/* TokenInput */

ul.token-input-list-mediapeople {
    overflow: hidden; 
    height: auto !important; 
    max-height: 300px !important;
    cursor: text;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-right: 30px; //reserve space for caret
    /* make it look like bootstrap text input (.form-control): */
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b3b3b3;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    li input {
        border: 0;
        width: 100px;
        padding: 5px 8px;
        background-color: white;
        margin: 2px 0;
        -webkit-appearance: caret;
    }
}

ul.section2columnsList ul.token-input-list-mediapeople {
    width: 54%;
}

li.token-input {

    &-token-mediapeople {
        overflow: hidden; 
        height: auto !important; 
        height: 15px;
        margin: .5em 0 0 .5em;
        padding: 1px 6px;
        background-color: #68a8e6;
        color: #fff;
        cursor: default;
        font-size: .85em !important;
        border-radius: .25em;
        float: left;
    
        p {
            display: inline;
            padding: 0;
            margin: 0;
        }

        span {
            color: #fff;
            margin-left: 5px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    &-selected-token-mediapeople {
        background-color: #255b90;
        color: #fff;
    }

    &-input-token-mediapeople {
        float: left;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

div.token-input-dropdown-mediapeople {
    position: absolute;
    width: auto;
    background-color: #dbe9f9;
    overflow: hidden;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    cursor: default;
    font-size: .8em;
    z-index: 1;    
    border-radius: 0.5rem;

    p {
        margin: 0;
        padding: 5px;
        font-weight: bold;
        color: #fff;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            background-color: #fff;
            padding: 4px 15px 4px 25px;
	        line-height:1.7em;
            margin: 0;
            list-style-type: none;
            cursor: pointer;

            &.token-input-dropdown-item-mediapeople {
                background-color: #fff;
            }

            &.token-input-dropdown-item2-mediapeople {
                background-color: #fff;
            }

            em {
                font-weight: bold;
                font-style: normal;
            }

            &.token-input-selected-dropdown-item-mediapeople {
                background-color: #4a90e2;
                color: #fff;
            }
        }
    }

}

.tokenInput-btn-container {

    .dropdown, .svg-inline--fa {
        position: absolute;
        top: 10px;
        right: 15px;
        background: transparent;
        border: none;
    }
}

/* custom token input styles for subjects groups */
li.token-input-token-mediapeople.subjectGroup {
    position: relative;

    .ui-icon-folder-collapsed {
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
    }

     p {
        margin-left: 5px;
    }
}


/* copied from misc.css - to cleanup */
.tokenInput-btn-container .dropdown-menu {
    border: 1px solid #b3b3b3; 
    padding:0; 
    position:absolute;
    right: 20px;
    display:none; 
    z-index:5000;  
}

table.quickSearchDropdowns .dropdown-menu {
    top: 0px;
}

/*browser specific styles*/
@-moz-document url-prefix() {
    #AdvancedForm .dropdown-menu{
        left: 10px;
    }
    
}


.tokenInput-btn-container .dropdown-menu p {
    margin:0; 
    font-size: 12px; 
    font-weight: bold; 
    padding: 4px 10px; 
    color: #6e6e6e;
    background-color: #eeeeee;
}

.addFilterGroup {
    background:url('images/addFilterGroup.png') no-repeat;
    width:14px;
    height:14px;
    display:block;
    float:right;
    margin-top:4px; 
}

.addFilterGroup:hover{
    background-position: 0 -14px;
}

.removeFilterGroup{
    background:url('images/addFilterGroup-red.png') no-repeat  0 -28px;
    width:14px;
    height:14px;
    display:block;
    float:right;
    margin-top:4px; 
}

.removeFilterGroup:hover{
    background-position: 0 -42px;
}

* html .dropdown-menu { top:26px; right: 20px; }
*+ html .dropdown-menu { top:26px; right: 20px; }

/* dropdowns: specific */

    .tokenInput-btn-container div.dropdown-menu  { width:266px; height: 300px; overflow: auto;}
    .tokenInput-btn-container div.dropdown-menu a  { display:block; }
      
    .tokenInput-btn-container .dropdown-menu a.tokenSelected:link, .tokenInput-btn-container .dropdown-menu a.tokenSelected:visited
    {
        background-color: #00A3D2;
        color: white;
    }


/* dropdown: jQuery Tokeniser plugin styles */
div.token-input-dropdown-mediapeople p {
    color: #6e6e6e;
    background-color: #eeeeee;
}

div.token-input-dropdown-mediapeople p a {
    font-size: 14px; 
    font-weight: 500;
    cursor: pointer;
}

/* new subject dropdowns styles test */
div.dropdown-menu-row {
    position: relative;
    zoom: 1;
    display: table;
    clear: both;
    outline: 0 !important;
    width: 100%;
    font-size: 14px;
}

div.dropdown-menu-row:hover {
    color:#fff;
    background-color: #4a90e2; 
}

div.dropdown-menu-row a {
    outline: none;
    left: 1px;
    top: 1px;    
    position: absolute;    
    width: 1.8em;
    height: 1.8em;
    outline: 0 !important;
}

div.dropdown-menu-row a.subject-group span.subject-group-icon {
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    outline: 0 !important;
    background-position: 0 -96px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

div.subject-group {
    margin: 2px 15px 2px 25px;
    line-height: 1.8em;
    outline: 0 !important;
    cursor: pointer;
}

div.subject-group span.subject-group-name {
    line-height: 1.8em;
    outline: 0 !important;
    cursor: pointer;
}



/* added by sahar for first input on quick search */
.active .dropdown-item {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

/* disabled tokenInput style copied from jQueryUI css*/
.ui-state-disabled { 
    cursor: default !important;
}
.ui-state-disabled, 
.ui-widget-content .ui-state-disabled, 
.ui-widget-header .ui-state-disabled { 
    opacity: .35;
    background-image: none;
}