﻿// AAP Design styles here

@import "_custom-bootstrap";
@import "_tokenInput";

$left-col-width: 220px;
/*$header-height: 70px;
$footer-height: 60px;*/

/* Colors */
$body-color: #020202; //defined in _custom-bootstrap.scss as well
$grey-heading: #6e6e6e;
$darkest-blue: #171e2d; //darkest blue - active group-button on quick-search
$darker-blue: #354567; //dark blue badge bg, th in scope=row
$midnight-blue: #26517f; //left-col bg, etc
$primary-blue: #3075b8; //(defined in _custom-bootstrap.scss)
$active-blue: #3075b8; //#4a90e2
$soft-blue: #68a8e6;
$orange: #de6d43; //#f18f01; //active menu, etc
$green: #819975;
$input-border-color: #b3b3b3; //input, radio, checkbox (defined in _custom-bootstrap.scss)
$card-grey: #e4e4e2;
$left-col-grey: #313a46;
$twitter-blue: #1da1f2;

//table-striped-grey
$table-striped-grey-odd: #f0f0f0;
$table-striped-grey-even: #fafafa;

//table-striped-blue
$table-striped-blue-odd: #dbe9f9;
$table-striped-blue-even: #ecf3fc;

//Fonts
$font-family-Lato: 'Lato', Helvetica, Arial, sans-serif;
$font-family-Roboto: 'Roboto', Helvetica, Arial, sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

html,
body,
.container-fluid {
    height: 100vh;
    min-height: 100vh;
}

body {
    font-family: $font-family-Roboto;
    font-weight: $font-weight-normal;
    font-size: 1rem;
    line-height: 1.5rem;
}

a {
    //color: $body-color;
}

h1, h2, h3, h4, h5 {
    font-family: $font-family-Lato;
    font-weight: $font-weight-light;
}

h1, h2 {
    color: $grey-heading;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .border {
        &-md-right {
            border-right: 1px solid #dee2e6 !important;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .border {
        &-lg-right {
            border-right: 1px solid #dee2e6 !important;
        }
    }
}

.smallCaps {
    //font-variant: small-caps;
    text-transform: uppercase;
    font-size: .85em !important;
}

.wordBreak {
    word-break: break-word;
}

.font-weight-semibold {
    font-weight: $font-weight-bold;
}

.bg {

    &-orange {
        background-color: $orange;
    }

    &-midnightBlue {
        background-color: $midnight-blue;
    }

    &-activeBlue {
        background-color: $active-blue;
    }

    &-softBlue {
        background-color: $soft-blue;
    }
}

.text {

    &-body {
        color: $body-color;
    }

    &-grey {
        color: $grey-heading;
    }

    &-orange {
        color: $orange;
    }

    &-activeBlue {
        color: $active-blue;
    }

    &-softBlue {
        color: $soft-blue;
    }

    &-lineheight-min {
        line-height: 1.4em;
    }

    &-font-heading {
        font-family: $font-family-Lato;
    }

    &-large {
        font-size: 1.25em;
    }
}

.btn {
    font-family: $font-family-Lato;

    &-secondary {
        color: $grey-heading;

        &.text-activeBlue {
            color: $active-blue;
        }
    }

    &-group > .btn {
        margin-right: 1px;
        border-right: 2px solid white;
    }
    &.btnMore.dropdown-toggle::after {
        display: none;
    }
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background-color: $grey-heading;
    border-color: $grey-heading;
    color: $white;
}

.card {
    /*border: none;
    border-radius: 0;*/

    p, li {
        //font-size: .95em;
        //line-height: 1.35em;
    }

    &-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.05rem;
    }

    &-grey {
        background-color: $card-grey;
    }

    .list-group {
        font-size: .95em;

        &-item {
            background-color: transparent;
            padding: .2em 0;

            &:first-child {
                border-top: none;
            }

            &-grey {
                border: none;
                background-color: $card-grey;
                //color: $grey-heading;
                padding: .15em .5em;
                margin-bottom: .35em;
            }
        }
    }
}

.callout {
    border-left: 5px solid !important;
    border-left-color: $orange !important;
}

.alert {
    &-secondary {
        background-color: $gray-custom;
    }
}

.badge {
    &-primary {
        background-color: $soft-blue;
    }
    &-pill.badge-primary {
        background-color: $primary-blue;        
    }
    /*&-pill.badge-danger {
        background-color: $orange;        
    }
    &-pill.badge-success {
        background-color: $green;        
    }*/
}

.tooltip {
    pointer-events: none;
    /*&.bs-tooltip {
        &-top {
            .arrow:before {
                border-top-color: $midnight-blue;
            }
        }
        &-right {
            .arrow:before {
                border-right-color: $midnight-blue;
            }
        }
        &-bottom {
            .arrow:before {
                border-bottom-color: $midnight-blue;
            }
        }
        &-left {
            .arrow:before {
                border-left-color: $midnight-blue;
            }
        }
    }

    .tooltip-inner {
        background-color: $midnight-blue;
    }*/

    &-info-icon {
        position: absolute;
        top: .75rem;
        right: 1rem;
        font-size: 1rem;
        color: $input-border-color;
    }

    &-muted {
        color: $input-border-color;
    }
}

.popover {

    &.preview {
        font-size: .75rem;
        max-width: 50%;

        @media (min-width: 992px) {
            max-width:500px;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            /* IE10+ CSS styles go here */
            width: 500px;
        }

        p {
            margin-bottom: 0;
        }

        img {
            //max-width: 44px;
            max-height: 44px;
        }

        .score, .mediaType .svg-inline--fa {
            font-size: 4em;
        }

        .preview-overflow {
            max-height: 175px;
            overflow: hidden;
        }
    }
}

.table {
    font-size: .95em;

    th, td {
        border: none;
    }

    th {
        font-weight: $font-weight-bold;
    }

    thead {
        th {            
            font-family: $font-family-Lato;
            border: none;
        }
    }

    tbody {
        tr {
            th {
                color: $darker-blue;
            }

            &:nth-of-type(odd) {
                background-color: $table-striped-grey-odd;
            }

            &:nth-of-type(even) {
                //background-color: $table-striped-grey-even;
            }

            &.pinned {
                background-color: $table-striped-blue-odd;
                border-bottom: 1px solid $white;
            }
        }
    }

    &-striped-blue {
        tbody {
            tr {

                &:nth-of-type(odd) {
                    background-color: $table-striped-blue-odd;
                }

                &:nth-of-type(even) {
                    background-color: $table-striped-blue-even;
                }
            }
        }
    }



    &.allGrey {
        margin-bottom: 0;

        tbody {
            tr {
                &:nth-of-type(even) {
                    background-color: $table-striped-grey-odd;
                }

                td, th {
                    padding: .5rem 1rem;
                    border-top: .25rem solid white;
                }

                &.pinned {
                    background-color: $table-striped-blue-odd;
                }
            }
        }
        th {
            padding: .5rem 1rem 0 1rem;
            color: $grey-heading;
        }

        &.table-sm { //used in Notes & Documents
            td, th {
                    padding: .5rem 1rem .5rem .25rem;
            }
            th {
                padding-bottom: 0;
            }
        }
        &-slim {
            tbody tr td,
            tbody tr th {
                padding: .4rem 1rem .15rem;
            }
        }
    }
}

.contactDetails {
    width: 100%;

    tbody {
        tr {
            background-color:inherit !important;

            td, th {
                //padding: .5rem 1rem;
                border-top: 0px !important;
            }
        }
    }
}

.modal-header {
    .close {
        line-height: .5;
    }
}

.nav-tabs {
    font-family: $font-family-Lato;

    %nav-tabs-active {
        color: $black;
        font-weight: $font-weight-bold;
        background-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: $grey-heading;
    }

    border-color: $grey-heading;

    .nav-item {
        .nav-link {
            color: $grey-heading;
            font-size: .85em;
            text-transform: uppercase;
            border-radius: 0;
            border-left: 1px solid;
            padding: 0 1rem;

            &.active, &:hover {
                @extend %nav-tabs-active;
            }
        }

        &:last-child {
            .nav-link {
                border-right-color: transparent;
            }
        }

        &.show .nav-link {
            @extend %nav-tabs-active;
        }
    }

    &.justify-content-start {
        .nav-item {
            .nav-link {
                border-left: none;
                border-right: 1px solid;

                &.active, &:hover {
                    border-right-color: $grey-heading;
                    border-left-color: transparent;
                }
            }

            &:first-child {
                .nav-link {
                }
            }
        }
    }
}


/* custom radio buttons - Copied from https://codepen.io/manabox/pen/raQmpL */
[type="radio"] {
    &:checked,
    &:not(:checked) {
        position: absolute;
        left: -9999px;

        + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 15px;
            display: inline-block;
            //color: #666;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 15px;
                height: 15px;
                border: 1px solid $input-border-color;
                border-radius: 100%;
                background: #fff;
            }

            &:after {
                content: '';
                width: 9px;
                height: 9px;
                background: $soft-blue;
                position: absolute;
                top: 3px;
                left: 3px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
        }

        &[disabled] {

            + label {
                cursor: default;

                &:after {
                    background: $input-border-color;
                }
            }
        }
    }

    &:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    &:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* custom checkbox */
[type="checkbox"] {

    &:checked,
    &:not(:checked) {
        position: absolute;
        left: -9999px;

        + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 15px;
            display: inline-block;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 15px;
                height: 15px;
                border: 1px solid $input-border-color;
                border-radius: .2rem;
                background: #fff;
            }

            &:after {
                content: '';
                width: 9px;
                height: 9px;
                background: $soft-blue;
                position: absolute;
                top: 3px;
                left: 3px;
                border-radius: .2rem;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
        }

        &[disabled] {

            + label {
                cursor: default;

                &:after {
                    background: $input-border-color;
                }
            }
        }
    }

    &.tristate + label:after {
        height: 3px;
        top: 6px;
    }

    &:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    &:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* custom select field (Style Select elements to look the same in all browsers and similar to the tokenInput) */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-container { //wrap the select container with this class
    position:relative; 
    display: inline;

    select {
        padding-right: 30px; //reserve space for caret
    }

    &:after {
        content:""; 
        width:0; 
        height:0; 
        position:absolute; 
        pointer-events: none;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: 1em;
        right: 1em;
        border-top: 5px solid black;
    }
}
select::-ms-expand {
    display: none;
}

/* FontAwesome icons */
.svg-inline--fa {

    &.fa-thumbtack {
        transform: rotate(45deg);
    }

    &.fa-sort,
    &.fa-sort-down,
    &.fa-sort-up
     {
        font-size: 80%;
        font-weight: 400;
    }

    &.twitter-color {
        color: $twitter-blue;
    }
}

/* Loading... */
.loader-container {
    position: relative;
}
.loader {
    justify-content: center !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    color: $white;
    z-index: 1051; //higher than the modal
    opacity: 0;
    transition: opacity 0.2s linear;
    display: none;

    &.show {
        display: flex;
        opacity: .3;

        &.center {
            align-items: center !important;
        }

        &.top {
            padding-top: 15%;
        }

        &.bottom {
            align-items: flex-end !important;
        }

        &.main {
            position: fixed;
        }
    }
}

/* Calendar - date & time picker */
.daterangepicker {

    .calendar-time {

        .fa-clock-o {
            display: none;
        }

        select {
            border-radius: 0.35rem;
            padding: 0 5px;
        }
    }

    .calendar-table {
        th {
            color: $grey-heading;
            font-weight: $font-weight-bold;
        }
    }
}

/* Required field & Validations */
.is-invalid,
.input-validation-error {
    border-color: #dc3545;
}

.field-validation-error {
    color: #dc3545;
    font-size: .85em;
}

/* Layout */
/*.content {
    min-height: calc(100vh - 97px); //97px header-height
}*/

.main-content {
    min-height: calc(100vh - 82px); //60px footer height
}

/*.header {
    height: $header-height;
}

.footer {
    height: $footer-height;
}*/

.left-col {
    width: $left-col-width;
    font-family: $font-family-Lato;
    font-weight: $font-weight-light;
    background-color: $left-col-grey;

    .user {
        border-bottom: 1px solid $grey-heading;
    }

    .nav {
        &-item {
            
            border-left: solid .25em transparent;

            &:hover, &:active, &.active {
                background-color: $grey-heading;
                border-left-color: $white;

                .svg-inline--fa {
                    //color: $orange;
                }
            }
        }

        &-link {
            color: $white;
            padding: 0.5rem 0.15rem;
            margin: 0.25rem;

            &:hover {
                color: white;
            }

            .svg-inline--fa {
                font-size: 1.15em;
                margin: .25em .5em 0 0;
            }
        }
    }
}

.right-col {
}

.floatingLoggedIn {
    font-family: $font-family-Lato;
    margin-top: -5.5em;

    span {
        line-height: 1.25em;
    }
}

.footer {
    font-family: $font-family-Lato;
    font-size: .85em;
}

.actionBtns {
    font-family: $font-family-Lato;
    text-transform: uppercase;

    a {
        white-space: nowrap;

        span {
            padding-top: .15em;
        }
    }

    .svg-inline--fa {
        width: 1.75em;
        height: 1.75em;
        padding: .25em;
    }
}

/* Pagination */
.pager {
    font-family: $font-family-Lato;
    font-size: .85em;
    color: $grey-heading;

    .clearAll {
        width: 279px; //same width of pageSize to keep "pageNav" in the center
    }

    .pageNav {

        .btn {
            background-color: transparent;
        }
    }

    .pageSize {
        color: $grey-heading;
        border: 1px solid lightgray;
        //border-radius: 0;
        padding: 0 .3em;
        margin-left: .3em;
        background-color: transparent;
    font-weight: $font-weight-bold;

        &.selected {
            background-color: lightgray;
            color: $grey-heading;
            opacity: 1;
        }
    }

    .goToPage {
        display: inline-block;
        width: 2.5em;
        //border-radius: 0;
        padding: 0 .25em;
        text-align: center;
    }
}


.backToSearch {
    font-family: $font-family-Lato;
    color: $grey-heading;
    text-decoration: underline;
}

.showMoreLess {
    color: $black;
    text-decoration: none !important;
    cursor: pointer;
    text-align: right;
    font-variant: small-caps;
}

.collapsible {
    
    .fa-chevron-down {
            transition: all 0.2s ease;
        }
        
    .collapsed {
        .fa-chevron-down {
            transform: rotate(-90deg);
        }
    }
}

/* Quick search */
.lnk-toggle {

    .lnk-toggle-show,
    &.collapsed .lnk-toggle-hide {
        display: none;
    }

    &.collapsed .lnk-toggle-show,
    .lnk-toggle-hide {
        display: inline-block;
    }
}

.collapse.show.inline { /* Recent searches - criteria*/
    display: inline;
}

.list-group-item {
    &.collapse {
        display: none;

        &.show {
            display: block;
        }
    }
}

.quickSearchCard {
    //margin-top: -1.5rem;
}

.alert-warning-search { //alert with arrow
    position: relative;
    margin-bottom: -2rem;
    margin-top: -.6rem;
    font-size: .9em;
    line-height: 1.35em;
    box-shadow: 1px 3.5px 5px 1px rgba(170, 174, 181, 0.45);
    //background-color: #fff3cd;
    //border-color: #ffeeba;

    &:after {
        z-index: -10;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 0;
        bottom: -20px;
        left: calc(50% - 10px);
        //top:0;
        box-sizing: border-box;
        border: 10px solid #fff;
        border-color: transparent transparent #fff3cd #fff3cd;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        box-shadow: 1px 3.5px 5px 1px rgba(170, 174, 181, 0.45);
      }
    &:before {
        z-index: 10;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 0;
        bottom: -20px;
        left: calc(50% - 10px);
        //top:0;
        box-sizing: border-box;
        border: 10px solid black;
        border-color: transparent transparent #fff3cd #fff3cd;
        transform-origin: 0 0;
        transform: rotate(-45deg);
    }

    &.alert-dismissible {
        padding-right: 3.5rem;
    }
}


/*.btn-group {

    > .btn {
        //padding: 0.20rem 0.85rem;
        //border-radius: .7em;

        &-secondary {
            &:not(:disabled):not(.disabled) {
                &:active, &.active {
                    color: $white;
                    background-color: $darkest-blue;
                    border-color: $darkest-blue;
                }
            }
        }
    }
}*/

/* Advanced Search */
.searchCriteria {

    .entity {

         &_name {             
             width:9rem;

            > p {
                padding: .5em;
                margin: 0;
            }
         }
         
         &_prop {
             display: inline-block;
             margin: .45rem .5rem .25rem 0;
        }
        
        .prop_name {
            //font-weight: $font-weight-semibold;
            padding-right: .25em;
        }

        ul {
            display: inline-block;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            font-size: .85em;

            li {
                display: inline-block;
                margin-bottom: .25em;
                
                &:not(:last-child) {
                    margin-right: .25em;
                }

                p {
                    margin-bottom: 0;
                }

                //Badge style
                padding: 0.25em 0.5em;
                font-weight: normal;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: 0.25rem;
                color: #fff;
                background-color: $soft-blue;
            }
        }
    }
}

.refineSearch {
    position: absolute;
    bottom: -2.5em;
    right: 0;
}

.hasTooltip {

    .form-group {
        padding-right: 30px;
    }

    [data-toggle="tooltip"] {
        position: absolute;
        top: 7px;
        right: 15px;
        color: $input-border-color;
    }

    &-checkbox {
        [data-toggle="tooltip"] {
            top: 0;
        }
    }

}

/* Search Result */
.resultSection {
    th {
        &.actionBtns {
            .btn {
                margin-right: 30px; //reserve the space for the delete button on the rows
            }
        }
    }
}

/* Contact */
.scoreNcontact {    

    .tooltip-info-icon {
        font-size: .25rem;
    }

    .score {
        font-size: 5.5em;
        line-height: 1.2em;
    }

    .svg-inline--fa {
        font-size: 4em;
        margin-bottom: .25em;
    }
}

.modal-body-article {
    max-height: 80vh;
    overflow-y: scroll;
}

/* Outlet */
.mediaType {

    .col {
        color: $active-blue;
        padding-top: 1rem;

        &.active {
            color: $white;
            background-color: $active-blue;
        }

        &:hover {
            text-decoration: none;
        }

        &:not(:first-child):not(:last-child) {
            background:
             linear-gradient(
               to bottom,
               white 0, 
               white 20%,
               $soft-blue 20%, 
               $soft-blue 70%, 
               white 70%, 
               white )no-repeat;
           background-size:1px 100%;
           background-position: right top;
        }
    }

    .svg-inline--fa {
        font-size: 2.5rem;
    }
}

.businesses {

    .card-text {
        /*column-count: 2;
        column-gap: 3em;
        column-rule: 1px solid $input-border-color;*/

        a {
            color: $grey-heading;
        }
    }

    &-columns {
        > div:nth-of-type(even) {
            border-left: 1px solid $input-border-color;
        }
    }
}

.socialEngagement {

    li {
        padding: .75em 0;
        border-bottom: 1px solid $input-border-color;
    }

    .svg-inline--fa {
        font-size: 2em;
    }

    .number {
        border-bottom: 1px solid $grey-heading;
        padding-bottom: .1em;
    }
}

/* Lists */
.group {
    margin-bottom: 1px;

    &-header {
        background-color: $active-blue;
        color: $white;
        padding: .75rem;
        border-radius: .25rem;

        .btn {
            color: $white;
        }
    }    
}

.export-fields {

    &-container {
        border: 1px solid $input-border-color;
        border-radius: 0.5rem;
    }

    &-header {
        background-color: $table-striped-grey-even;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    &-column {
        height: 13em;
        padding-top: 15px;
        padding-bottom: 15px;
        overflow-x: hidden;
        overflow-y: scroll;

        .exportField {
            display: flex;
        }

        .drag {
            font-size: .85em;
            padding-top: .2em;
            padding-right: .2em;
        }
    }
}

/* Media Events */
.positionAddEvent {
    position: absolute;
    right: 1em;
    top: 1em;
}

/* misc */
ul.typeahead {
        height: 300px; 
        overflow-y: scroll; 
        overflow-x: hidden;
        
        &.dropdown-menu {
            border-radius: .5rem;
            border-color: $input-border-color;
        }

        .active .dropdown-item {
            background-color: $active-blue;
            color: $white;
        }
}

span.sortable, 
.cursor-pointer {
    cursor: pointer;
}

.avatar {
    color: #fff;
    background-color: $orange;
    width: 90px;
    height: 90px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 2.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    border-radius: 50%;
    justify-content: center;
    
    &-xs {
        width: 44px;
        height: 44px;
        font-size: 1.3rem;
    }

    &-sm {
        width: 58px;
        height: 58px;
        font-size: 1.75rem;
    }

    &-lg {
        width: 117px;
        height: 117px;
        font-size: 3.5rem;
    }

    &-shadow {
        box-shadow: 0px 3px 3px #666;
    }

    &-placeholder {
        height: 100px; //contact page

            & .fa-2x {
                font-size: 2.9em;
            }

            .fa-stack-1x {
                font-size: .85em;
            }
    }

    &-outlet {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: left;
    }

    &-container {
            height: 56px; //search results

            & .fa-2x {
                font-size: 1.6em;
            }

            & .fa-stack-1x {
                font-size: .85em;
            }
    }
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}