﻿@model string
<p>
    The Daily Diary is a list of key news events happening on a single day and items on the list indicate which events journalists are planning to attend.
    Use the Daily Diary to assit your media planning and avoid conflicts with other events or a busy news agenda.
</p>
<div class="mt-4">
    @Html.Raw(Model)
</div>