﻿@using Medianet.UmbracoContent.Model

@model List<AgendaItem>

<a class="btn btn-sm btn-primary positionAddEvent" href="https://www.medianet.com.au/submit-event" target="_blank" rel="noopener">Add your event</a>
<p>
    The Media Events Calendar is a list of local, state and national events submitted by Medianet clients and as collated by our research team. 
    You can request to have your event posted here by clicking the add your event button above.
</p>
<ul class="list-group list-group-flush">
    @foreach (var item in Model)
    {
        <li class="list-group-item pt-3">
            <h5 class="mb-0"><a class="text-primary" href="@item.Url" target="_blank" rel="noopener">@item.Caption</a></h5>
            <span class="font-weight-semibold">@item.Date</span><br />
            <span>@item.Location</span>
            <div class="mt-3">
                @Html.Raw(Server.HtmlDecode(item.Details))
            </div>
        </li>
    }
</ul>
