﻿@{
    ViewBag.Title = "Media Events";
}

<div class="d-flex align-items-end justify-content-between">
    <h2 class="mb-0">Media Events</h2>
</div>
<div class="card mt-3 mb-4 mb-xl-5">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <ul class="nav nav-tabs justify-content-start mt-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="dailydiary-tab" data-toggle="tab" href="#dailydiary" role="tab" aria-controls="dailydiary" aria-selected="true">Daily Diary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mediaevents-tab" data-toggle="tab" href="#mediaevents" role="tab" aria-controls="mediaevents" aria-selected="false">Media Events</a>
                    </li>
                </ul>
                <div class="tab-content tab-lists mt-2" id="myTabContent">
                    <div class="tab-pane fade show active" id="dailydiary" role="tabpanel" aria-labelledby="dailydiary-tab">
                        @Html.Action("RenderDailyDiary")
                    </div>
                    <div class="tab-pane fade" id="mediaevents" role="tabpanel" aria-labelledby="mediaevents-tab">
                        @Html.Action("RenderMediaEventsAgenda")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>