﻿@using Medianet.Contacts.Web.Common.Model
@model List<ListBase>
@{ var allItems = Model.Where(l => l.Status).ToList(); }
<div class="card">
    <div class="card-body">
        <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">APPEARS ON YOUR LISTS</h5>
        <ul>
            @foreach (ListBase list in allItems)
            {
                <li class="list-group-item list-group-item-grey @(allItems.IndexOf(list) > 9 ? "extra-lists collapse" : "")">
                    @list.Name
                </li>
            }
        </ul>
    </div>
</div>
