﻿@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
@if (Model.Contacts != null && Model.Contacts.Any())
{
    int outletContactCount = int.Parse(System.Configuration.ConfigurationManager.AppSettings["OutletContactCount"] ?? "0");
    <div class="card" data-twitterimage-url="@Url.Action("UserTwitterImage", "Social")">
        <div class="card-body">
            <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">CONTACTS</h5>
            <div>
                @foreach (var item in Model.Contacts.OrderByDescending(c => c.IsPrimaryNewsContact).ThenBy(c => c.Name).Take(outletContactCount))
                {
                    <span>
                        <img width="44" height="44" alt="Contact avatar" style="border-radius: 5em !important;"
                                src="@(item.SocialDetails.Twitter.HasValue() ? "https://avatars.io/twitter/" + item.SocialDetails.Twitter :
                                    System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + "/Content/Images/user_profile_avatar.png")" />
                        <span>
                            @Html.PrivateIconHelper(item.Type)
                            <span style="@(item.IsPrimaryNewsContact ? "" : "display: none;")">
                                <img src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + "Content/Images/email-assets/star.png")" width="12" />
                            </span>
                            <b>@item.Name.FirstName @item.Name.LastName</b>
                            <small>
                                @item.JobTitle
                            </small>
                        </span>
                    </span>
                    <hr />
                }
            </div>
        </div>
    </div>
}