﻿@using Medianet.Contacts.Web.MediaContactsService
@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel

<div class="mediaType">
    <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">&nbsp;&nbsp;MEDIA TYPE</h5>
    <div style="text-align: center !important;">
        <div style="color: #fff; background-color: #4a90e2;">
            <i class="fal @(SharedFunctions.GetProductTypeClass(Model.MediaType == null ? "" : Model.MediaType.Category))"></i>
            <br />
            <p style="font-size: .85em !important;">
                @(Model.MediaType == null ? "" : Model.MediaType.Name.Trim().ToUpper())
            </p>
            <br />
        </div>
        @if (Model.RelatedMediaOutlets != null)
        {
            foreach (MediaOutletPartial item in Model.RelatedMediaOutlets)
            {
                
                <p style="font-size: .85em !important;">@((item.ProductTypeName ?? "unknown").ToUpper())</p>
            }
        }
    </div>
</div>