﻿@using Medianet.Contacts.Web.MediaContactsService
@model List<MediaOutletPartial>

<div class="card">
    <div class="card-body">
        <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">@(ViewBag.IsSyndicatingTo ? "SYNDICATING TO" : "SYNDICATED FROM")</h5>
        <ul>
            @foreach (MediaOutletPartial item in Model)
            {
                <li>
                    @item.Name
                </li>
            }
        </ul>
    </div>
</div>
