﻿@using Medianet.Contacts.Web.MediaContactsService
@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
<div class="card">
    <div class="card-body">
        <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">BUSINESSES</h5>
        <div class="card-text">
            @foreach (var item in Model.MediaOwnerOutlets)
            {
                <div>
                    @item.Name
                </div>
            }
        </div>
    </div>
</div>