﻿@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
<div class="card mb-4">
    <div class="card-body">
        <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">OUTLET PROFILE</h5>
        <div>
            @if (Model.Frequency != null && !string.IsNullOrEmpty(Model.Frequency.Name) && Model.Frequency.Name != "0")
            {
                <div>
                    <b>Frequency</b>
                    <span>@Model.Frequency.Name</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Deadlines) && Model.Deadlines != "0")
            {
                <div>
                    <b>Deadlines</b>
                    <span>@Model.Deadlines</span>
                </div>
            }
            @if (Model.Languages != null && Model.Languages.Any())
            {
                <div>
                    <b>Languages</b>
                    <span>@string.Join(",", Model.Languages.Select(m => m.Name))</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.CopyPrice) && Model.CopyPrice != "0")
            {
                <div>
                    <b>Cover Price</b>
                    <span>@Model.CopyPrice</span>
                </div>
            }
            @*@if (Model.Readership.HasValue && Model.Readership > 0)
            {
                <div>
                    <b>Readership</b>
                    <span>@string.Format("{0:N0}", Model.Readership)</span>
                </div>
            }*@
            @if (Model.Audience.HasValue && Model.Audience > 0)
            {
                <div>
                    <b>Audience</b>
                    <span>@string.Format("{0:N0}", Model.Audience)</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Circulation) && Model.Circulation != "0")
            {
                <div>
                    <b>Circulation</b>
                    <span>@Model.Circulation</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.YearEstablished))
            {
                <div>
                    <b>Established</b>
                    <span>@Model.YearEstablished</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.NewsFocusName))
            {
                <div>
                    <b>News Focus</b>
                    <span>@Html.Raw(Model.NewsFocusName.Replace(Environment.NewLine, "<br />"))</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.CallLetters))
            {
                <div>
                    <b>Call Letters</b>
                    <span>@Html.Raw(Model.CallLetters.Replace(Environment.NewLine, "<br />"))</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.NamePronunciation))
            {
                <div>
                    <b>Pronunciation of Name</b>
                    <span>@Html.Raw(Model.NamePronunciation.Replace(Environment.NewLine, "<br />"))</span>
                </div>
            }
            @if (Model.SubscriptionOnlyPublication)
            {
                <div>
                    <b>Subscription Only</b>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.AlsoKnownAs))
            {
                <div>
                    <b>Also Known As</b>
                    <span>@Html.Raw(Model.AlsoKnownAs.Replace(Environment.NewLine, "<br />"))</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.BroadcastTime))
            {
                <div>
                    <b>Published Broadcast Time</b>
                    <span>@Html.Raw(Model.BroadcastTime.Replace(Environment.NewLine, "<br />"))</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.PressReleaseInterests))
            {
                <div>
                    <b>Special Interests</b>
                    <span>@Html.Raw(Model.PressReleaseInterests.Replace(Environment.NewLine, "<br />"))</span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.RegionsCovered))
            {
                <div>
                    <b>Regions Covered</b>
                    <span>@Html.Raw(Model.RegionsCovered.Replace(Environment.NewLine, "<br />"))</span>
                </div>
            }

            @if (Model.OutletDemographics != null)
            {
                <div>
                    <b>Demographics</b>
                    @if (!string.IsNullOrEmpty(Model.OutletDemographics.ABs))
                    {
                        <span>AB’s @Model.OutletDemographics.ABs</span>
                    }
                    @if (!string.IsNullOrEmpty(Model.OutletDemographics.GBs))
                    {
                        <span>GB’s @Model.OutletDemographics.GBs</span>
                    }
                    @if (!string.IsNullOrEmpty(Model.OutletDemographics.M16Plus))
                    {
                        <span>Male 16+ @Model.OutletDemographics.M16Plus</span>
                    }
                    @if (!string.IsNullOrEmpty(Model.OutletDemographics.F16Plus))
                    {
                        <span>Female 16+ @Model.OutletDemographics.F16Plus</span>
                    }
                    @if (!string.IsNullOrEmpty(Model.OutletDemographics.P16Plus))
                    {
                        <span>All People 16+ @Model.OutletDemographics.P16Plus</span>
                    }
                </div>
            }

        </div>
    </div>
</div>