﻿@using Medianet.Contacts.Web.MediaContactsService
@using Medianet.Contacts.Wcf.DataContracts.DTO
@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
<div class="card">
    <div class="card-body">
        <p style="text-align: center !important;">
            @if (!string.IsNullOrEmpty(Model.LogoFileName))
            {
                string src = new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(Model.LogoFileName);
                if (!string.IsNullOrEmpty(src))
                {
                    <img class="img-fluid" src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + src)" alt="Outlet logo" style="max-width:120px;" /><br>
                }
            }
            @Html.PrivateIconHelper(Model.Type)
            <b class="text-large">@Model.Name</b><br>
            @if (Model.PublishedOn.HasValue())
            {
                @Html.Raw(Model.PublishedOn.Replace(Environment.NewLine, "<br>"))
            }
        </p>
        @if (UriHelper.Host(Model.WebUrl).HasValue())
        {
            <p style="text-align: center !important;">
                <a href="@Model.WebUrl" target="_blank" class="text-primary font-weight-bold">@(UriHelper.Host(Model.WebUrl))</a>
            </p>
        }
        @if (UriHelper.Host(Model.AdditionalWebsite).HasValue())
        {
            <p style="text-align: center !important;">
                <a href="@Model.AdditionalWebsite" target="_blank" class="text-primary font-weight-bold">@(UriHelper.Host(Model.AdditionalWebsite))</a>
            </p>
        }

        @if (Model.Email.HasValue() || Model.AlternativeEmailAddress.HasValue() || Model.Mobile.HasValue() || Model.Phone.HasValue() || Model.AdditionalPhoneNumber.HasValue() || Model.DeliveryMethod.HasValue)
        {
            <hr>
            if (Model.Email.HasValue())
            {
                <p>
                    <b>Email: </b>
                    <a href="mailto:@(Model.Email)" title="@(Model.Email)">@Model.Email</a>
                </p>
            }
            if (Model.AlternativeEmailAddress.HasValue())
            {
                <p>
                    <b>Alternative Email: </b>
                    <a href="mailto:@(Model.AlternativeEmailAddress)" title="@(Model.AlternativeEmailAddress)">@Model.AlternativeEmailAddress</a>
                </p>
            }
            if (Model.Mobile.HasValue())
            {
                <p>
                    <b>Mobile: </b>
                    <span class="text-nowrap">@Model.Mobile</span>
                </p>
            }
            if (Model.Phone.HasValue())
            {
                <p>
                    <b>Phone: </b>
                    <span class="text-nowrap">@Model.Phone</span>
                </p>
            }
            if (Model.AdditionalPhoneNumber.HasValue())
            {
                <p>
                    <b>Additional Phone: </b>
                    <span>@Model.AdditionalPhoneNumber</span>
                </p>
            }
            if (Model.DeliveryMethod.HasValue)
            {
                <p>
                    <b>Preferred Contact Method: </b>
                    <span class="text-nowrap">@Model.DeliveryMethod</span>
                </p>
            }
        }

        @if (Model.Address != null)
        {
            <hr>
            <p>
                <b>Address: </b><br>
                <span class="address">
                    @if (Model.Address.AddressLine1.HasValue())
                    {
                        @Model.Address.AddressLine1.Trim()
                        <br />
                    }
                    @if (Model.Address.AddressLine2.HasValue())
                    {
                        @Model.Address.AddressLine2.Trim()
                        <br />
                    }
                    @Html.LabelForModel(string.Join(", ", new List<string> {
                            Model.Address.City, Model.Address.State, Model.Address.PostCode , Model.Address.Country }.FindAll(m => !string.IsNullOrEmpty(m))))
                </span>
            </p>
        }
        @if ((int)Model.Type == (int)Medianet.Contacts.Wcf.DataContracts.DTO.RecordType.MediaOutlet)
        {
            if (Model.PostalAddress != null)
            {
                <hr>
                <p>
                    <b>Postal Address: </b><br>
                    <span class="address">
                        @if (Model.PostalAddress.AddressLine1.HasValue())
                        {
                            @Model.PostalAddress.AddressLine1.Trim()
                            <br />
                        }
                        @if (Model.PostalAddress.AddressLine2.HasValue())
                        {
                            @Model.PostalAddress.AddressLine2.Trim()
                            <br />
                        }
                        @Html.LabelForModel(string.Join(", ", new List<string> {
                            Model.PostalAddress.City, Model.PostalAddress.State, Model.PostalAddress.PostCode , Model.PostalAddress.Country }.FindAll(m => !string.IsNullOrEmpty(m))))
                    </span>
                </p>
            }
            if (Model.OfficeHours.HasValue())
            {
                <p>
                    <b>Office Hours: </b><br>
                    @Html.Raw(Model.OfficeHours.Replace(Environment.NewLine, "<br>"))
                </p>
            }
        }
        @if (@Model.ParentOutlet != null)
        {
            <hr>
            <p>
                <b>Parent Company:</b><br>
                <span>
                    @Model.ParentOutlet.Name
                    @if (!string.IsNullOrEmpty(Model.ParentOutlet.LogoFileName))
                    {
                        <span style="text-align:center; display:block;">
                            <img class="img-fluid" src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(Model.ParentOutlet.LogoFileName))" alt="Outlet logo" style="max-width:120px;" />
                        </span>
                    }
                </span>
            </p>
        }
    </div>
</div>