﻿@using Medianet.Contacts.Wcf.DataContracts.DTO
@using Medianet.Contacts.Web.ViewModels;
@{
    int? influencerScore = Model.MediaInfluencerScore;
}
<div class="card scoreNcontact">
    <div style="text-align: center !important;">
        @if (influencerScore.GetValueOrDefault() != 0)
            {
            <div style="color: #4a90e2 !important;">
                <b style="font-size: 5.5em; line-height: 1.2em;">@Model.MediaInfluencerScore</b>
                <p style="font-size: .85em !important;">INFLUENCER SCORE</p>
            </div>
        }
        @if (Model.DeliveryMethod != null)
        {
            DeliveryMethodViewModel deliveryModel = SharedFunctions.GetPreferredDeliveryMethodClass(Model);
            <div style="background-color: #4a90e2; color: #ffffff !important;">
                <br />
                <i class="@(deliveryModel.CssClass) fa-pull-right ml-0"></i>
                @if (!string.IsNullOrEmpty(deliveryModel.DeliveryMethod))
                {
                    <p style="font-size: .85em !important;">
                        <span>Preferred Contact Method</span><br><br>
                        <span class="text-white">@(deliveryModel.DeliveryMethod.ToUpper())</span>
                    </p>
                }
                <br />
            </div>
        }

    </div>
</div>
