﻿@using Medianet.Contacts.Web.ViewModels.Social
@model Medianet.Contacts.Web.Common.Model.SocialInfo
@if (Model != null)
{
    <div class="card socialEngagement">
        <div class="card-body">
            <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">SOCIAL ENGAGEMENT</h5>
            <div>
                @if (ViewBag.TwitterInfo != null)
                {
                    <span>
                      @Html.Partial("~/Views/Outlet/ShareProfile/_TwitterPartial.cshtml", (TwitterUserViewModel)ViewBag.TwitterInfo)
                    </span>
                    <hr />
                }
                @if (ViewBag.YoutubeInfo != null)
                {
                    <span>
                        @Html.Partial("~/Views/Outlet/ShareProfile/_YouTubePartial.cshtml", (YouTubeViewModel)ViewBag.YoutubeInfo)
                    </span>
                    <hr />
                }
                @if (!string.IsNullOrEmpty(UriHelper.AbsolutePath(Model.Facebook)))
                {
                    var facebookName = UriHelper.AbsolutePath(Model.Facebook).Trim('/');
                    if (facebookName.ToLower().Contains(".php") ||(facebookName.Length > 6 && facebookName.Substring(facebookName.Length - 6).IsInt()))
                    {
                        facebookName = Model.Name;
                    }
                    <span>
                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + "Content/Images/email-assets/facebook-f.png")" width="20" title="[Facebook]" />
                        <b><a href="@Model.Facebook" target="_blank">@facebookName</a></b>
                    </span>
                    <hr />
                }
                @if (!string.IsNullOrEmpty(UriHelper.AbsolutePath(Model.Instagram)))
                {
                    <span>
                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + "Content/Images/email-assets/instagram.png")" width="20" title="[Instagram]" />
                        <b><a href="@Model.Instagram" target="_blank">@(UriHelper.AbsolutePath(Model.Instagram).Trim('/'))</a></b>
                    </span>
                    <hr />
                }
                @if (!string.IsNullOrEmpty(UriHelper.AbsolutePath(Model.LinkedIn)))
                {
                    <span>
                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + "Content/Images/email-assets/linkedin-in.png")" width="20" title="[LinkedIn]" />
                        <b><a href="@Model.LinkedIn" target="_blank">@(Model.Name)</a></b>
                    </span>
                    <hr />
                }
                @if (!string.IsNullOrEmpty(UriHelper.AbsolutePath(Model.SnapChat)))
                {
                    <span>
                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + "Content/Images/email-assets/snapchat-ghost.png")" width="20" title="[Snapchat]" />
                        <b><a href="@Model.SnapChat" target="_blank">@(UriHelper.AbsolutePath(Model.SnapChat).Trim('/'))</a></b>
                    </span>
                    <hr />
                }
            </div>
        </div>
    </div>
}