﻿@using Medianet.Contacts.Web.Common.Model
@model List<Subject>
@{var allItems = Model.OrderBy(s => s.Name).ToList(); }

<div class="card">
    <div class="card-body">
        <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">SUBJECT PROFILE</h5>
        <ul>
            @foreach (var item in allItems)
            {
                <li>@item.Name</li>
            }
        </ul>
    </div>
</div>
