﻿@model Medianet.Contacts.Web.ViewModels.Social.TwitterUserViewModel
<p>
    <img src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + "Content/Images/email-assets/twitter.png")" width="20" title="[Twitter]" />
    <b><a href="https://twitter.com/@Model.Handle" target="_blank">@Model.Handle</a></b>
</p>
@if (Model.Followers.HasValue)
{
    <span style="display: inline-block; padding-bottom: .25em;"><span style="border-bottom: 1px solid #6e6e6e; padding-bottom: .1em;">@string.Format("{0:N0}", Model.Followers)</span> followers</span>
    <br />
}
@if (Model.Following.HasValue)
{
    <span style="display: inline-block; padding-bottom: .25em;"><span style="border-bottom: 1px solid #6e6e6e; padding-bottom: .1em;">@string.Format("{0:N0}", Model.Following)</span> following </span>
    <br />
}
@if (Model.Tweets.HasValue)
{
    <span style="display: inline-block; padding-bottom: .25em;"><span style="border-bottom: 1px solid #6e6e6e; padding-bottom: .1em;">@string.Format("{0:N0}", Model.Tweets)</span> tweets</span>
    <br />
}
@if (Model.Likes.HasValue)
{
    <span style="display: inline-block; padding-bottom: .25em;"><span style="border-bottom: 1px solid #6e6e6e; padding-bottom: .1em;">@string.Format("{0:N0}", Model.Likes)</span> likes </span>
    <br />
}
@if (!string.IsNullOrEmpty(Model.Description))
{
    <small>@Model.Description </small>
}
