﻿@model Medianet.Contacts.Web.ViewModels.Social.YouTubeViewModel
<p>
    <img src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + "Content/Images/email-assets/youtube.png")" width="20" title="[Youtube]" />
    <b><a href="@Model.Url" target="_blank">@(UriHelper.AbsolutePath(Model.Url).Trim('/'))</a></b>
</p>
<span style="display: inline-block; padding-bottom: .25em;">
    <span style="border-bottom: 1px solid #6e6e6e; padding-bottom: .1em;">@string.Format("{0:N0}", Model.SubscriberCount)</span> subscribers
    <br />
</span>
<span style="display: inline-block; padding-bottom: .25em;">
    <span style="border-bottom: 1px solid #6e6e6e; padding-bottom: .1em;">@string.Format("{0:N0}", Model.VideoCount)</span> videos
    <br />
</span>
<span style="display: inline-block; padding-bottom: .25em;">
    <span style="border-bottom: 1px solid #6e6e6e; padding-bottom: .1em;">@string.Format("{0:N0}", Model.ViewCount)</span> views
</span>