﻿@{
    ViewBag.Title = "Outlet";
}
@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
@{ViewBag.OutletType = (int)Model.Type; }

<tr id="intro">
    <td class="intro" colspan="2">
        <p>Hi,</p>
        <p>You've been sent a media outlet profile, it contains the latest contact details, readership/demographics, frequency, audience and circulation statistics.</p>
        <p>For media contact profiles at this outlet or information on other Australian media outlets, visit <a href="https://www.medianet.com.au/">www.medianet.com.au</a>.</p>
    </td>
</tr>
<tr>
    <td align="left" colspan="2">
        <h2>@(Model.MediaType == null ? "" : Model.MediaType.Name.Trim()) Outlet</h2>
    </td>
</tr>
<tr>
    <td data-html-240 data-pdf-25 valign="top">
        <table border="0" cellspacing="0" cellpadding="6" align="left" style="padding:0px; margin:0px; width:100%;">
            <tr>
                <td bgcolor="#ffffff" style="page-break-inside: avoid; width:100%;">
                    @Html.Partial("~/Views/Outlet/ShareProfile/_OutletDetailsPartial.cshtml", Model)
                </td>
            </tr>
            <tr>
                <td bgcolor="#ededed"></td>
            </tr>
            @if (Model.Subjects != null && Model.Subjects.Any())
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        @Html.Partial("~/Views/Outlet/ShareProfile/_SubjectProfilePartial.cshtml", Model.Subjects)
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
            @if (Model != null && Model.SyndicatingToMediaOutlets.Any())
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        @{ViewBag.IsSyndicatingTo = true;}
                        @Html.Partial("~/Views/Outlet/ShareProfile/_MediaSyndicatedOutletsPartial.cshtml", Model.SyndicatingToMediaOutlets)
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
                            }
            @if (Model != null && Model.SyndicatedFromMediaOutlets.Any())
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        @{ViewBag.IsSyndicatingTo = false; }
                        @Html.Partial("~/Views/Outlet/ShareProfile/_MediaSyndicatedOutletsPartial.cshtml", Model.SyndicatedFromMediaOutlets)
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
                            }
            @if (Model != null && Model.BelongsToLists.Any())
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        @Html.Partial("~/Views/Outlet/ShareProfile/_BelongToListsPartial.cshtml", Model.BelongsToLists)
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed">
                        <br />
                    </td>
                </tr>
            }
        </table>@*240px wide table*@
    </td>@*first column*@
    <td data-html-400 data-pdf-75 valign="top">
        <table data-pdf-100 border="0" cellspacing="0" cellpadding="6" valign="top" align="left">
            <tr>
                <td bgcolor="#ffffff" style="page-break-inside: avoid;" data-pdf-100 align="left">
                    @Html.Partial("~/Views/Outlet/ShareProfile/_MediaType_RelatedOutletsPartial.cshtml", Model)
                </td>
            </tr>
            <tr>
                <td bgcolor="#ededed"></td>
            </tr>
            @if (!string.IsNullOrEmpty(@Model.Bio))
            {
                <tr>
                    <td data-pdf-100 bgcolor="#ffffff" style="page-break-inside: avoid;">
                        <div>
                            <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">ABOUT</h5>
                            <p>
                                @Html.FormatBioHelper(Model.Bio)
                            </p>
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                    @Html.Partial("~/Views/Outlet/ShareProfile/_OutletProfilePartial.cshtml", Model)
                </td>
            </tr>
            <tr>
                <td bgcolor="#ededed"></td>
            </tr>
            @if (Model.ParentOutlet == null && Model.MediaOwnerOutlets != null && Model.MediaOwnerOutlets.Any())
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        @Html.Partial("~/Views/Outlet/ShareProfile/_MediaOwnerOutletsPartial.cshtml", Model)
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(@Model.ProfileNotes))
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        <div>
                            <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">DETAILS</h5>
                            <p>
                                @Html.FormatBioHelper(Model.ProfileNotes)
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
            @if (Model.SocialDetails != null)
            {
                <tr>
                    <td bgcolor="#e4e4e2" style="page-break-inside: avoid;">

                        @Html.Partial("~/Views/Outlet/ShareProfile/_SocialEngagementPartial.cshtml", Model.SocialDetails)

                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
            <tr>
                <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                    @Html.Partial("~/Views/Outlet/ShareProfile/_ContactsPartial.cshtml", Model)
                </td>
            </tr>
            <tr>
                <td bgcolor="#ededed"></td>
            </tr>
        </table>@*380px wide table*@
    </td>
</tr>
