﻿@using Medianet.Contacts.Web.Common.Model
@model List<ListBase>
@if (Model != null && Model.Any())
{
    var allItems = Model.Where(l => l.Status).ToList();
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Appears On Your Lists</h5>
            <ul class="list-group list-group-flush">
                @foreach (ListBase list in allItems)
                {
                    <li class="list-group-item list-group-item-grey @(allItems.IndexOf(list) > 9 ? "extra-lists collapse" : "")">
                        @Html.RouteLink(list.Name, new { Controller = "List", Action = "Index", ListId = list.Id })
                    </li>
                }
            </ul>
            @if (allItems.Count > 10)
            {
                <div class="showMoreLess lnk-toggle collapsed" data-toggle="collapse" data-target=".extra-lists">
                    <a class="lnk-toggle-show">more ...</a>
                    <a class="lnk-toggle-hide">less</a>
                </div>
            }
        </div>
    </div>
}