﻿<div class="modal fade"  data-confirm_modal tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-confirm-title></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <label>Are you sure you want to delete<b data-confirm-text></b>?</label>
                        </div>
                        <div>
                            <label data-confirm-description></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-confirm-click>Delete</button>
            </div>
        </div>
    </div>
</div>