﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto+Condensed:300,400,700" rel="stylesheet">
    <style>
        body {
            background-color:#ededed;
        }
        a {
            color: #020202 !important;
            text-decoration: none !important;
        }

            a:hover {
                text-decoration: underline !important;
            }

        .text-white a {
            color: white !important;
        }

        .d-none {
            display: none;
        }

        ul {
            padding-left: 1rem;
        }

        .list-unstyled {
            padding-left: 0;
            list-style: none;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        .rounded-circle {
            border-radius: 50% !important;
        }

        .text-center {
            text-align: center !important;
        }

        .smallCaps {
            text-transform: uppercase;
            font-size: .85em !important;
        }

        .text-large {
            font-size: 1.25em;
        }

        .font-weight-bold {
            font-weight: 700 !important;
        }

        .bg-activeBlue {
            background-color: #4a90e2;
        }

        .text-softBlue {
            color: #68a8e6;
        }

        a.text-softBlue {
            color: #68a8e6 !important;
        }

        .text-white {
            color: #ffffff !important;
        }

            .text-white a {
                color: #ffffff !important;
            }

        .card-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: .95rem;
            line-height: 1.2;
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
        }

        .socialEngagement .number {
            border-bottom: 1px solid #6e6e6e;
            padding-bottom: .1em;
        }

        .mediaType .col.active {
            color: #fff;
            background-color: #4a90e2;
        }

        .scoreNcontact .score {
            font-size: 5.5em;
            line-height: 1.2em;
        }

        .intro {
            padding: 10px;
        }

        table {
            page-break-inside: auto;
        }

        td.nobreak {
            page-break-inside: avoid;
        }
    </style>
</head>
<body bgcolor="#ededed" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;background-color:#ededed;color:#020202;-webkit-text-size-adjust:none;">
    <table data-html-640 data-pdf-100 cellpadding="6" cellspacing="0" border="0" align="center" bgcolor="#ededed">
        <tr id="intro">
            <td bgcolor="#ededed" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td data-pdf-100 bgcolor="#ffffff" align="left" colspan="2" style="padding-left:10px;">
                <img src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + "Content/Images/medianet_contacts_logo.png")" title="Medianet Logo" />
            </td>
        </tr>
        @RenderBody()
    </table>@*640px wide - table - center*@
</body>
</html>