﻿@using Medianet.Contacts.Wcf.DataContracts.DTO
@using Medianet.Contacts.Web.Common
@using System.Configuration
@model object
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto+Condensed:300,400,700" rel="stylesheet">
    @Styles.Render("~/Content/css/main")
    @RenderSection("Styles", required: false)
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M7LTTVQ');</script>
    <!-- End Google Tag Manager -->
</head>
<body data-generic-error-message="@ConfigurationManager.AppSettings["GenericErrorMessage"]" data-login-page="@ConfigurationManager.AppSettings["LoginPageUrl"]">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7LTTVQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container-fluid" data-spinnercontainer="main">
        <span class="d-none" id="prIcon">@Html.PrivateIconHelper(RecordType.OmaContactAtOmaOutlet)</span>
        <div class="row flex-column align-items-center d-sm-none p-3 bg-white header">
            <a class="my-0 mr-sm-auto" href="/">
                <img src="~/Content/Images/medianet_contacts_logo.png" width="180" />
            </a>
            <div class="d-sm-none text-center mt-2">
                @if (SessionManager.Instance.IsUserLoggedIn())
                {
                    <span>@SessionManager.Instance.CurrentUser.FullName | </span>
                    <span class="small text-orange">@SessionManager.Instance.CurrentUser.CompanyName</span><br>
                    @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "text-body" })
                }
            </div>
        </div>
        <div class="row flex-nowrap content">
            <div class="left-col d-none d-sm-block text-white">
                <div class="bg-white p-3">
                    <a class="my-0 mr-sm-auto" href="/">
                        <img src="~/Content/Images/medianet_contacts_logo.png" width="180" />
                    </a>
                </div>
                @if (SessionManager.Instance.IsUserLoggedIn())
                {
                    <div class="px-3 py-4 user">
                        <div>
                            <b class="">@SessionManager.Instance.CurrentUser.FullName</b>
                            @if (SessionManager.Instance.CurrentUser.HasDistributionWebAccess || SessionManager.Instance.CurrentUser.HasJournalistsWebAccess)
                            {
                                <button id="btnMore" type="button" class="btn btn-link btnMore text-white dropdown-toggle py-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnMore">
                                    <p class="pl-4 mb-2"> Switch To:</p>
                                    <div class="dropdown-divider"></div>
                                    @if (SessionManager.Instance.CurrentUser.HasDistributionWebAccess)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Distribution", "Account")">Medianet Distribution</a>
                                    }
                                    @if (SessionManager.Instance.CurrentUser.HasJournalistsWebAccess)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Journalists", "Account")">Medianet Journalists</a>
                                    }
                                </div>
                            }
                        </div>
                        <span class="small text-orange">@SessionManager.Instance.CurrentUser.CompanyName</span>
                        <br />
                        @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "text-white" })
                    </div>
                    <ul class="nav flex-column text-center">
                        <li class="nav-item @Html.IsSelected("Search")">
                            <a class="nav-link d-flex pl-3" href="/Search">
                                <i class="fal fa-search fa-fw" aria-hidden="true"></i>
                                <span>Search</span>
                            </a>
                        </li>
                        <li class="nav-item @Html.IsSelected("AllLists")">
                            <a class="nav-link d-flex pl-3" href="/AllLists">
                                <i class="fal fa-bars fa-fw" aria-hidden="true"></i>
                                <span>Lists</span>
                            </a>
                        </li>
                        <li class="nav-item @Html.IsSelected("AllSavedSearches")">
                            <a class="nav-link d-flex pl-3" href="/AllSavedSearches">
                                <i class="fal fa-star fa-fw" aria-hidden="true"></i>
                                <span>Saved Searches</span>
                            </a>
                        </li>
                        <li class="nav-item @Html.IsSelected("Distribution")">
                            <a class="nav-link d-flex pl-3" href="/Distribution">
                                <i class="fal fa-share-square fa-fw" aria-hidden="true"></i>
                                <span>Send Media Release</span>
                            </a>
                        </li>
                        <li class="nav-item @Html.IsSelected("MediaEvents")">
                            <a class="nav-link d-flex pl-3" href="/MediaEvents">
                                <i class="fal fa-calendar-alt fa-fw" aria-hidden="true"></i>
                                <span>Media Events</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex pl-3" target="_blank" rel="noopener" href="http://www.medianet.com.au/events-and-training">
                                <i class="fal fa-tasks fa-fw" aria-hidden="true"></i>
                                <span>Training</span>
                            </a>
                        </li>
                        <li class="nav-item @Html.IsSelected("Account", "MyAccount")">
                            <a class="nav-link d-flex pl-3" href="/Account/MyAccount">
                                <span class="fal fa-user fa-fw"></span>
                                <span>My Account</span>
                            </a>
                        </li>
                        <li class="nav-item @Html.IsSelected("ContactUs")">
                            <a class="nav-link d-flex pl-3" href="/ContactUs">
                                <i class="fal fa-phone fa-fw" aria-hidden="true"></i>
                                <span>Contact Us</span>
                            </a>
                        </li>
                    </ul>
                }
            </div>
            @{ bool isSearchPage = this.ViewContext.RouteData.Values["action"].ToString().ToLower() == "index" && this.ViewContext.RouteData.Values["controller"].ToString().ToLower() == "search"; }
            @Html.Hidden("hfRedirectToSearchPage", !isSearchPage)
            <div class="right-col col pt-2 pt-sm-4">
                <div class="row main-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-none d-sm-block float-right floatingLoggedIn">
                                    @if (SessionManager.Instance.IsUserLoggedIn())
                                    {
                                        <div class="d-flex align-items-end">
                                            <span class="d-none d-md-flex flex-column small px-3 border-right">
                                                <b>Last Session</b>
                                                <span>@(SessionManager.Instance.CurrentUser.LastLogonTime.ToString("dddd, dd MMMM"))</span>
                                                <span class="text-lowercase">@(SessionManager.Instance.CurrentUser.LastLogonTime.ToString("hh:mm tt"))</span>
                                            </span>
                                            <div class="px-3 py-2 border-right">
                                                @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "small text-uppercase text-softBlue font-weight-semibold" })
                                            </div>
                                            <button class="btn btn-link align-self-end py-2 lnk-toggle @(!isSearchPage? " collapsed" : "")" data-toggle="collapse" data-target="#pnlQuickSearch">
                                                <i class="fal fa-search fa-fw fa-lg text-softBlue lnk-toggle-show"></i>
                                                <i class="fal fa-times fa-fw fa-lg text-softBlue lnk-toggle-hide"></i>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @*@if (SessionManager.Instance.IsUserLoggedIn())
                                    {
                                        <div id="pnlQuickSearch" data-action="@Url.Action("QuickSearchPanel", "Search")" class="collapse @(isSearchPage? " show" : "")">
                                            @if (isSearchPage)
                                            {
                                                @Html.Partial("~/Views/Search/_QuickSearchPanelPartial.cshtml", Model)
                                            }
                                        </div>
                                    }*@
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2 bg-white footer">
                    <footer class="container d-flex flex-column align-items-center">
                        <nav class="my-2 my-md-0">
                            <a class="p-2 text-dark" href="https://www.medianet.com.au/privacy-policy/" target="_blank" rel="noopener">Privacy Policy</a> |
                            <a class="p-2 text-dark" href="https://www.medianet.com.au/terms-and-conditions/" target="_blank" rel="noopener">Terms and Conditions</a> |
                            <a class="p-2 text-dark" href="https://www.medianet.com.au/anti-spam-policy/" target="_blank" rel="noopener">Anti-Spam Policy</a>
                            <span class="ml-4 text-dark">&#169; Medianet @DateTime.Now.Year</span>
                        </nav>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    @if (!Html.IsCompatible())
    {
        @Html.Partial("_OutdatedBrowserPartial")
    }
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="ModalContainer">
        </div>
    </div>
    @Html.Partial("_ErrorPopupPartial")
    @Html.Partial("_ConfirmPartial")
    @Scripts.Render("~/bundles/Scripts")
    @Scripts.Render("~/bundles/global")
    @RenderSection("Javascript", required: false)
</body>
</html>