﻿<div class="modal-content" id="outdatedBrowser" data-action="@Url.Action("AcceptBrowserCompatibility", "Account")">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-0">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb-4  text-body font-weight-bold">
                    <i class="fal fa-frown fa-4x" aria-hidden="true"></i><br>
                    OH NO!<br>
                    Your browser is outdated
                </h2>
                <p>To get the best experience, we recommend you update your browser.</p>
                <p>
                    Supported Browsers:<br>
                    Chrome, Safari (10+), Internet Explorer (11+), Edge, Firefox
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" onclick="MediaPeople.acceptCompatibility()">Continue anyway</button>
    </div>
</div>