﻿@using System.Collections.Generic
@using System.Linq
@using Medianet.Contacts.CSharp.ExtensionMethods

@model Medianet.Contacts.Web.ViewModels.PaginationGenericViewModel

<div id="result-navigation">
    <div id="pagination">
        @Html.HiddenFor(m => Model.NumberOfPages, new { id = "NumberOfPages" })
        @Html.HiddenFor(m => Model.ResultCount, new { id = "ResultCount" })
        @Html.HiddenFor(m => Model.Page, new { id = "Page" })
        @Html.HiddenFor(m => Model.PageSize, new { id = "PageSize" })
        @Html.HiddenFor(m => Model.CurrentPageOnly, new { id = "CurrentPageOnly" })

        @if (Model.ResultCount > 0)
        {
            <div class="pager d-flex justify-content-between align-items-center">
                <div class="clearAll d-none d-lg-flex">
                    &nbsp;
                </div>
                <div class="pageNav">
                    @if (Model.NumberOfPages > 1)
                    {
                        <button class="btn prevPage" @(Model.Page > 1 ? "" : "disabled") data-page="@((Model.Page - 1).ToString())"><i class="far fa-angle-left"></i></button>
                        @:<span>NEXT PAGE</span>
                        <button class="btn nextPage" @(Model.Page < Model.NumberOfPages ? "" : "disabled") data-page="@((Model.Page + 1).ToString())"><i class="far fa-angle-right"></i></button>
                    }
                </div>
                <div class="d-flex align-items-end">
                    @if (Model.PageSizes.Any())
                    {
                        <span>SHOW</span>
                        foreach (var size in Model.PageSizes)
                        {
                            if (size == Model.PageSize)
                            {
                                <button class="btn pageSize selected" disabled>@size.ToString()</button>
                            }
                            else
                            {
                                <button class="btn pageSize" data-page-size="@size.ToString()">@size.ToString()</button>
                            }
                        }
                    }
                    <div class="d-inline-block ml-4">
                        <span>PAGE </span>
                        @Html.TextBoxFor(m => m.Page, new { @class = "form-control goToPage" }) of @Model.NumberOfPages.ToString()
                    </div>
                </div>
            </div>
        }
    </div>
</div>