﻿@using Medianet.Contacts.CSharp.ExtensionMethods
@model List<Medianet.Contacts.Web.Common.Model.SubjectGroup>

       
<div class="dropdown-menu">
    <p>
        Filter by group...</p>
    @foreach (var sg in Model) {                                                 
        <div class="dropdown-menu-row" data-group-id="@sg.Id" data-group-name="@sg.Name">
            <a class="subject-group" href="#" title="Filter by: @sg.Name"><span class="subject-group-icon">Subject group</span></a>                                                                       
            <div class="subject-group">
                <span class="subject-group-name">@sg.Name</span>
            </div>
        </div>
        }
</div>