﻿@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="card my-4 my-xl-5">
            <div class="card-body">
                <h3 class="mb-4 text-danger"><i class="fal fa-times-circle mr-2" aria-hidden="true"></i> Something went wrong</h3>
                <h5 class="mb-4">@ViewBag.Message</h5>
            </div>
        </div>
    </div>
</div>
