﻿@using Medianet.Contacts.Wcf.DataContracts.DTO
@using Medianet.Contacts.Web.Common.Util

<div class="d-flex flex-wrap justify-content-end mt-2 actionBtns">
    <a class="d-flex mr-1 mr-sm-0 mb-2 badge badge-pill badge-primary" title="Add To List" href="#" data-addlist-url="@Url.Action("Create", "List")" data-type="@PopupType.Contact" data-search-page="false">
        <i class="fas fa-fw fa-bars"></i>
        <span class="align-self-start m-1">add to list</span>
    </a>
    <a class="d-flex mr-1 mr-sm-0 ml-sm-1 ml-lg-3 mb-2 badge badge-pill badge-primary" title="Add Note" href="#" data-addnote-url="@Url.Action("Create", "Note")" data-type="@PopupType.Contact">
        <i class="fas fa-fw fa-pencil"></i>
        <span class="align-self-start m-1">add note</span>
    </a>
    <a class="d-flex mr-1 mr-sm-0 ml-sm-1 ml-lg-3 mb-2 badge badge-pill badge-primary" title="Share Profile" href="#" data-share-profile-url="@Url.Action("Index", "ShareProfile")">
        <i class="fas fa-fw fa-share-alt"></i>
        <span class="align-self-start m-1">share profile</span>
    </a>
    @if (!RecordTypeExtensions.IsOmaType(Model.Type))
    {
        <a class="d-flex ml-sm-1 ml-lg-3 mb-2 badge badge-pill badge-success" title="Suggest Update" href="#" data-suggestion-url="@Url.Action("Index", "SuggestChanges")" data-name="@Model.Name">
            <i class="fas fa-fw fa-comment"></i>
            <span class="align-self-start m-1">suggest update</span>
        </a>
    }
</div>