﻿@{
    int? influencerScore = Model.MediaInfluencerScore;
}

@if (influencerScore.GetValueOrDefault() != 0)
{
    <div class="card mb-4 scoreNcontact">
        <div class="d-flex text-center">
            <div class="col d-flex flex-column pt-3">
                <span class="score text-orange font-weight-bold">@Model.MediaInfluencerScore</span>
                <p class="smallCaps text-font-heading">influencer score</p>
                <span class="tooltip-info-icon" data-toggle="tooltip" data-placement="left" title="Medianet’s Influencer score is a measure of how influential a person is across media AND social media. The score is out of 100.">
                    <i class="fas fa-info-circle"></i>
                </span>
            </div>
        </div>
    </div>
}