﻿@using Medianet.Contacts.Web.CustomerService
@model Medianet.Contacts.Web.ViewModels.ShareProfileViewModel
<div class="modal-content">
    <form id="frmShareProfile" data-spinnercontainer="frmShareProfile">
        <div class="modal-header">
            <h4 class="modal-title">Share profile</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="col-12">
                    <div id="serverMessage" class="validation-summary-errors">
                        @(ViewBag.Message != null ? (string)ViewBag.Message : "")
                    </div>
                    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger d-none", id = "vsShareProfile" })
                    @Html.HiddenFor(m => m.OutletId)
                    @Html.HiddenFor(m => m.ContactId)
                    @Html.HiddenFor(m => m.RecordType)
                </div>
                <div class="col-12">
                    <p>Share profile with</p>
                </div>
                <div class="col-12 select-container">
                    @{
                        List<SelectListItem> userItems = new List<SelectListItem>();
                        foreach (var item in (List<User>)ViewBag.Users)
                        {
                            userItems.Add(new SelectListItem
                            {
                                Value = item.EmailAddress,
                                Text = item.FirstName + " " + item.LastName,
                            });
                        }
                    }
                    @Html.DropDownListFor(m => m.EmailAddress, userItems, "User", new { @class = "form-control", id = "User" })
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </div>
                <div class="col-12 mt-3">
                    @Html.RadioButtonFor(m => m.IsBodyHtml, true, new { name = "MailBody", id = "EmailBody" })
                    <label for="EmailBody" class="mr-3">Email body</label>
                    @*@Html.RadioButtonFor(m => m.IsBodyHtml, false, new { name = "MailBody", id = "PDFAttachment" })
                    <label class="ml-4" for="PDFAttachment">PDF</label>*@
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary px-4" data-spinnercontainer="btnShare">Share</button>
        </div>
    </form>
</div>
