﻿@model Medianet.Contacts.Web.ViewModels.SuggestedChangesViewModel
<div class="modal-content">
    <form id="frmSuggestion" data-spinnercontainer="frmSuggestion">
        <div class="modal-header">
            <h4 class="modal-title">Suggest update</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div id="serverMessage" class="validation-summary-errors">
                        @(ViewBag.Message != null ? (string)ViewBag.Message : "")
                    </div>
                    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger d-none", id = "vsSuggestion" })
                    @Html.HiddenFor(m => m.OutletId)
                    @Html.HiddenFor(m => m.ContactId)
                    @Html.HiddenFor(m => m.RecordType)
                </div>
                <div class="col-12">
                    <p>Something missing or not quite right?</p>
                    <p>Please let us know your request and our research team will confirm for you within 48 business hours.</p>
                </div>
                <div class="col-12">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
                </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary px-4" data-spinnercontainer="btnSuggestion">Submit</button>
        </div>
    </form>
</div>
