﻿@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
@if (Model.Contacts != null && Model.Contacts.Any())
{
    int outletContactCount = int.Parse(System.Configuration.ConfigurationManager.AppSettings["OutletContactCount"] ?? "0");
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Contacts</h5>
            <ul class="list-group list-group-flush">
    @foreach (var item in Model.Contacts.OrderByDescending(c => c.IsPrimaryNewsContact).ThenBy(c => c.Name).Take(outletContactCount))
                {
        <li class="list-group-item">
            <span class="d-flex my-2">
                @if (item.SocialDetails != null && item.SocialDetails.Twitter.HasValue())
                {
                    <img class="rounded-circle my-1 mr-2" src="/Content/Images/user_profile_avatar.png" width="44" height="44" alt="Contact avatar"
                         @("data-twitterhandle=" + item.SocialDetails.Twitter) />
                }
                else
                {
                    <span class="avatar avatar-xs my-1 mr-2">@item.Name.Initials</span>
                }

                <span class="d-flex flex-column">
                    <a href="@Url.Action("index", "Contact", new {outletId = (item.OutletId ?? string.Empty).Trim(), contactId = (item.ContactId ?? string.Empty).Trim(), recordType = (int) item.Type})">
                        @Html.PrivateIconHelper(item.Type)
                        <span class="@(item.IsPrimaryNewsContact ? "d-inline" : "d-none")" data-toggle="tooltip" data-placement="top" title="The primary contact is the main point of contact for an outlet, who would like to receive media information."><i class="fas fa-star"></i></span>
                        <b>@item.Name.FirstName @item.Name.LastName</b>
                    </a>
                    <span class="d-inline-block text-lineheight-min">
                        @item.JobTitle
                    </span>
                </span>
            </span>
        </li>
    }
</ul>
        <div class="pt-2 text-right showMoreLess">
            <a href="@Url.Action("Expand", "Search", new { outletid = (Model.OutletId ?? string.Empty).Trim(), type = (int)Model.Type, Advanced = false})">view all</a>
        </div>
        </div>
    </div>
}