﻿@using Medianet.Contacts.Web.MediaContactsService
@model List<MediaOutletPartial>

@if (Model != null && Model.Count > 0)
{
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">@(ViewBag.IsSyndicatingTo ? "SYNDICATING TO" : "SYNDICATED FROM")</h5><ul class="list-group list-group-flush">
                @foreach (MediaOutletPartial item in Model)
                {
                    <li class="list-group-item list-group-item-grey @(Model.IndexOf(item) > 9 ? ((ViewBag.IsSyndicatingTo ? "extra-syndicated" : "extra-syndicating" ) + " collapse") : "")">
                        @Html.RouteLink(item.Name, new { Controller = "Outlet", Action = "Index", id = (item.Id ?? string.Empty).Trim(), recordType = ViewBag.OutletType })
                    </li>
                }
            </ul>
            @if (Model.Count > 10)
            {
                <div class="showMoreLess lnk-toggle collapsed" data-toggle="collapse" data-target="@(ViewBag.IsSyndicatingTo ? ".extra-syndicated" : ".extra-syndicating" )">
                    <a class="lnk-toggle-show">more ...</a>
                    <a class="lnk-toggle-hide">less</a>
                </div>
            }
        </div>
    </div>
}