﻿@using Medianet.Contacts.Web.MediaContactsService
@model List<object>
@{ 
    MediaOutletPartial item = (MediaOutletPartial)Model[0];
    int index = (int)Model[1];
    int recordType = (int)Model[2];
}
<div class="@(index >= 10 ? "extra-businesses collapse" : "")">
    <a href="@Url.Action("Index", "Outlet", new { id = (item.Id ?? string.Empty).Trim(), recordType = recordType })"
       class="text-nowrap text-truncate d-block" title="@item.Name">
        @item.Name
    </a>
</div>