﻿@using Medianet.Contacts.Web.MediaContactsService
@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
@if (Model.ParentOutlet == null && Model.MediaOwnerOutlets != null && Model.MediaOwnerOutlets.Any())
{
    <div class="card mb-4 businesses">
        <div class="card-body">
            <h5 class="card-title">Businesses</h5>
            <div class="card-text">
                <div class="row businesses-columns">
                    <div class="col-6">
                        @{ 
                            int firstColumnCount = (int)Math.Round((double)Model.MediaOwnerOutlets.Count / 2, MidpointRounding.AwayFromZero);
                            List<MediaOutletPartial> list = Model.MediaOwnerOutlets.Take(firstColumnCount).ToList();
                            for (int i = 0; i < list.Count; i++)
                            {
                                @Html.Partial("_MediaOwnerOutletsLinkPartial", new List<object> { list[i], i, (int)Model.Type })
                            }
                        }
                    </div>
                    @if (Model.MediaOwnerOutlets.Count >= 2)
                    {
                        list = Model.MediaOwnerOutlets.Skip(firstColumnCount).ToList();
                        <div class="col-6">
                            @for (int i = 0; i < list.Count; i++)
                            {
                                @Html.Partial("_MediaOwnerOutletsLinkPartial", new List<object> { list[i], i, (int)Model.Type })
                            }
                        </div>
                    }
                </div>
            </div>
            @if (Model.MediaOwnerOutlets.Count > 20)
            {
                <div class="showMoreLess lnk-toggle collapsed" data-toggle="collapse" data-target=".extra-businesses">
                    <a class="lnk-toggle-show">more ...</a>
                    <a class="lnk-toggle-hide">less</a>
                </div>
            }
        </div>
    </div>
}