﻿@using Medianet.Contacts.Web.MediaContactsService
@using Medianet.Contacts.Wcf.DataContracts.DTO
@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel

<div class="card mb-4 mediaType">
    <div class="card-body pb-0">
        <h5 class="card-title">Media Type</h5>
    </div>
    <div class="d-flex text-center">
        <div class="col active">
            <i class="fal @(SharedFunctions.GetProductTypeClass(Model.MediaType == null ? "" : Model.MediaType.Category))"></i>
            <p class="smallCaps">@(Model.MediaType == null ? "" : Model.MediaType.Name.Trim().ToLower())</p>
        </div>
        @if (Model.RelatedMediaOutlets != null)
        {
            foreach (MediaOutletPartial item in Model.RelatedMediaOutlets)
            {
                <a href="@Url.Action("Index", "Outlet", new { id = (item.Id ?? string.Empty).Trim(), recordType = (int)Model.Type })" class="col">
                    <i class="fal @(SharedFunctions.GetProductTypeClass(item.ProductTypeCategory))"></i>
                    <p class="smallCaps">@((item.ProductTypeName ?? "unknown").ToLower())</p>
                </a>
            }
        }

    </div>
</div>