﻿@using Medianet.Contacts.Web.Common.DAL
@using Medianet.Contacts.Web.ViewModels.Dashboard

@model List<MediaMovementsViewModel>

@if (Model != null && Model.Any())
{
    var outletId = Model.Select(o => o.OutletId.ToString()).First().Trim();
    var list = Model.Take(4).ToList();

    <div class="card-body pb-2">
        <h4 class="card-title">Media Movements</h4>
          @Html.Partial("~/Views/Dashboard/_MediaMovementsPartial.cshtml", list)
    </div>
    if (Model.Count > 4)
    {
        <div class="showMoreLess pb-2 pr-2">
            <a href="@Url.Action("Outlet", "MediaMovements", new {outletId = outletId})">more...</a>
        </div>
    }
}
