﻿@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Outlet Profile</h5>
        <div class="row">
            <div class="col">
                <div class="row">
                    @if (Model.Frequency != null && !string.IsNullOrEmpty(Model.Frequency.Name) && Model.Frequency.Name != "0")
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Frequency</b>
                            <span>@Model.Frequency.Name</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Deadlines) && Model.Deadlines != "0")
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Deadlines</b>
                            <span>@Model.Deadlines</span>
                        </div>
                    }
                    @if (Model.Languages != null && Model.Languages.Any())
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Languages</b>
                            <span>@string.Join(",", Model.Languages.Select(m => m.Name))</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.CopyPrice) && Model.CopyPrice != "0")
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Cover Price</b>
                            <span>@Model.CopyPrice</span>
                        </div>
                    }
                    @*@if (Model.Readership.HasValue && Model.Readership > 0)
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Readership</b>
                            <span>@string.Format("{0:N0}", Model.Readership)</span>
                        </div>
                    }*@
                    @if (Model.Audience.HasValue && Model.Audience > 0)
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Audience</b>
                            <span>@string.Format("{0:N0}", Model.Audience)</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Circulation) && Model.Circulation != "0")
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Circulation</b>
                            <span>@Model.Circulation</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.YearEstablished))
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Established</b>
                            <span>@Model.YearEstablished</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.NewsFocusName))
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">News Focus</b>
                            <span>@Html.Raw(Model.NewsFocusName.Replace(Environment.NewLine, "<br />"))</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.CallLetters))
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Call Letters</b>
                            <span>@Html.Raw(Model.CallLetters.Replace(Environment.NewLine, "<br />"))</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.NamePronunciation))
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Pronunciation of Name</b>
                            <span>@Html.Raw(Model.NamePronunciation.Replace(Environment.NewLine, "<br />"))</span>
                        </div>
                    }
                    @if (Model.SubscriptionOnlyPublication)
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Subscription Only</b>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.AlsoKnownAs))
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Also Known As</b>
                            <span>@Html.Raw(Model.AlsoKnownAs.Replace(Environment.NewLine, "<br />"))</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.BroadcastTime))
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Published Broadcast Time</b>
                            <span>@Html.Raw(Model.BroadcastTime.Replace(Environment.NewLine, "<br />"))</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.PressReleaseInterests))
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Special Interests</b>
                            <span>@Html.Raw(Model.PressReleaseInterests.Replace(Environment.NewLine, "<br />"))</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.RegionsCovered))
                    {
                        <div class="col-6 d-flex flex-column py-2">
                            <b class="text-font-heading">Regions Covered</b>
                            <span>@Html.Raw(Model.RegionsCovered.Replace(Environment.NewLine, "<br />"))</span>
                        </div>
                    }
                </div>
            </div>

            @if (Model.OutletDemographics != null)
            {
                <div class="col-4">
                    <div class="d-flex flex-column py-2">
                        <b class="text-font-heading">Demographics</b>
                        @if (!string.IsNullOrEmpty(Model.OutletDemographics.ABs))
                        {
                            <span>AB’s @Model.OutletDemographics.ABs</span>
                        }
                        @if (!string.IsNullOrEmpty(Model.OutletDemographics.GBs))
                        {
                            <span>GB’s @Model.OutletDemographics.GBs</span>
                        }
                        @if (!string.IsNullOrEmpty(Model.OutletDemographics.M16Plus))
                        {
                            <span>Male 16+ @Model.OutletDemographics.M16Plus</span>
                        }
                        @if (!string.IsNullOrEmpty(Model.OutletDemographics.F16Plus))
                        {
                            <span>Female 16+ @Model.OutletDemographics.F16Plus</span>
                        }
                        @if (!string.IsNullOrEmpty(Model.OutletDemographics.P16Plus))
                        {
                            <span>All People 16+ @Model.OutletDemographics.P16Plus</span>
                        }
                    </div>
                </div>
            }

        </div>
    </div>
</div>