﻿@using Medianet.Contacts.Web.MediaContactsService
@using Medianet.Contacts.Wcf.DataContracts.DTO
@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
<div class="card mb-4">
    <div class="card-body">
        <p class="card-text text-center">
            @if (!string.IsNullOrEmpty(Model.LogoFileName))
            {
                string src = new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(Model.LogoFileName);
                if (!string.IsNullOrEmpty(src))
                {
                    <img class="img-fluid pb-3" src="@src" alt="Outlet logo" /><br>
                }
            }
            @Html.PrivateIconHelper(Model.Type)
            <b class="text-large">@Model.Name</b><br>
            @if (Model.PublishedOn.HasValue())
            {
                @Html.Raw(Model.PublishedOn.Replace(Environment.NewLine, "<br>"))
            }
        </p>
        @if (UriHelper.Host(Model.WebUrl).HasValue())
        {
            <p class="card-text text-center">
                <a href="@Model.WebUrl" target="_blank" rel="noopener" class="text-primary font-weight-bold fitText">@(UriHelper.Host(Model.WebUrl))</a>
            </p>
        }
        @if (UriHelper.Host(Model.AdditionalWebsite).HasValue())
        {
            <p class="card-text text-center">
                <a href="@Model.AdditionalWebsite" target="_blank" rel="noopener" class="text-primary font-weight-bold fitText">@(UriHelper.Host(Model.AdditionalWebsite))</a>
            </p>
        }

        @if (Model.Email.HasValue() || Model.AlternativeEmailAddress.HasValue() || Model.Mobile.HasValue() || Model.Phone.HasValue() || Model.AdditionalPhoneNumber.HasValue() || Model.DeliveryMethod.HasValue)
        {
            <hr>
            if (Model.Email.HasValue())
            {
                <p class="card-text">
                    <b class="text-font-heading">Email: </b><br />
                    <a href="mailto:@(Model.Email)" title="@(Model.Email)" class="fitText">@Model.Email</a>
                </p>
            }
            if (Model.AlternativeEmailAddress.HasValue())
            {
                <p class="card-text">
                    <b class="text-font-heading">Alternative Email: </b><br />
                    <a href="mailto:@(Model.AlternativeEmailAddress)" title="@(Model.AlternativeEmailAddress)" class="fitText">@Model.AlternativeEmailAddress</a>
                </p>
            }
            if (Model.Mobile.HasValue())
            {
                <p class="card-text">
                    <b class="text-font-heading">Mobile: </b>
                    <span class="text-nowrap">@Model.Mobile</span>
                </p>
            }
            if (Model.Phone.HasValue())
            {
                <p class="card-text">
                    <b class="text-font-heading">Phone: </b>
                    <span class="text-nowrap">@Model.Phone</span>
                </p>
            }
            if (Model.AdditionalPhoneNumber.HasValue())
            {
                <p class="card-text">
                    <b class="text-font-heading">Additional Phone: </b>
                    <span>@Model.AdditionalPhoneNumber</span>
                </p>
            }
            if (Model.DeliveryMethod.HasValue)
            {
                <p class="card-text">
                    <b class="text-font-heading">Preferred Contact Method: </b>
                    <span class="text-nowrap">@Model.DeliveryMethod</span>
                </p>
            }
        }

        @if (Model.Address != null)
        {
            <hr>
            <p class="card-text">
                <b class="text-font-heading">Address: </b><br>
                <span class="address">
                    @if (Model.Address.AddressLine1.HasValue())
                    {
                        @Model.Address.AddressLine1.Trim()
                        <br />
                    }
                    @if (Model.Address.AddressLine2.HasValue())
                    {
                        @Model.Address.AddressLine2.Trim()
                        <br />
                    }
                    @Html.LabelForModel(string.Join(", ", new List<string> {
                            Model.Address.City, Model.Address.State, Model.Address.PostCode , Model.Address.Country }.FindAll(m => !string.IsNullOrEmpty(m))))
                </span>
            </p>
        }
        @if ((int)Model.Type == (int)Medianet.Contacts.Wcf.DataContracts.DTO.RecordType.MediaOutlet)
        {
            if (Model.PostalAddress != null)
            {
                <hr>
                <p class="card-text">
                    <b class="text-font-heading">Postal Address: </b><br>
                    <span class="address">
                        @if (Model.PostalAddress.AddressLine1.HasValue())
                        {
                            @Model.PostalAddress.AddressLine1.Trim()
                            <br />
                        }
                        @if (Model.PostalAddress.AddressLine2.HasValue())
                        {
                            @Model.PostalAddress.AddressLine2.Trim()
                            <br />
                        }
                        @Html.LabelForModel(string.Join(", ", new List<string> {
                            Model.PostalAddress.City, Model.PostalAddress.State, Model.PostalAddress.PostCode , Model.PostalAddress.Country }.FindAll(m => m.HasValue())))
                    </span>
                </p>
            }
            if (Model.OfficeHours.HasValue())
            {
                <p class="card-text">
                    <b class="text-font-heading">Office Hours: </b><br>
                    @Html.Raw(Model.OfficeHours.Replace(Environment.NewLine, "<br>"))
                </p>
            }
        }
        @if (@Model.ParentOutlet != null)
        {
            <hr>
            <p class="card-text">
                <b class="text-font-heading">Parent Company:</b><br>
                <span>
                    @if (Model.ParentOutlet.IsActive)
                    {
                        @Html.Raw(string.Format("<a href=\"{0}\">", Url.Action("Index", "Outlet", new { id = (Model.ParentOutlet.OutletId ?? string.Empty).Trim(), recordType = (int)Model.Type })))
                    }
                    @Model.ParentOutlet.Name
                    @if (!string.IsNullOrEmpty(Model.ParentOutlet.LogoFileName))
                    {
                        <img class="img-fluid mt-2" src="@(new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(Model.ParentOutlet.LogoFileName))" alt="Outlet logo" />
                    }
                    @if (Model.ParentOutlet.IsActive)
                    {
                        @Html.Raw("</a>")
                    }
                </span>
            </p>
        }
    </div>
</div>