﻿@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
@using Medianet.Contacts.Wcf.DataContracts.DTO

@if (Model != null)
{
    bool showMediaType = true;

    <div class="row">
        <div class="col-6">
            <div class="">
                @if (!string.IsNullOrEmpty(Model.LogoFileName))
                {
                    string src = new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(Model.LogoFileName);

                    if (!string.IsNullOrEmpty(src))
                    {
                        <img class="mb-2" src="@src" alt="Outlet logo"><br>
                    }
                }

                <b>@Model.Name</b>
            </div>
        </div>
        <div class="col-6">
            @if (Model.Address != null)
            {
                <p>
                    <b>Address: </b><br>
                    <span class="address">
                        @if (Model.Address.AddressLine1.HasValue())
                        {
                            @Model.Address.AddressLine1.Trim()
                            <br />
                        }
                        @if (Model.Address.AddressLine2.HasValue())
                        {
                            @Model.Address.AddressLine2.Trim()
                            <br />
                        }
                        @Html.LabelForModel(string.Join(", ", new List<string> {
                            Model.Address.City, Model.Address.State, Model.Address.PostCode , Model.Address.Country }.FindAll(m => m.HasValue())))
                    </span>
                </p>
            }

            @if (Model.Email.HasValue())
            {
                <p>
                    <b>Email: </b>@Model.Email
                </p>
            }
        </div>
    </div>
    <div class="row mt-2 preview-overflow">
        <div class="col-12">
            <hr class="my-2">
        </div>
        <div class="col">
            <b>Outlet Profile</b>
            <div class="row mt-2">
                @if (Model.Frequency != null && !string.IsNullOrEmpty(Model.Frequency.Name) && Model.Frequency.Name != "0")
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Frequency</span>
                        <span>@Model.Frequency.Name</span>
                    </div>
                }
                @if (Model.Deadlines.HasValue() && Model.Deadlines != "0")
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Deadlines</span>
                        <span>@Model.Deadlines</span>
                    </div>
                }
                @if (Model.Languages != null && Model.Languages.Any())
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Languages</span>
                        <span>@string.Join(",", Model.Languages.Select(m => m.Name))</span>
                    </div>
                }
                @if (Model.CopyPrice.HasValue() && Model.CopyPrice != "0")
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Cover Price</span>
                        <span>@Model.CopyPrice</span>
                    </div>
                }
                @*@if (Model.Readership.HasValue && Model.Readership > 0)
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Readership</span>
                        <span>@string.Format("{0:N0}", Model.Readership)</span>
                    </div>
                }*@
                @if (Model.Audience.HasValue && Model.Audience > 0)
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Audience</span>
                        <span>@string.Format("{0:N0}", Model.Audience)</span>
                    </div>
                }
                @if (Model.Circulation.HasValue() && Model.Circulation != "0")
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Circulation</span>
                        <span>@Model.Circulation</span>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.YearEstablished))
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Established</span>
                        <span>@Model.YearEstablished</span>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.NewsFocusName))
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">News Focus</span>
                        <span>@Html.Raw(Model.NewsFocusName.Replace(Environment.NewLine, "<br />"))</span>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CallLetters))
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Call Letters</span>
                        <span>@Html.Raw(Model.CallLetters.Replace(Environment.NewLine, "<br />"))</span>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.NamePronunciation))
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Pronunciation of Name</span>
                        <span>@Html.Raw(Model.NamePronunciation.Replace(Environment.NewLine, "<br />"))</span>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.AlsoKnownAs))
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Also Known As</span>
                        <span>@Html.Raw(Model.AlsoKnownAs.Replace(Environment.NewLine, "<br />"))</span>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.BroadcastTime))
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Published Broadcast Time</span>
                        <span>@Html.Raw(Model.BroadcastTime.Replace(Environment.NewLine, "<br />"))</span>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.PressReleaseInterests))
                {
                    showMediaType = false;
                    <div class="col-6 d-flex flex-column mb-2">
                        <span class="font-weight-semibold">Special Interests</span>
                        <span>@Html.Raw(Model.PressReleaseInterests.Replace(Environment.NewLine, "<br />"))</span>
                    </div>
                }
            </div>
        </div>

        @if (Model != null)
        {
            var allItems = Model.Subjects.OrderBy(s => s.Name).ToList();

            if (!showMediaType)
            {
                if (allItems.Count == 0)
                {
                    showMediaType = true;
                }
                else
                {
                    showMediaType = false;
                }
            }
            if (allItems.Any())
            {
                <div class="col-4 border-left">
                    <b>Subject Profile</b>
                    <ul class="pl-3 mb-1">
                        @foreach (var item in allItems)
                        {
                            <li class="@(allItems.IndexOf(item) > 9 ? "extra-subject-profile collapse" : "")">@item.Name</li>
                        }
                    </ul>
                    @if (allItems.Count > 5)
                    {
                        <span class="pl-3 mb-1">...</span>
                    }
                </div>
            }
        }
        @if (showMediaType)
        {
            <div class="col-4 text-center border-left">
                <b>Media Type</b>
                <div class="mediaType text-primary mt-3">
                    <i class="fal @(SharedFunctions.GetProductTypeClass(Model.MediaType == null ? "" : Model.MediaType.Category))"></i>
                    <p class="smallCaps">@(Model.MediaType == null ? "" : Model.MediaType.Name.Trim().ToLower())</p>
                </div>
            </div>
        }
    </div>

}