﻿@using Medianet.Contacts.Web.Common.Model
@model List<Subject>
@if (Model != null && Model.Any())
{
    var allItems = Model.OrderBy(s => s.Name).ToList();

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Subject Profile</h5>
            <ul class="list-group list-group-flush">
                @foreach (var item in allItems)
                {
                    <li class="list-group-item list-group-item-grey @(allItems.IndexOf(item) > 9 ? "extra-subject-profile collapse" : "")">@item.Name</li>
                }
            </ul>            
            @if (allItems.Count > 10)
            {
            <div class="showMoreLess lnk-toggle collapsed" data-toggle="collapse" data-target=".extra-subject-profile">
                <a class="lnk-toggle-show">more ...</a>
                <a class="lnk-toggle-hide">less</a>
            </div>
            }
        </div>
    </div>
}