﻿@{
    ViewBag.Title = "Outlet";
}
@using Medianet.Contacts.Wcf.DataContracts.DTO
@using Medianet.Contacts.Web.Common.Util
@model Medianet.Contacts.Web.ViewModels.Outlet.OutletViewModel
@section Javascript{
    @Scripts.Render("~/bundles/outletandcontact")
    @Scripts.Render("~/bundles/outlet")
}
@if (Model == null)
{
    <div class="alert alert-danger mt-2 mt-sm-5" role="alert">
        @ViewBag.Message
    </div>
}
else
{
    ViewBag.OutletType = (int)Model.Type;
    <div class="d-flex flex-column flex-lg-row align-items-start justify-content-between">
        <div class="mb-3 mb-lg-0">
            <h2 class="mb-0">
                @(Model.MediaType == null ? "" : Model.MediaType.Name.Trim()) Outlet

                @if (RecordTypeExtensions.IsOmaType(Model.Type))
                {
                    <a class="btn btn-link py-0" title="Edit Outlet" href="@Url.Action("Edit", "PrivateOutlet", new { Id = Model.OutletId })">
                        <i class="fal fa-fw fa-pencil"></i>
                    </a>
                }
            </h2>
            <a class="smallCaps backToSearch" href="#" id="lnkBack">back</a>
        </div>
        @Html.Partial("OutletAndContact/_ActionBarPartial", Model)
    </div>

    <div class="row mt-3" data-main-container data-recordType="@Model.Type" data-outletId="@Model.OutletId.Trim()">
        <div class="col-12 col-md-4 col-lg-3">
            @Html.Partial("_OutletDetailsPartial", Model)
            @Html.Partial("_SubjectProfilePartial", Model.Subjects)
            @{ViewBag.IsSyndicatingTo = true;}
            @Html.Partial("_MediaSyndicatedOutletsPartial", Model.SyndicatingToMediaOutlets)
            @{ViewBag.IsSyndicatingTo = false; }
            @Html.Partial("_MediaSyndicatedOutletsPartial", Model.SyndicatedFromMediaOutlets)
            @Html.Partial("_BelongToListsPartial", Model.BelongsToLists)
        </div>
        <div class="col-12 col-md-8 col-lg-6">
            @Html.Partial("_MediaType_RelatedOutletsPartial", Model)
            @if (!string.IsNullOrEmpty(Model.PriorityNotice))
            {
                <div class="card mb-4 callout">
                    <div class="card-body">
                        <h5 class="card-title text-orange">Priority Notice</h5>
                        <p class="card-text">
                            @Model.PriorityNotice
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(@Model.Bio))
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">ABOUT</h5>
                        <p class="card-text">
                            @Html.FormatBioHelper(Model.Bio)
                        </p>
                    </div>
                </div>
            }
            @Html.Partial("_OutletProfilePartial", Model)
            @Html.Partial("_MediaOwnerOutletsPartial", Model)
            @if (!string.IsNullOrEmpty(@Model.ProfileNotes))
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Details</h5>
                        <p class="card-text">
                            @Html.FormatBioHelper(Model.ProfileNotes)
                        </p>
                    </div>
                </div>
            }

            <div class="card mb-4 outletMVContainer">
                <div class="outletMediaMovements" data-action="@Url.Action("GetOutletMediaMovements", "Outlet", new {outletId = Model.OutletId})">
                    @Html.Partial("_InlineSpinnerPartial")
                </div>
            </div>
            
            @if (Model.SocialDetails != null && Model.SocialDetails.Twitter.HasValue())
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Latest Media</h5>
                        <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tweets-tab" data-toggle="tab" href="#tweets" role="tab" aria-controls="tweets" aria-selected="true">Tweets</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-lists" id="myTabContent">
                            <div class="tab-pane fade show active" id="tweets" role="tabpanel" aria-labelledby="tweets-tab" data-tweets data-tweets-url="@Url.Action("UserTweets", "Social")" data-twitterhandle="@Model.SocialDetails.Twitter">
                                @Html.Partial("_InlineSpinnerPartial")
                            </div>
                        </div>
                    </div>
                </div>
            }

            @*Notes*@
            <div class="card mb-4" data-spinnercontainer="divAllNotes">
                <div class="card-body">
                    <h5 class="card-title">My Notes and Activity</h5>
                    <div data-container="pinnedNotes" data-action="@Url.Action("PinnedNotes", "Note")">
                        @Html.Partial("_InlineSpinnerPartial")
                    </div>
                    <div data-container="unPinnedNotes" data-action="@Url.Action("UnPinnedNotes", "Note")">
                        @Html.Partial("_InlineSpinnerPartial")
                    </div>
                    <div class="d-flex justify-content-end actionBtns">
                        <a class="d-flex ml-3 badge badge-pill badge-primary" href="#" data-addnote-url="@Url.Action("Create", "Note")" data-type="@PopupType.Contact">
                            <i class="fas fa-fw fa-pencil"></i>
                            <span class="align-self-start m-1">add note</span>
                        </a>
                    </div>
                </div>
                <span class="tooltip-info-icon" data-toggle="tooltip" data-placement="left"
                      title="Save notes to this record and pin priority notes to the top of the list.">
                    <i class="fas fa-info-circle"></i>
                </span>
            </div>
            @*End Of Notes*@
            @Html.Partial("~/Views/Document/_DocumentsListPartial.cshtml", Model)
        </div>

        <div class="col col-lg-3">
            @if (Model.SocialDetails != null)
            {
                @Html.Partial("Social/_SocialEngagementPartial", Model.SocialDetails)
            }
            @Html.Partial("_ContactsPartial", Model)
        </div>
    </div>
            <div class="d-flex align-items-end justify-content-between py-3 border-top">
                <div>&nbsp;</div>
                @Html.Partial("OutletAndContact/_ActionBarPartial", Model)
            </div>
                }
