﻿@using Medianet.Contacts.Wcf.DataContracts.DTO
@using Medianet.Contacts.Web.Common.Model
@model Medianet.Contacts.Web.ViewModels.PrivateContact.PrivateContactViewModel
@if (Model == null)
{
    <div class="alert alert-danger mt-5" role="alert">
        @Medianet.Contacts.Web.Controllers.OutletController.OutletNotFound
    </div>
}
else
{
    <div>
        @using (Html.BeginForm("Create", "PrivateContact", FormMethod.Post, new
        {
            id = "formPrivateData",
            data_get_countries_url = @Url.Action("GetCountries", "PrivateOutlet"),
            data_get_states_url = @Url.Action("GetStates", "PrivateOutlet"),
            data_get_cities_url = @Url.Action("GetCities", "PrivateOutlet"),
            data_autosuggest_url = @Url.Action("AutoSuggest", "PrivateContact"),
            data_prn_outlet_recordtype = (int)RecordType.PrnOutlet,
            data_oma_outlet_recordtype = (int)RecordType.OmaOutlet
        }))
        {
            @Html.ValidationSummary(false, null, new { @class = "alert alert-danger d-none", id = "vsPrivateData" })
            @Html.HiddenFor(m => m.ContactId)
            @Html.HiddenFor(m => m.MediaOutletId)
            @Html.HiddenFor(m => m.PrivateOutletId)
            @Html.HiddenFor(m => m.PrnOutletId)
            @Html.Hidden("ReferrerUrl", (string)ViewBag.ReferrerUrl)
            <div class="mt-4">
                <h3 class="mb-4">
                    Manage your own private contacts into the Medianet Contacts Database.
                </h3>
                <p>
                    Including your own data allows you to combine your private contacts and outlets with Medianet records. Your own data (Private) is only visible to other users within your organisation.
                </p>
                <p>
                    By default, Medianet will include your private records in any search results.
                    To exclude private records from a search or to search within only your own private records, simply go to Advanced Search and in the Exclusion section at the bottom of the page, select either ' Only Medianet data records ' or the ' Only my private records ' option.
                </p>
                <p>
                    Private records are maintained by clients and are not accessible to other organisations or Medianet.
                </p>
                <h3>Contact details</h3>
                <div class="form-row">
                    <div class="col-md-6 col-lg-4 select-container">
                        @Html.DropDownListFor(m => m.Prefix, (IEnumerable<SelectListItem>)ViewBag.Prefixes, "Prefix", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Prefix)
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "First name" })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                    <div class="col-md-6 col-lg-4">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Last name" })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Phone", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        @Html.TextBoxFor(model => model.MobileNumber, new { placeholder = "Mobile", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MobileNumber)
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        @Html.TextBoxFor(model => model.EmailAddress, new { placeholder = "Email", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        @Html.TextBoxFor(model => model.JobTitle, new { placeholder = "Job title", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.JobTitle)
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <div class="searchInput">
                            @Html.TextBoxFor(m => m.SubjectIdsCsv, new { id = "SubjectIdsCsv", data_group_filter_id = "", data_group_filter_name = "", @class = "form-control hidden" })
                        </div>
                        <div class="tokenInput-btn-container">
                            <i class="fal fa-sliders-h" aria-hidden="true"></i>
                            <input type="button" class="dropdown btnFilter" name="searchFilter" title="Filter by group"
                                   data-for="SubjectIdsCsv" tabindex="-1">
                            <div class="position-relative">
                                @Html.Partial("_SubjectGroupsDropdown", new List<SubjectGroup>(ViewBag.SubjectGroups))
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.SubjectIdsCsv)
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <div class="searchInput">
                            @Html.TextBoxFor(m => m.RoleIdsCsv, new { id = "SelectedRoles", data_is_token_input = "true", @class = "form-control columnInput" })
                        </div>
                        <span class="tokenInput-btn-container">
                            <i class="fa fa-caret-down"></i>
                            <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                        </span>
                        @Html.ValidationMessageFor(m => m.RoleIdsCsv)
                    </div>
                    <div class="col-md-6 col-lg-4 select-container">
                        @Html.DropDownListFor(m => m.PreferredDelivery, (List<SelectListItem>)ViewBag.DeliverMethods, "Preferred Delivery Method", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PreferredDelivery)
                    </div>
                    <div class="col-md-6 col-lg-4">
                        @Html.TextBoxFor(m => m.OutletName, new { placeholder = "Outlet", @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.OutletName)
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <h3>Address</h3>
                <div class="form-row">
                    <div class="form-group col-md-6 col-lg-4">
                        @Html.TextBoxFor(model => model.AddressLine1, new { placeholder = "Address line 1", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AddressLine1)
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        @Html.TextBoxFor(model => model.AddressLine2, new { placeholder = "Address line 2", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AddressLine2)
                    </div>
                    <div class="col-md-6 col-lg-4 select-container">
                        <select id="ContinentId" class="form-control">
                            <option value="">Continent</option>
                            @foreach (var item in (List<Continent>)ViewBag.Continents)
                            {
                                <option value="@item.Id.ToString()" @(ViewBag.ContinentId == item.Id ? "selected" : "")>@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 col-lg-3 select-container">
                        @{
                            List<SelectListItem> countries = new List<SelectListItem>();
                            foreach (var item in (List<Country>)ViewBag.Countries)
                            {
                                countries.Add(new SelectListItem
                                {
                                    Value = item.Id.ToString(),
                                    Text = item.Name,
                                    Selected = Model.CountryId == item.Id
                                });
                            }
                        }
                        @Html.DropDownListFor(m => m.CountryId, countries, "Country", new { id = "CountryId", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CountryId)
                    </div>
                    <div class="col-md-6 col-lg-3 select-container">
                        @{
                            List<SelectListItem> states = new List<SelectListItem>();
                            if (ViewBag.States != null)
                            {
                                foreach (var item in (List<State>)ViewBag.States)
                                {
                                    states.Add(new SelectListItem
                                    {
                                        Value = item.Id.ToString(),
                                        Text = item.Name,
                                        Selected = Model.StateId == item.Id
                                    });
                                }
                            }
                        }
                        @Html.DropDownListFor(m => m.StateId, states, "State", new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 col-lg-3 select-container">
                        @{
                            List<SelectListItem> cities = new List<SelectListItem>();
                            if (ViewBag.States != null)
                            {
                                foreach (var item in (List<City>)ViewBag.Cities)
                                {
                                    cities.Add(new SelectListItem
                                    {
                                        Value = item.Id.ToString(),
                                        Text = item.Name,
                                        Selected = Model.CityId == item.Id
                                    });
                                }
                            }
                        }
                        @Html.DropDownListFor(m => m.CityId, cities, "City", new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 col-lg-3">
                        @Html.TextBoxFor(m => m.PostCode, new { placeholder = "Postcode", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PostCode)
                    </div>
                </div>

            </div>
            <div class="mt-4">
                <h3>Social media</h3>
                <div class="form-row">
                    <div class="form-group col-md-6 col-lg-3">
                        @Html.TextBoxFor(model => model.Facebook, new { placeholder = "Facebook", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Facebook)
                    </div>
                    <div class="form-group col-md-6 col-lg-3">
                        @Html.TextBoxFor(model => model.LinkedIn, new { placeholder = "LinkedIn", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LinkedIn)
                    </div>
                    <div class="form-group col-md-6 col-lg-3">
                        @Html.TextBoxFor(model => model.Twitter, new { placeholder = "Twitter", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Twitter)
                    </div>
                    <div class="form-group col-md-6 col-lg-3">
                        @Html.TextBoxFor(model => model.BlogUrl, new { placeholder = "Blog URL", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BlogUrl)
                    </div>
                    <div class="form-group col-md-12 mt-5 text-right">
                        <button type="submit" data-spinnercontainer="btnSave" class="btn btn-primary px-5 py-2" >
                            Save
                        </button>
                    </div>
                </div>
            </div>
                            }
    </div>
                            }