﻿@using Medianet.Contacts.Wcf.DataContracts.DTO
@model Medianet.Contacts.Web.ViewModels.PrivateContact.PrivateContactViewModel
@{
    ViewBag.Title = "Private Contacts";
}
@section Javascript
{
    @Scripts.Render("~/bundles/privatedata")
    @if (Model != null)
    {
        <script type="text/javascript">
            var _subjectGroups = @Html.Raw(Json.Encode(@ViewBag._subjectGroups));
            var _roles = @Html.Raw(Json.Encode(ViewBag.Roles));
            var _subjects = @Html.Raw(Json.Encode(@Model.Subjects));
            var _selectedRoles = @Html.Raw(Json.Encode(Model.Roles));
        </script>
    }
}
<div class="d-flex align-items-end justify-content-between">
    <h2 class="mb-0">@Html.Label((Model.ContactId > 0 ? "Edit" : "Add") + " Private Contact")</h2>
</div>
<div id="Contents" class="card mt-3 mb-4 mb-xl-5">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                @Html.Partial("_UpdatePartial")
            </div>
        </div>
    </div>
</div>