﻿@model Medianet.Contacts.Web.ViewModels.AllSavedSearches.SavedSearchGroupedViewModel

@if (Model != null)
{
    foreach (var item in Model.Lists)
    {
        <tr data-search-id="@item.SearchId">
            <th scope="row">
                @if (item.IsQuickSearch)
                {
                    @Html.ActionLink(item.Name, "Index", "Search", new { id = item.SearchId }, null)
                }
                else
                {
                    @Html.ActionLink(item.Name, "Advanced", "Search", new { id = item.SearchId }, null)
                }
            </th>
            <td>@item.UserName</td>
            <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@(item.IsPrivate ? "Private" : "Public")</td>
            <td class="actionBtns text-right">
                <button data-edit class="btn btn-sm btn-link py-0" title="Edit Search"
                        data-edit-action="@Url.Action("Edit", "AllSavedSearches", new { searchId = item.SearchId })">
                    <i class="fal fa-pencil" aria-hidden="true"></i>
                </button>
            <button class="btn btn-sm btn-link py-0" data-id="@item.SearchId" data-confirm="Delete Search" data-confirm-text="@item.Name" data-action="@Url.Action("DeleteSavedSearch", "AllSavedSearches")"><i class="fal fa-times" aria-hidden="true"></i></button></td>
        </tr>
    }
}