﻿@{
    ViewBag.Title = "Page not found";
}

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="card my-4 my-xl-5">
            <div class="card-body">
                <h3 class="mb-4 text-warning"><i class="fal fa-exclamation-triangle mr-2" aria-hidden="true"></i> The page you were looking for doesn't exist</h3>
                <h5 class="mb-4">You may have mistyped the address or the page may have been moved.</h5>
                <h5 class="card-text">
                    Return to the <a href='/' class=""> homepage</a>.
                </h5>
            </div>
        </div>
    </div>
</div>