﻿<div class="card mb-4">
    <div class="card-body" id="divDocuments" data-spinnercontainer="divDocuments" data-action="@Url.Action("GetDocuments", "Document")">
        <h5 class="card-title">Document History</h5>
        <div class="my-3" id="tblDocuments">
            @Html.Action("GetDocuments", "Document", new { OutletId = Model.OutletId, RecordType = Model.Type })
        </div>
        <div class="d-flex justify-content-end actionBtns">
            <a class="d-flex ml-3 badge badge-pill badge-primary" href="#" data-upload-url="@Url.Action("Index", "Document")" id="btnUpload">
                <i class="fas fa-fw fa-file"></i>
                <span class="align-self-start m-1">upload document</span>
            </a>
        </div>
    </div>

</div>


