﻿@using Medianet.Contacts.Web.MediaContactsService
@model List<OmaDocument>

@if (Model != null && Model.Any())
{
    <table class="table table-sm allGrey">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created date</th>
                <th scope="col">Visibility</th>
                <th scope="col" class="p-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(d => d.Name))
            {
                <tr>
                    <td><a href="@Url.Action("Download", "Document", new { documentId = item.DocumentId })"> @item.Name</a></td>
                    <td>@item.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@(item.IsPrivate == true ? "Private" : "Public")</td>
                    <td class="p-1">
                        <span class="d-flex flex-column align-items-end">
                            <button class="btn btn-sm btn-link p-0" data-id="@item.DocumentId" data-document-edit data-upload-url="@Url.Action("Index", "Document")">
                                <i class="fal fa-fw fa-pencil"></i>
                            </button>
                            <button class="btn btn-sm btn-link p-0" data-id="@item.DocumentId" data-confirm="Delete Document" data-confirm-text="@item.Name" data-action="@Url.Action("Delete", "Document")">
                                <i class="fal fa-fw fa-times"></i>
                            </button>
                        </span>
                        @Html.Hidden("hdnId", item.DocumentId)
                        @Html.Hidden("hdnFullName", item.Name)
                        @Html.Hidden("hdnOwnerId", item.UploadedByUserId)
                        @Html.Hidden("hdnIsPrivate", Convert.ToBoolean(item.IsPrivate) ? "true" : "false")
                        @Html.Hidden("processing", "false")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div> @Html.Raw("No documents found.")</div>
}