﻿@using System.Configuration
@model Medianet.Contacts.Web.ViewModels.DocumentViewModel
<div class="modal-content" data-spinnercontainer="frmDocuments">
    <form id="UploadForm" enctype="multipart/form-data" data-action="@Url.Action("Upload","Document")">
        <div class="modal-header">
            <h4 class="modal-title">Upload Document</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div id="serverMessage">@(ViewBag.Message != null ? ViewBag.Message : "")</div>
                    @Html.ValidationSummary(false, "", new { @class = " alert alert-danger d-none", id = "vsUpload" })
                    @Html.HiddenFor(m => m.ContactId)
                    @Html.HiddenFor(m => m.OutletId)
                    @Html.HiddenFor(m => m.RecordType)
                    @Html.HiddenFor(m => m.DocumentId)
                    @Html.HiddenFor(m => m.UploadedByUserId)
                </div>
                @if (Model.DocumentId <= 0)
                {
                    <div class="col-12">
                        <div class="form-group">
                            <div class="custom-file">
                                @Html.TextBoxFor(m => m.File, new { type = "file", @class="custom-file-input" })
                                <label class="custom-file-label text-nowrap text-truncate" for="File">Choose file</label>
                            </div>
                            <small class="form-text text-muted">Supported types: @ConfigurationManager.AppSettings["DocumentFileExtensions"]. Maximum file size: @ConfigurationManager.AppSettings["MaxUploadFileSize"] MB</small>
                            @Html.ValidationMessageFor(m => m.File)
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-12">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                }
                <div class="col-12">
                    <div class="clearfix mt-3">
                        @Html.RadioButtonFor(m => m.IsPrivate, false, new { id = "Public" }) <label for="Public" class="mr-3">Public</label>
                        @Html.RadioButtonFor(m => m.IsPrivate, true, new { id = "Private" })<label for="Private">Private</label>
                        <span data-toggle="tooltip" data-placement="right" class="tooltip-muted"
                              title="Public indicates that all users at your company will be able to view and edit this list. Private indicates that this list can only be viewed and edited by you.">
                            <i class="fa fa-info-circle"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary px-4" data-spinnercontainer="btnSaveDocument">Save</button>
        </div>
    </form>
</div>
