﻿@using System.Activities.Statements
@using System.Collections.Generic
@using System.Linq
@using Medianet.Contacts.Web.MediaContactsService
@using Medianet.Contacts.Web.ViewModels.List

@model Medianet.Contacts.Web.ViewModels.List.ListExportViewModel

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Export list</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("SaveExportProfile", "List", FormMethod.Post, new { id = "saveExportForm" }))
        {
            <div class="form-row">
                @Html.HiddenFor(m => Model.Id, new { @id = "NewExportId" })
                @Html.HiddenFor(m => m.ExportType)
                <div class="col-12">
                    Select the fields you wish to export or use a saved export setting.
                </div>
                <div class="col-12 mb-3">
                    <div class="validation-summary-errors  alert alert-danger d-none" id="vsExportList"></div>
                </div>
                <div class="col-12">
                    <input type="radio" value="New" name="ExportState" id="NewExport" @(Model.Id == 0 ? "checked='checked'" : "")/>
                    <label for="NewExport">New</label>
                    <input type="radio" value="Existing" name="ExportState" id="ExistingExport" @(Model.Id == 0 ? "" : "checked='checked'")/>
                    <label class="ml-4" for="ExistingExport">Existing</label>
                </div>
                <div class="form-group col-12 select-container">
                    @Html.TextBoxFor(m => m.Name, new {id = "exportProfileName", @class = "form-control", placeholder = "Export settings name"})
                    @Html.ValidationMessageFor(m => m.Name)
                    @Html.DropDownListFor(m => m.Id, Model.ExportProfiles, new {id = "exportProfileId", @class = "form-control"})
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-12 export-fields-container">
                    <div class="row export-fields-header">
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <input type="text" class="form-control form-control-sm mt-1" id="fieldFilter" />
                                <button type="button" class="btn btn-sm btn-link pt-2" id="exportSelectAll">Add all</button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <small class="pt-2">
                                    <label id="exportSelectedCount">0</label> of @(ListExportViewModel.FieldsToExport.Count().ToString()) selected
                                </small>
                                <button type="button" class="btn btn-sm btn-link" id="exportUnselectAll">Remove all</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 export-fields-column" id="exportFields">
                            @foreach (var field in ListExportViewModel.FieldsToExport)
                            {
                                <div class="exportField" data-value="@field.Value">                                        
                                    <label>@field.Text</label>
                                    <a class="ml-auto" href=""><i class="fal fa-plus"></i></a>                                        
                                </div>
                            }
                        </div>
                        <div class="col-6 export-fields-column" id="exportFieldsSelected">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12 col-md-6 pt-2">
                    <input type="radio" value="false" name="isPrivate" id="Public" @(Model.IsPrivate ? "" : "checked='checked'") />
                    <label for="Public">Public</label>
                    <input type="radio" value="true" name="isPrivate" id="Private" @(Model.IsPrivate ? "checked='checked'" : "") />
                    <label class="ml-4" for="Private">Private</label>
                    <span data-toggle="tooltip" data-placement="right" class="tooltip-muted"
                          title="Public indicates that all users at your company will be able to view and edit this list. Private indicates that this list can only be viewed and edited by you.">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-md-end">
                    <button type="submit" class="btn btn-link" id="saveProfile" data-spinnercontainer="btnSaveProfile"><i class="fal fa-star"></i><span> Save export settings</span></button>
                    <button type="button" class="btn btn-link" id="deleteProfile" data-spinnercontainer="btnDeleteProfile"><i class="fal fa-times"></i><span> Delete export settings</span></button>
                </div>
            </div>
        }
        <div class="row">
            @if (!string.IsNullOrWhiteSpace(ViewBag.ExportLimitWarning))
            {
                <div class="col-12">
                    <br />
                    @ViewBag.ExportLimitWarning
                </div>
            }
            <iframe id="exportFrame" style="display: none;"></iframe>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary px-4" id="export-button">Export</button>
    </div>
</div>
