﻿@model Medianet.Contacts.Web.ViewModels.List.ListViewModel
<div class="modal-content">
    <form id="frmAddList" data-action="@Url.Action("Create", "List")" data-spinnercontainer="frmAddList">
        <div class="modal-header">
            <h4 class="modal-title">Save list</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="col-12">
                    @Html.HiddenFor(m => Model.Type)
                    @Html.HiddenFor(m => Model.Expand)
                    @Html.HiddenFor(m => Model.CheckedItems)
                    @Html.HiddenFor(m => Model.CurrentPageOnly, new { id = "hfCurrentPageOnly" })
                    @Html.HiddenFor(m => Model.UncheckedItems, new { id = "hfUncheckedItems" })
                    @Html.HiddenFor(m => Model.CheckboxState, new { id = "hfCheckboxState" })
                    @Html.ValidationSummary(false, "", new { @class = " alert alert-danger d-none", id = "vsAddToList" })
                </div>
                <div class="col-12">
                    <input type="radio" value="New" name="GroupType" id="NewGroup" checked />
                    <label for="NewGroup" class="mr-3">New group</label>
                    <input type="radio" value="Existing" name="GroupType" id="ExistingGroup" />
                    <label class="ml-4" for="ExistingGroup">Existing group</label>
                </div>
                <div class="form-group col-12 select-container">
                    @Html.TextBoxFor(m => m.Group.Name, new { @class = "form-control", placeholder = "Group name", required = "required" })
                    @Html.ValidationMessageFor(m => m.Group.Name)
                    @Html.DropDownListFor(m => m.Group.Id, Model.Groups, new { @class = "form-control" })
                </div>                
                <div class="col-12 mt-2">
                    <input type="radio" value="New" name="ListType" id="NewList" checked />
                    <label for="NewList" class="mr-3">New list</label>
                    <input type="radio" value="Existing" name="ListType" id="ExistingList" data-action="@Url.Action("GetLists", "List")" />
                    <label class="ml-4" for="ExistingList">Existing list</label>
                </div>
                <div class="form-group col-12 select-container">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "List name", required = "required" })
                    @Html.ValidationMessageFor(m => m.Name)
                    <span id="GroupListContainer"></span>
                </div>
                <div class="form-group col-12">
                    <input type="radio" value="false" name="isPrivate" id="Public" @(!Model.IsPrivate ? "checked" : "") />
                    <label for="Public" class="mr-3">Public</label>
                    <input type="radio" value="true" name="isPrivate" id="Private" @(Model.IsPrivate ? "checked" : "") />
                    <label class="ml-4" for="Private">Private</label>
                    <span data-toggle="tooltip" data-placement="right" class="tooltip-muted"
                          title="Public indicates that all users at your company will be able to view and edit this list. Private indicates that this list can only be viewed and edited by you.">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </div>
                
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary px-4" data-spinnercontainer="btnAddList">Save</button>
        </div>
    </form>
</div>
