﻿@using Medianet.Contacts.Web.Common

@model Medianet.Contacts.Web.ViewModels.List.ListViewModel

@{
   var disableIsPrivate =  Model.UserId != SessionManager.Instance.CurrentUser.UserID;
}

<div class="modal-content">
    @using (Html.BeginForm("Edit", "List", FormMethod.Post, new { id = "frmEdit" }))
    {
        <div class="modal-header">
            <h4 class="modal-title">Edit list</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="col-12">
                    @Html.HiddenFor(m => m.ListId)
                    @Html.ValidationSummary(false, "", new { @class = " alert alert-danger d-none", id = "vsEdit" })
                </div>


                <div class="form-group col-12 mt-2">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "List name", required = "required" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group col-12">
                    <input type="radio" value="false" name="isPrivate" disabled="@disableIsPrivate" id="Public" @(Model.IsPrivate ? "" : "checked='checked'" ) />
                    <label for="Public">&nbsp;Public</label>
                    <input type="radio" value="true" name="isPrivate" disabled="@disableIsPrivate" id="Private" @(Model.IsPrivate ? "checked='checked'" : "" ) />
                    <label class="ml-4" for="Private">&nbsp;Private</label>
                    <span class="tooltip-muted" data-toggle="tooltip" data-placement="right" title="Public indicates that all users at your company will be able to view and edit this list. Private indicates that this list can only be viewed and edited by you.">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary px-4" data-spinnercontainer="btnSave">Save</button>
        </div>
    }
</div>