﻿@model Medianet.Contacts.Web.ViewModels.List.ListResultsViewModel

@if (Model.Pagination.ResultCount > 0)
{
    <h2 id="result-message" class="mb-3">@(Model.Pagination.ResultCount.ToString("N0")) records</h2>
}
else
{
    <h2 id="result-message" class="mb-3">No records found</h2>
}
