﻿@using Medianet.Contacts.Wcf.DataContracts.DTO;

@model Medianet.Contacts.Web.ViewModels.List.ListResultsViewModel

@foreach (var item in Model.Pagination.Results)
{
    <tr @(item.IsEntityDeleted ? "class=pinned" : "")>
        <td scope="row">
            @if (Model.Pagination.ListSet == 0)
            {
                <input type="checkbox" name="checkbox-outlet" title="Select" @(item.Selected ? "checked=\"checked\"" : "") id="@item.ToClientString()" data-record="@item.ToClientString()" data-record-id="@item.RecordId.ToString()">
            }

            <label for="@(Model.Pagination.ListSet == 0 ? item.ToClientString() : "")">
                @Html.PrivateIconHelper(item.OutletType)
                @if (@item.IsGeneric)
                {
                    @Html.Label(item.OutletName, new {@class = "rtbOutlet" + (item.HasPrivateOutlet ? " rtbPrivate" : "")})
                }
                else
                {
                    if (!string.IsNullOrWhiteSpace(@item.OutletID) && !item.OutletID.Equals("0"))
                    {

                        <a href="@Url.Action("Index", "Outlet", new { Id = (item.OutletID ?? string.Empty).Trim(), recordType = (int) item.OutletType })"
                            class="rtbOutlet@(item.HasPrivateOutlet ? " rtbPrivate" : "")"
                            data-toggle="popover" data-html="true"
                            data-outletId="@item.OutletID" data-recordType="@(Convert.ToInt32(item.OutletType))"
                            data-action="@(Url.Action("OutletPreview", "Outlet"))"><b>@item.OutletName</b></a>
                    }
                }
    
            </label>
        </td>
        <td>
            @if (!string.IsNullOrWhiteSpace(item.ContactIds) && !item.ContactIds.Equals("0"))
            {
                if (item.ContactIds.Contains('#'))
                {
                    <a href="@Url.Action("Expand","Search", new
                            {
                                outletid = item.OutletID,
                                type = (int)item.Type,
                                Advanced = false
                            
                            })">
                        <span data-toggle="tooltip" data-placement="right" title="@item.FullName"><b>@item.ContactDisplay</b></span>
                    </a>
                }
                else
                {
                    @Html.PrivateIconHelper(item.ContactType)
                    <a href="@Url.Action("Index", "Contact", new { outletId = (item.OutletID ?? string.Empty).Trim(), contactId = (item.ContactIds ?? string.Empty).Trim() , recordType = (int)item.ContactType })"
                       class="rtbName@(item.HasPrivateContact ? " rtbPrivate" : "")"
                       data-toggle="popover" data-html="true"
                       data-contactId="@item.ContactIds" data-outletId="@item.OutletID" data-recordType="@(Convert.ToInt32(item.ContactType))"
                       data-action="@(Url.Action("ContactPreview","Contact"))"><b>@item.ContactDisplay</b></a>
                }
            }
            @Html.Hidden(item.ContactId)
        </td>
        <td>@item.JobTitle</td>
        <td>
            <span data-toggle="tooltip" data-placement="left" title="@item.SubjectName">@item.SubjectDisplay</span>
        </td>
        <td>@item.ProductTypeName</td>
        <td>@item.MediaInfluencerScore</td>
        <td>@item.CityName</td>
        @if (Model.Pagination.ListSet == 0)
        {
            <td class="text-right actionBtns">
                <button class="btn btn-sm btn-link pl-0 btnDelete" data-confirm="Delete record" data-confirm-text="the selected record" data-toggle="tooltip" data-placement="left" title="Delete"><i class="fal fa-fw fa-times"></i></button>
            </td>
        }
    </tr>
}
