﻿@model Medianet.Contacts.Web.ViewModels.List.ListResultsViewModel

@{ Html.RenderPartial("_ListResultsCountPartial", Model); }

@{ Html.RenderPartial("_PaginationPartial", Model); }

<table id="rows">
    <tbody>
        @if (Model != null && Model.Pagination.Results != null)
        {
            Html.RenderPartial("_ListResultsRowPartial", Model);
        }
    </tbody>
</table>
