﻿@using Medianet.Contacts.Web.Common
<a class="d-flex mr-3 mb-3 deleteRecords badge badge-pill badge-primary" href="#" data-confirm-title="Delete records" data-confirm-text="the selected records" data-confirm-click="MediaPeople.List.PerformMultiDeleting()">
    <i class="fas fa-fw fa-times"></i>
    <span class="align-self-start m-1"> delete records</span>
</a>
@if (SessionManager.Instance.CurrentUser.CanExportContacts)
{
    <a class="d-flex mr-3 mb-3 showChaseList badge badge-pill badge-primary" href="#">
        <i class="fas fa-fw fa-list"></i>
        <span class="align-self-start m-1"> chase list</span>
    </a>
}
<a class="d-flex mr-3 mb-3 showDuplicateList badge badge-pill badge-primary" href="#">
    <i class="fas fa-fw fa-clone"></i>
    <span class="align-self-start m-1"> duplicate list</span>
</a>
<a class="d-flex mr-3 mb-3 showMergeLists badge badge-pill badge-primary" href="#">
    <i class="fas fa-fw fa-compress"></i>
    <span class="align-self-start m-1"> merge list</span>
</a>
<a class="d-flex mr-3 mb-3 showAddNote badge badge-pill badge-primary" href="#">
    <i class="fas fa-fw fa-pencil"></i>
    <span class="align-self-start m-1"> add note</span>
</a>
<a class="d-flex mr-3 mb-3 showMailingLabels badge badge-pill badge-primary" href="#">
    <i class="fas fa-fw fa-envelope"></i>
    <span class="align-self-start m-1"> mailing labels</span>
</a>
@if (SessionManager.Instance.CurrentUser.CanExportContacts)
{
    <a class="d-flex mb-3 showListExport badge badge-pill badge-primary" href="#">
        <i class="fas fa-fw fa-arrow-from-bottom"></i>
        <span class="align-self-start m-1">export list</span>
    </a>
}
