﻿<section class="resultEditSection">
    <div class="sectionTop">
        <span></span>
    </div>
    <div class="sectionBody mid_content">
        <table style="width:100%">
            <tr>
                <td>
                    <ul class="links list-buttons">
                        @if (ViewBag.ListSetId == 0)
                        {
                            <li class="list-button"><a title="Delete Selected Records" id="btnListDeleteRecords" class="aLinkBtn aLinkDelete pointer"><span>Delete Records</span></a></li>
                        }
                        @if (ViewBag.CanExportContacts == null || ViewBag.CanExportContacts)
                        {
                            <li class="list-button"><a title="Chase List" id="btnListChase" class="aLinkBtn aLinkChase pointer"><span>Chase List</span></a></li>
                        }
                        @if (ViewBag.ListSetId == 0)
                        {
                            <li class="list-button"><a title="Duplicate List" id="btnListDuplicate" class="aLinkBtn aLinkDuplicate pointer"><span>Duplicate List</span></a></li>
                            <li class="list-button"><a title="Merge Lists" id="btnListMerge" class="aLinkBtn aLinkMerge pointer"><span>Merge List</span></a></li>
                            <li class="list-button"><a title="Add Comment" id="add-comment-button" class="aLinkBtn aLinkAddComment pointer" data-type="1"><span>Add Comment</span></a></li>
                        }
                        <li class="list-button"><a title="Mailing Labels" id="btnListMailingLabels" class="aLinkBtn aLinkMailingLabels pointer"><span>Mailing Labels</span></a></li>
                        @if (ViewBag.CanExportContacts == null || ViewBag.CanExportContacts)
                        {
                            <li class="list-button"><a title="List Export" id="btnExport" class="aLinkBtn aLinkListExport pointer"><span>List Export</span></a></li>
                        }
                    </ul>
                </td>
                <td class="list-push-buttons">
                    <a title="Distribute your media release to your chosen list via fax or email" class="aBtn" id="btnDistribute" href="~/frmDistribute.aspx?listid=@Model.ListId"><span>Distribute</span></a>
                    <a title="Add more records to your list with an additional search" class="aBtn" id="btnAddResults" href="/Search?mode=new"><span>Add Results</span></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="sectionFooter">
        <span></span>
    </div>
</section>

<!-- "Delete Selected Records" confirmation popup dialog -->
<div id="divListConfirmDeleteRecords" title="Delete selected" style="display:none;">
    <p style="margin-bottom:0px;">
        <span class="ui-icon ui-icon-info" style="float: left; margin: 0 7px 20px 0;"></span>New list version will be created with the selected records deleted.
        <br/><br/>
        <span style="margin-right: 23px;"></span>Proceed?
    </p>
</div>
