﻿@using Medianet.Contacts.Web.Common.BO
@model Medianet.Contacts.Web.ViewModels.List.ListMergeViewModel

<div class="modal-content">
    @using (Html.BeginForm("Merge", "List", FormMethod.Post, new {id = "mergeForm"}))
    {
        <div class="modal-header">
            <h4 class="modal-title">Merge list</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="col-12">
                    @Html.HiddenFor(m => m.ListId)
                    <input type="hidden" id="hdnNewListId" value="@Model.NewListId" />
                    @Html.CustomValidationSummary(true, "", new { @class = " alert alert-danger", id = "vsMergeList"})
                </div>
                <div class="col-12">
                    <input type="radio" value="@GroupState.New.ToString()" name="GroupState" id="NewGroup" @(Model.GroupState == GroupState.New ? "checked='checked'" : "") />
                    <label for="NewGroup">New group</label>
                    <input type="radio" value="@GroupState.Existing.ToString()" name="GroupState" id="ExistingGroup" @(Model.GroupState == GroupState.New ? "" : "checked='checked'") />
                    <label class="ml-4" for="ExistingGroup">Existing group</label>
                </div>                
                <div class="form-group col-12 select-container">
                    @Html.DropDownListFor(m => m.Group.Id, Model.Groups, new { id = "groupId", @class = "form-control" })
                    @Html.TextBoxFor(m => m.Group.Name, new { id = "groupName", @class = "form-control", placeholder = "Group name", required = "required", data_val="true", data_val_required="Please enter a new group name" })
                    @Html.ValidationMessageFor(m => m.Group.Name)
                </div>
                <div class="form-group col-12 mt-2">
                    @Html.TextBoxFor(m => m.NewListName, new { @class = "form-control", placeholder = "List name", required = "required" })
                    @Html.ValidationMessageFor(m => m.NewListName)
                </div>
                <div class="form-group col-12">
                    <input type="radio" value="false" name="isPrivate" id="Public" @(Model.IsPrivate ? "" : "checked='checked'") />
                    <label for="Public">&nbsp;Public</label>
                    <input type="radio" value="true" name="isPrivate" id="Private" @(Model.IsPrivate ? "checked='checked'" : "") />
                    <label class="ml-4" for="Private">&nbsp;Private</label>
                    <span data-toggle="tooltip" data-placement="right" class="tooltip-muted"
                          title="Public indicates that all users at your company will be able to view and edit this list. Private indicates that this list can only be viewed and edited by you.">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </div>
                <div class="col-12">
                    <label>Merge list <strong>&nbsp;@Model.Name&nbsp;</strong> with:</label>
                    <select multiple="multiple" size="10" name="ListsToMergeWith" id="ListsToMergeWith" class="form-control popupFormListsToMergeWith">
                        @if (Model.ListsGrouped != null)
                        {
                            foreach (KeyValuePair<string, List<SelectListItem>> kvp in Model.ListsGrouped)
                            {
                                if (kvp.Value != null && kvp.Value.Count > 0)
                                {
                                    <optgroup label="@kvp.Key">
                                        @foreach (SelectListItem item in kvp.Value)
                                        {
                                            <option value="@item.Value" @(item.Selected ? "selected='selected'" : "")>
                                                @item.Text
                                            </option>
                                        }
                                    </optgroup>
                                }
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(m => m.ListsToMergeWith)
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary px-4" data-spinnercontainer="btnMergeList">Merge</button>
        </div>
    }
</div>
