﻿@model  Medianet.Contacts.Web.ViewModels.List.ListVersionViewModel
<div class="card mb-4" id="sectionListVersions">
    <div class="card-body collapsible">
        <h5 class="d-inline cursor-pointer @(Model.SelectedListSetId == 0 ? "collapsed" : "")" data-toggle="collapse" data-target="#historyContent">
            <i class="fal fa-chevron-down fa-fw" aria-hidden="true"></i>
            List history
        </h5>
        <div class="@(Model.SelectedListSetId == 0 ? "collapse" : "")" id="historyContent" data-spinnercontainer="historyContent">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">Version</th>
                        <th scope="col">Date</th>
                        <th scope="col">List name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Results)
                    {
                        <tr class="listsetLoad @(item.Id.Equals(Model.SelectedListSetId) ? "pinned" : "")" data-id="@item.ListId" data-listset-id="@item.Id">
                            <td>@((item.Id == 0) ? "Current Version" : @item.Version.ToString())</td>
                            <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>
                                @if (item.Id.Equals(Model.SelectedListSetId))
                                {
                                    @item.Name
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "List", new { ListId = item.ListId, ListSetId = item.Id })">@item.Name</a>
                                }
                            </td>
                            <td class="text-right">
                                @if (item.Id != 0)
                                {
                                    <button class="btn btn-sm btn-link listsetRestore" data-confirm="Restore version" data-confirm-description="Are you sure you want to restore this version?" data-button-text="Restore" data-toggle="tooltip" data-placement="left" title="Restore version"><i class="fal fa-fw fa-undo"></i></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
