﻿@model Medianet.Contacts.Web.ViewModels.List.ListResultsViewModel

@if (Model != null && Model.Pagination.Results != null)
{
    <div class="card mb-4">
        <div class="card-body listResultSection moveTop" data-spinnercontainer="resultsContent">
            <div class="d-flex align-items-start justify-content-between">
                @{ Html.RenderPartial("_ListResultsCountPartial", Model); }
            </div>

            @if (Model.Pagination.Results.Count > 0)
            {
                <div class="d-flex flex-wrap justify-content-start text-right border-bottom actionBtns">
                    @Html.Partial("_ListActionBarPartial")
                </div>
                Html.RenderPartial("_ListResultsTablePartial", Model);
                <div class="col-move col-move-top">&nbsp;</div>
            }

            @{ Html.RenderPartial("_PaginationPartial", Model); }
            <div class="d-flex flex-wrap justify-content-start mt-2 py-3 text-right border-top actionBtns">
                @Html.Partial("_ListActionBarPartial")
            </div>
        </div>
    </div>
}
