﻿@using Medianet.Contacts.Wcf.DataContracts.DTO;

@model Medianet.Contacts.Web.ViewModels.List.ListResultsViewModel

<section class="table-responsive resultSection">
    <table class="table resultTableHeader" data-expand="@ViewBag.Expand" @(Model.Pagination.SortColumn == SortColumn.Default ?
            "data-sortcol=" + (int) SortColumn.OutletName + " data-sortdir=" + (int) Model.Pagination.SortDirection : "")>
        <thead>
        <tr>
            <th class="w-25" scope="col">
                @if (Model.Pagination.ListSet == 0)
                {
                    <input type="checkbox" title="Select All" id="mainCheckbox" data-checkbox="@((int) Model.Pagination.CheckboxState)">
                    <label for="mainCheckbox">&nbsp;</label>
                }
                <span class="sortable text-nowrap">
                    Outlet
                    <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                        <span class="@(Model.Pagination.SortColumn == SortColumn.Default ? "fas fa-sort-down" : "fas fa-sort")" data-sortcol="@((int) SortColumn.OutletName)"></span>
                    </span>
                </span>
            </th>
            <th class="w-15" scope="col">
                <span class="sortable text-nowrap">
                    Name
                    <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                        <span class="fas fa-sort" data-sortcol="@((int) SortColumn.ContactName)"></span>
                    </span>
                </span>
            </th>
            <th class="w-15" scope="col">
                <span class="sortable text-nowrap">
                    Job title
                    <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                        <span class="fas fa-sort" data-sortcol="@((int) SortColumn.JobTitle)"></span>
                    </span>
                </span>
            </th>
            <th class="w-10" scope="col">
                <span class="sortable text-nowrap">
                    Subjects
                    <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                        <span class="fas fa-sort" data-sortcol="@((int) SortColumn.Subject)"></span>
                    </span>
                </span>
            </th>
            <th class="w-10" scope="col">
                <span class="sortable text-nowrap">
                    Media type
                    <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                        <span class="fas fa-sort" data-sortcol="@((int) SortColumn.MediaType)"></span>
                    </span>
                </span>
            </th>
            <th class="w-10" scope="col">
                <span class="sortable text-nowrap">
                    Score
                    <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                        <span class="fas fa-sort" data-sortcol="@((int) SortColumn.ContactInfluencerScore)"></span>
                    </span>
                </span>
            </th>
            <th class="w-10" scope="col">
                <span class="sortable text-nowrap">
                    Location
                    <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                        <span class="fas fa-sort" data-sortcol="@((int) SortColumn.Location)"></span>
                    </span>
                </span>
            </th>
            @if (Model.Pagination.ListSet == 0)
            {
                <th class="w-5 actionBtns">
                </th>
            }
        </tr>
        </thead>
        <tbody>
            @{ Html.RenderPartial("_ListResultsRowPartial", Model); }
        </tbody>
    </table>
</section>
