﻿@model Medianet.Contacts.Web.ViewModels.List.LivingListChooseAnotherContactModel

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="saveSearchModalLabel">Choose another contact</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="col-12">
                <div id="serverMessage" class="validation-summary-errors">@(ViewBag.Message ?? "")</div>
                @Html.ValidationSummary()
            </div>
            <div class="col-12">
                Please select another contact
            </div>
            <div class="col-12 select-container">
                    @if (Model.Contacts != null)
                    {
                        @Html.DropDownListFor(m => m.ContactId, Model.Contacts, new { @class = "form-control" })
                    }
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary px-4" id="choose-button">Choose</button>
    </div>
</div>
