﻿<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="saveSearchModalLabel">Chase list</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="col-12">
                <div id="serverMessage" class="validation-summary-errors">@(ViewBag.Message != null ? ViewBag.Message : "")</div>
                @Html.ValidationSummary(false, "", new { @class = " alert alert-danger d-none" })
            </div>
            <div class="col-12 card-text mb-4">
                Export a PDF version of this list with names, phone numbers and emails to assist in contacting the list's members.
            </div>
            <div class="col-12">
                <label>Please select file type</label>
            </div>
            <div class="col-12 select-container">
                <select id="fileFormat" class="form-control">
                    <option value="PDF">Acrobat (PDF) file</option>
                    <option value="RTF">Rich Text (RTF) file</option>
                </select>
            </div>
            @if (!string.IsNullOrWhiteSpace(ViewBag.ExportLimitWarning))
            {
                <div class="col-12">
                    <br />
                    @ViewBag.ExportLimitWarning
                </div>
            }
            <iframe id="iframeChaseListExport" style="display: none;"></iframe>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary px-4" id="export-button">Export</button>
    </div>
</div>
