﻿<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="saveSearchModalLabel">Mailing labels</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="col-12">
                <div id="serverMessage" class="validation-summary-errors">@(ViewBag.Message ?? "")</div>
                @Html.ValidationSummary()
            </div>
            <div class="col-12">
                <label>Please select file type</label>
            </div>
            <div class="col-12 select-container">
                <select id="fileFormat" class="form-control">
                    <option value="PDF">Acrobat (PDF) file</option>
                    <option value="RTF">Rich Text (RTF) file</option>
                </select>
            </div>
            <div class="col-12 mt-4">
                <input class="popupFormRadio" type="radio" name="reportType" id="rbAveryL7159" value="1" checked="checked" />
                <label for="rbAveryL7159">&nbsp;Avery L7159</label>
                <input class="popupFormRadio" type="radio" name="reportType" id="rbAveryDL30" value="2" />
                <label class="ml-4" for="rbAveryDL30">&nbsp;Avery DL30</label>
            </div>
            <iframe id="iframeMailingLabels" style="display: none;"></iframe>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary px-4" id="export-button" data-spinnercontainer="btnMailingList">Export</button>
    </div>
</div>
