﻿@using Medianet.Contacts.Web.Common.BO
@model Medianet.Contacts.Web.ViewModels.List.ListDuplicateViewModel

<div class="modal-content">
    @using (Html.BeginForm("Duplicate", "List", FormMethod.Post, new { id = "duplicateForm" }))
    {
        <div class="modal-header">
            <h4 class="modal-title">Duplicate list</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                @Html.HiddenFor(m => m.ListId)
                <input type="hidden" id="hdnNewListId" value="@Model.NewListId" />
                <div class="col-12">
                    <div class="validation-summary-errors  alert alert-danger d-none" id = "vsDuplicateList"></div>
                </div>
                <div class="col-12">
                    <input type="radio" value="@GroupState.New.ToString()" name="GroupState" id="NewGroup" @(Model.GroupState == GroupState.New ? "checked='checked'" : "") />
                    <label for="NewGroup">&nbsp;New group</label>
                    <input type="radio" value="@GroupState.Existing.ToString()" name="GroupState" id="ExistingGroup" @(Model.GroupState == GroupState.New ? "" : "checked='checked'") />
                    <label class="ml-4" for="ExistingGroup">&nbsp;Existing group</label>
                </div>
                <div class="form-group col-12 select-container">
                    @Html.DropDownListFor(m => m.Group.Id, Model.Groups, new { id = "groupId", @class = "form-control" })
                    @Html.TextBoxFor(m => m.Group.Name, new { id = "groupName", @class = "form-control", placeholder = "Group name", required = "required", data_val = "true", data_val_required = "Please enter a new group name" })
                    @Html.ValidationMessageFor(m => m.Group.Name)
                </div>
                
                <div class="col-12 mt-2">                    
                    @Html.TextBoxFor(m => m.NewListName, new { @class = "form-control", placeholder = "List name", required = "required" })
                    @Html.ValidationMessageFor(m => m.NewListName)
                </div>
                <div class="form-group col-12 mt-3">
                    <input type="radio" value="false" name="isPrivate" id="Public" @(!Model.IsPrivate ? "checked" : "") />
                    <label for="Public">&nbsp;Public</label>
                    <input type="radio" value="true" name="isPrivate" id="Private" @(Model.IsPrivate ? "checked" : "") />
                    <label class="ml-4" for="Private">&nbsp;Private</label>
                    <span data-toggle="tooltip" data-placement="right" class="tooltip-muted"
                          title="Public indicates that all users at your company will be able to view and edit this list. Private indicates that this list can only be viewed and edited by you.">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </div>
                
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary px-4" data-spinnercontainer="btnDuplicateList">Save</button>
        </div>
    }
</div>
