﻿@model List<Medianet.Contacts.Web.ViewModels.List.ListContactReplacementViewModel>

<div class="card mb-4" id="sectionLivingList">
    <div class="card-body collapsible">
        <h5 class="d-inline cursor-pointer" data-toggle="collapse" data-target="#livingContent">
            <i class="fal fa-chevron-down fa-fw" aria-hidden="true"></i>
            Living list updates
            @if (Model!= null && Model.Any())
            {
                <span class="badge badge-primary py-1">@Model.Count</span>
            }
        </h5>
        <div class="table-responsive collapse show" id="livingContent" data-spinnercontainer="livingContent">
          @if (Model != null && Model.Any())
          {
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Contact deleted</th>
                            <th scope="col">Outlet</th>
                            <th scope="col">Replaced by</th>
                            <th scope="col" class="text-right">
                                <a class="badge badge-pill badge-primary confirmAcceptAll" data-toggle="tooltip" data-placement="left" title="Accept all the suggested changes to this list." data-confirm="Accept All" data-button-text="Accept All"
                                   href="#" data-search-page="false">
                                    <span class="align-self-start m-1">ACCEPT ALL</span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-record-id="@item.RecordId.ToString()">
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(item.OmaContactId))
                                    {
                                        <i class="fas fa-lock"></i>
                                    }
                                    @item.ContactDeletedName
                                </td>
                                <td>@item.OutletDeletedName</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ContactReplacementName))
                                    {
                                        <a href="@Url.Action("Index", "Contact", new { outletId = (item.OutletDeletedId ?? string.Empty).Trim(), contactId = item.ContactReplacementId.Trim(), recordType = item.RecordType })"
                                           data-toggle="popover" data-html="true" data-action="@(Url.Action("ContactPreview", "Contact"))"
                                           data-contactId="@item.ContactReplacementId.Trim()" data-outletId="@item.OutletDeletedId" data-recordType="@item.RecordType">
                                            <b>@item.ContactReplacementName</b>
                                        </a>
                                    }
                                </td>
                                <td class="text-right actionBtns">
                                    @if (!string.IsNullOrWhiteSpace(item.ContactReplacementName))
                                    {
                                        <button class="btn btn-sm btn-link pl-0 ml-1 confirmReplacement" data-confirm="Replace" data-button-text="Replace" data-toggle="tooltip" data-placement="left" title="Confirm"><i class="fal fa-fw fa-check circled"></i></button>
                                        <button class="btn btn-sm btn-link pl-0 ml-1 chooseAnother" data-toggle="tooltip" data-placement="left" title="Choose another"><i class="fal fa-fw fa-pencil"></i></button>
                                    }
                                    <button class="btn btn-sm btn-link pl-0 ml-1 confirmRemoval" data-confirm="Remove" data-button-text="Remove" data-toggle="tooltip" data-placement="left" title="Remove"><i class="fal fa-fw fa-times"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <span>You have no living list updates.</span>
            }
        </div>
        <span data-toggle="tooltip" data-placement="left" class="tooltip-info-icon"
              title="Living list updates show you the contacts on your list who have been replaced in their position or are no longer working in their role. You can accept our recommended replacement, choose an alternative or remove the role from your list.">
            <i class="fa fa-info-circle"></i>
        </span>
    </div>
</div>

<input type="hidden" id="hdnRecordId" />
