﻿@{
    ViewBag.Title = "List " + @Model.Name;
}
@using Medianet.Contacts.Web.Common
@model Medianet.Contacts.Web.ViewModels.List.ListViewModel

@section Javascript {
    @Scripts.Render("~/bundles/list")
}

@Html.Hidden("hdnListId", Model.ListId)
@Html.Hidden("hdnListSetId", Model.ListSet)
@Html.Hidden("hdnListIsPrivate", Model.IsPrivate.ToString())

<div class="d-flex align-items-center justify-content-between">
    <div class="col-12">
        <h2 class="mb-0">@Model.Name
            <button data-edit-list class="btn btn-link py-0 pr-0" data-toggle="tooltip" data-placement="right" title="Edit List"
                       data-edit-list-action="@Url.Action("Edit", "List", new { listId = Model.ListId })">
                <i class="fal fa-pencil" aria-hidden="true"></i>
            </button>
        </h2>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <!-- The Living lists -->
        @if ((Model != null) && (Model.LivingList != null) && (Model.ListSet == 0))
        {
            @Html.Partial("_LivingListPartial", Model.LivingList)
        }
        @if ((Model != null) && (Model.ListResults != null))
        {
            @Html.Partial("_ListResultsPartial", Model.ListResults)
        }
        @if ((Model != null) && (Model.ListVersions != null))
        {
            @Html.Partial("_ListVersionPartial", Model.ListVersions)
        }
    </div>
</div>
