﻿@model Medianet.Contacts.Web.ViewModels.PitchingProfileViewModel
@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">ABOUT</h5>
            <ul>
                @if (!String.IsNullOrEmpty(Model.NamePronunciation))
                {
                    <li>
                        <b>Name Pronunciation: </b>
                        <span>@Model.NamePronunciation</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.AlsoKnownAs))
                {
                    <li>
                        <b>Also Known As: </b>
                        <span>@Model.AlsoKnownAs</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.CurrentStatus))
                {
                    <li>
                        <b>Current Status: </b>
                        <span>@Model.CurrentStatus</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.BasedInLocation))
                {
                    <li>
                        <b>Based In Location: </b>
                        <span>@Model.BasedInLocation</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.PoliticalParty))
                {
                    <li>
                        <b>Political Party: </b>
                        <span>@Model.PoliticalParty</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.AppearsIn))
                {
                    <li>
                        <b>Appears In: </b>
                        <span>@Model.AppearsIn</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.AuthorOf))
                {
                    <li>
                        <b>Author Of: </b>
                        <span>@Html.FormatBioHelper(Model.AuthorOf)</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.Awards))
                {
                    <li>
                        <b>Awards: </b>
                        <span>@Html.FormatBioHelper(Model.Awards)</span>
                    </li>
                }
            </ul>
        </div>
    </div>
}