﻿@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel

@{
    List<Medianet.Contacts.Web.ViewModels.Outlet.OutletBaseViewModel> otherOutlets = Model.Outlets.ToList();
}

@if (Model.AtOutlet != null)
{
    bool isGeneric = Model.AtOutlet.IsGeneric;
    otherOutlets = otherOutlets.Where(o => o.OutletId != Model.AtOutlet.OutletId).ToList();

    var logoFile = string.Empty;
    <div>
        <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">OUTLETS</h5>

        @if (!string.IsNullOrEmpty(Model.AtOutlet.LogoFileName))
        {
            logoFile = System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(Model.AtOutlet.LogoFileName);
        }

        @if (!String.IsNullOrEmpty(logoFile))
        {
            <span style="text-align:center; display:block;">
                <img class="img-fluid" src="@(logoFile)" alt="Outlet logo" style="max-width:120px;" />
            </span>
        }
        else
        {
            @Html.Raw(Model.AtOutlet.Name)
        }
    </div>
}
@if (otherOutlets.Any())
{
    <div>
        <hr>
        <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">OTHER OUTLETS</h5>
        <ul>
            @foreach (var outlet in otherOutlets)
                {
                <li class="@(otherOutlets.IndexOf(outlet) > 9 ? "extra-outlets collapse" : "")">
                    @if (!string.IsNullOrWhiteSpace(@outlet.OutletId) && !outlet.OutletId.Equals("0"))
                    {
                        @Html.Raw(outlet.Name)
                    }
                </li>
            }
        </ul>
    </div>
}