﻿@using Medianet.Contacts.Web.ViewModels.Social;
@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel

@{
    var webUrl = Model.WebUrl;
    var blog = Model.BlogUrl;
}
<div style="text-align: center !important;">
    @if (ViewBag.TwitterInfo != null && !string.IsNullOrWhiteSpace(((TwitterUserViewModel)ViewBag.TwitterInfo).ProfileImage))
    {
        <img id="profileImage" style="border-radius: 5em !important;" width="117" height="117" alt="Contact avatar"
             src="@ViewBag.TwitterInfo.ProfileImage.Replace("_normal", "_400x400")" />
    }
</div>
<div>
    <p style="text-align: center !important;">
        @Html.PrivateIconHelper(Model.Type)
        <b class="text-large">@Model.Name</b><br>
        @Model.JobTitle

        @if (Model.AtOutlet != null && !Model.AtOutlet.IsGeneric && Model.AtOutlet.Name.HasValue())
            {
            @Html.Raw("at ")
            <span class="text-primary font-weight-bold">@Model.AtOutlet.Name</span>
            }
    </p>
    @if (UriHelper.Host(webUrl).HasValue() || blog.HasValue() || Model.Email.HasValue() || Model.AlternativeEmailAddress.HasValue() || Model.Mobile.HasValue() || Model.AdditionalMobileNumber.HasValue() || Model.Phone.HasValue() || Model.AdditionalPhoneNumber.HasValue())
        {
        <hr>
            if (UriHelper.Host(webUrl).HasValue())
            {
        <p>
            <a class="text-primary font-weight-bold" target="_blank" href="@webUrl">Website</a>
        </p>
            }

            if (blog.HasValue())
            {
        <p>
            <a class="text-primary font-weight-bold" target="_blank" href="@blog">Blog</a>
        </p>
            }

            if (Model.Email.HasValue())
            {
        <p>
            <b class="text-font-heading">Email: </b><a href="mailto:@(Model.Email)" title="@(Model.Email)">@Model.Email</a>
        </p>
            }

            if (Model.AlternativeEmailAddress.HasValue())
            {
        <p>
            <b>Alternative Email: </b>
            @Model.AlternativeEmailAddress
        </p>
            }

            if (Model.Mobile.HasValue())
            {
        <p>
            <b>Mobile: </b>@Model.Mobile
        </p>
            }

            if (Model.AdditionalMobileNumber.HasValue())
            {
        <p>
            <b>Additional Mobile: </b>
            <span class="text-nowrap">@Model.AdditionalMobileNumber</span>
        </p>
            }

            if (Model.Phone.HasValue())
            {
        <p>
            <b>Phone: </b>
            <span class="text-nowrap">@Model.Phone</span>
        </p>
            }

            if (Model.AdditionalPhoneNumber.HasValue())
            {
        <p>
            <b>Additional Phone: </b>
            <span class="text-nowrap">@Model.AdditionalPhoneNumber</span>
        </p>
            }
        }

    @if (Model.Address != null && Model.Address.AddressLine1.Trim().HasValue())
        {
        <p class="card-text">
            <hr>
            <b>Address: </b><br>
        <p class="address">
            @if (Model.Address.AddressLine1.HasValue())
                    {
                    @Model.Address.AddressLine1.Trim()
                    <br />
                    }
            @if (Model.Address.AddressLine2.HasValue())
                    {
                    @Model.Address.AddressLine2.Trim()
                    <br />
                    }
            @Html.LabelForModel(string.Join(", ", new List<string> {
                                Model.Address.City, Model.Address.State, Model.Address.PostCode , Model.Address.Country }.FindAll(m => m.HasValue())))
        </p>
        </p>
        }
    @if (Model.OfficeHours.HasValue())
        {
        <p>
            <b>Office Hours: </b><br />
            @Html.Raw(Model.OfficeHours.Replace(Environment.NewLine, "<br />"))
        </p>
        }
</div>
