﻿@model Medianet.Contacts.Web.ViewModels.PitchingProfileViewModel
@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">PITCHING PROFILE</h5>
            <ul>
                @if (!String.IsNullOrEmpty(Model.BestContactTime))
                {
                    <li>
                        <b>Best Time To Contact: </b>
                        <span>@Model.BestContactTime</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.BusyTimes))
                {
                    <li>
                        <b>Busy Times: </b>
                        <span>@Model.BusyTimes</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.Deadlines))
                {
                    <li>
                        <b>Deadlines: </b>
                        <span>@Model.Deadlines</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.PitchingDos))
                {
                    <li>
                        <b>Pitching Do's: </b>
                        <span>@Html.FormatBioHelper(Model.PitchingDos)</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.PitchingDonts))
                {
                    <li>
                        <b>Pitching Don'ts: </b>
                        <span>@Html.FormatBioHelper(Model.PitchingDonts)</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.BugBears))
                {
                    <li>
                        <b>Bugbears: </b>
                        <span>@Html.FormatBioHelper(Model.BugBears)</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.PressReleaseInterests))
                {
                    <li>
                        <b>Special Interests: </b>
                        <span>@Html.FormatBioHelper(Model.PressReleaseInterests)</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.PersonalInterests))
                {
                    <li>
                        <b>Personal Interests: </b>
                        <span>@Html.FormatBioHelper(Model.PersonalInterests)</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.GiftsAccepted.ToString()))
                {
                    <li>
                        <b>Gifts Accepted: </b>
                        <span>@Model.GiftsAccepted.ToString()</span>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.CoffeeOrder))
                {
                    <li>
                        <b>Coffee Order: </b>
                        <span>@Model.CoffeeOrder</span>
                    </li>
                }
            </ul>
        </div>
    </div>
}