﻿@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel
@using Medianet.Contacts.Web.ViewModels;

<div class="card mb-4 scoreNcontact">
    <div class="d-flex text-center">
        @if (Model.CurrentlyOutOfOffice || Model.SoonToBeOutOfOffice)
        {
            <div>
                <div style="color:#de6d43; font-weight: bold;">
                    <br />
                    <span  style="color:#de6d43; font-weight: bold;">
                        @(Model.CurrentlyOutOfOffice ? Html.Raw("Out of Office") : Html.Raw(""))
                    </span>
                    @if (Model.SoonToBeOutOfOffice)
                    {
                        <div class="">
                            Upcoming Out of Office
                        </div>
                    }
                    @if (Model.OutOfOfficeStartDate.HasValue)
                    {
                        <div class="mt-2">
                            <span class="">From: </span>
                            <span>
                                @Model.OutOfOfficeStartDate.Value.ToShortDateString()
                            </span>
                        </div>
                    }
                    @if (Model.OutOfOfficeReturnDate.HasValue)
                    {
                        <div class="mb-2">
                            <span class="">Returning: </span>
                            <span>
                                @Model.OutOfOfficeReturnDate.Value.ToShortDateString()
                            </span>
                        </div>
                    }
                    <br />
                </div>
            </div>
        }
        @if (Model.DeliveryMethod != null)
        {
            DeliveryMethodViewModel deliveryModel = SharedFunctions.GetPreferredDeliveryMethodClass(Model);

            <div class="col d-flex flex-column align-self-center text-primary p-3">
                <span class="tooltip-info-icon" data-toggle="tooltip" data-placement="left"
                      title="This is how the contact or outlet prefers to be contacted for media pitches and opportunities.">
                    <i class="fas fa-info-circle"></i>
                </span>
                <i class="@(deliveryModel.CssClass) fa-pull-right ml-0 mt-2 mb-1"></i>
                @if (!string.IsNullOrEmpty(deliveryModel.DeliveryMethod))
                {
                    <div>
                        <span class="font-weight-bold text-font-heading mb-2">Preferred Contact</span><br>
                    </div>
                    <div class="my-2">
                        @if (Model.DeliveryMethod == Medianet.Contacts.Wcf.DataContracts.DTO.PreferredDeliveryMethod.Email)
                        {
                            <a href="mailto:@deliveryModel.DeliveryMethod" title="@(deliveryModel.DeliveryMethod.ToLower())">
                                <span class="d-inline-block text-lineheight-min">@(deliveryModel.DeliveryMethod.ToLower())</span>
                            </a>
                        }
                        else
                        {
                            <span class="d-inline-block text-lineheight-min">@(deliveryModel.DeliveryMethod)</span>
                        }
                    </div>
                }
            </div>
        }

    </div>
</div>
