﻿@model List<Medianet.Contacts.Web.ViewModels.Contact.WorkHistoryViewModel>

@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">WORK HISTORY</h5>
            <table border="0" style="width:100%;">
                @foreach (var history in Model)
                {
                    <tr>
                        <td>
                            @{
                                var logoFile = string.Empty;

                                if (!string.IsNullOrEmpty(history.LogoFileName))
                                {
                                    logoFile = new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(history.LogoFileName);
                                }
                                if (!string.IsNullOrEmpty(logoFile))
                                {
                                    <img class="img-fluid my-1 mx-auto" src="@(System.Configuration.ConfigurationManager.AppSettings["RootUrl"] + logoFile)" alt="Outlet logo" width="90" height="90">
                                }
                            }
                        </td>
                        <td>
                            @history.JobTitle<br>
                            <b>@history.CompanyName</b><br>
                            @history.DateRange
                            <text> · </text>
                            @history.Period
                        </td>
                    </tr>
                    if (history != Model[Model.Count - 1])
                    {
                        <tr><td colspan="2"><hr></td></tr>
                    }
                }
            </table>
        </div>
    </div>
}