﻿@{
    ViewBag.Title = "Contact";
}
@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel

<tr id="intro">
    <td class="intro" colspan="2">
        <p>Hi there,</p>
        <p>You've been sent a new media contact profile.</p>
        <p>For more contact profiles featuring detailed bios, pitching preferences and media influencer scores visit <a href="https://www.medianet.com.au/">www.medianet.com.au</a>.</p>
    </td>
</tr>
<tr>
    <td align="left" colspan="2">
        <h2>Contact</h2>
    </td>
</tr>
<tr>
    <td data-html-240 data-pdf-40 valign="top">
        <table border="0" cellspacing="0" cellpadding="6" align="left" style="padding:0px; margin:0px; width:100%;">
            <tr>
                <td bgcolor="#ffffff" style="page-break-inside: avoid; width:100%;">
                    @Html.Partial("~/Views/Contact/ShareProfile/_ContactDetailsPartial.cshtml")
                </td>
            </tr>
            <tr>
                <td bgcolor="#ededed"></td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                    @Html.Partial("~/Views/Contact/ShareProfile/_ContactOutletsPartial.cshtml")
                </td>
            </tr>
            <tr>
                <td bgcolor="#ededed"></td>
            </tr>
            @if (Model.Subjects != null && Model.Subjects.Any())
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        @Html.Partial("~/Views/Outlet/ShareProfile/_SubjectProfilePartial.cshtml", Model.Subjects)
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
            @if (Model != null && Model.BelongsToLists.Any())
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        @Html.Partial("~/Views/Outlet/ShareProfile/_BelongToListsPartial.cshtml", Model.BelongsToLists)
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
        </table>@*240px wide table*@
    </td>@*first column*@
    <td data-html-400 data-pdf-60 valign="top">
        <table data-pdf-100 border="0" cellspacing="0" cellpadding="6" valign="top" align="left">
            <tr>
                <td bgcolor="#ffffff" style="page-break-inside: avoid; width:100%;">
                    @Html.Partial("~/Views/Contact/ShareProfile/_PreferredDeliveryMethodPartial.cshtml", Model)
                </td>
            </tr>
            <tr>
                <td bgcolor="#ededed"></td>
            </tr>
            @if (Model.PitchingProfileViewModel != null)
            {
                if (Model != null && (!string.IsNullOrEmpty(Model.PitchingProfileViewModel.NamePronunciation) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.AlsoKnownAs) ||
                                !string.IsNullOrEmpty(Model.PitchingProfileViewModel.CurrentStatus) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.BasedInLocation) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.PoliticalParty) ||
                                !string.IsNullOrEmpty(Model.PitchingProfileViewModel.AppearsIn) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.AuthorOf) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.Awards)))
                {
                    <tr>
                        <td bgcolor="#ffffff" style="page-break-inside: avoid;">

                            @Html.Partial("~/Views/Contact/ShareProfile/_AboutPartial.cshtml", Model.PitchingProfileViewModel)

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ededed"></td>
                    </tr>
                }
                if (Model != null && (!string.IsNullOrEmpty(Model.PitchingProfileViewModel.BestContactTime) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.BusyTimes) ||
                                       !string.IsNullOrEmpty(Model.PitchingProfileViewModel.Deadlines) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.PitchingDos) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.PitchingDonts) ||
                                       !string.IsNullOrEmpty(Model.PitchingProfileViewModel.BugBears) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.PressReleaseInterests) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.PersonalInterests) ||
                                       !string.IsNullOrEmpty(Model.PitchingProfileViewModel.GiftsAccepted) || !string.IsNullOrEmpty(Model.PitchingProfileViewModel.CoffeeOrder)))
                {
                    <tr>
                        <td bgcolor="#ffffff" style="page-break-inside: avoid;">

                            @Html.Partial("~/Views/Contact/ShareProfile/_PitchingProfilePartial.cshtml", Model.PitchingProfileViewModel)

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ededed"></td>
                    </tr>
                }
            }
            @if (!String.IsNullOrEmpty(Model.Bio))
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        <div>
                            <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">BIO</h5>
                            <p>
                                @Html.FormatBioHelper(Model.Bio)
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
            @if (Model.WorkHistory != null && Model.WorkHistory.Count > 0)
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        @Html.Partial("~/Views/Contact/ShareProfile/_WorkHistoryPartial.cshtml", Model.WorkHistory)
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.ProfileNotes))
            {
                <tr>
                    <td bgcolor="#ffffff" style="page-break-inside: avoid;">
                        <div>
                            <h5 style="font-weight: bold; font-size: .95rem; line-height: 1.2; margin-top: 0.75rem; margin-bottom: 0.75rem;">DETAILS</h5>
                            <p>
                                @Html.Raw(Model.ProfileNotes)
                            </p>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.InterviewLink))
            {
                <tr>
                    <td bgcolor="#e4e4e2" style="page-break-inside: avoid;">
                        @Html.Partial("~/Views/Contact/_ContactInterviewBioPartial.cshtml", Model)
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
            @if (Model.SocialDetails != null)
            {
                <tr>
                    <td bgcolor="#e4e4e2" style="page-break-inside: avoid;">
                        @Html.Partial("~/Views/Outlet/ShareProfile/_SocialEngagementPartial.cshtml", Model.SocialDetails)
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ededed"></td>
                </tr>
            }
        </table>@*380px wide table*@
    </td>
</tr>
