﻿@model Medianet.Contacts.Web.ViewModels.PitchingProfileViewModel
@if (Model != null && (!string.IsNullOrEmpty(Model.NamePronunciation) || !string.IsNullOrEmpty(Model.AlsoKnownAs) ||
    !string.IsNullOrEmpty(Model.CurrentStatus) || !string.IsNullOrEmpty(Model.BasedInLocation) || !string.IsNullOrEmpty(Model.PoliticalParty) ||
    !string.IsNullOrEmpty(Model.AppearsIn) || !string.IsNullOrEmpty(Model.AuthorOf) || !string.IsNullOrEmpty(Model.Awards)))
{
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">About</h5>
            <div class="row">
                <div class="col">
                    <div class="row">
                        @if (!string.IsNullOrEmpty(Model.NamePronunciation))
                        {
                            <div class="col-6 d-flex flex-column py-2">
                                <b class="text-font-heading">Name Pronunciation</b>
                                <span>@Model.NamePronunciation</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.AlsoKnownAs))
                        {
                            <div class="col-6 d-flex flex-column py-2">
                                <b class="text-font-heading">Also Known As</b>
                                <span>@Model.AlsoKnownAs</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.CurrentStatus))
                        {
                            <div class="col-6 d-flex flex-column py-2">
                                <b class="text-font-heading">Current Status</b>
                                <span>@Model.CurrentStatus</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.BasedInLocation))
                        {
                            <div class="col-6 d-flex flex-column py-2">
                                <b class="text-font-heading">Based In Location</b>
                                <span>@Model.BasedInLocation</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.PoliticalParty))
                        {
                            <div class="col-6 d-flex flex-column py-2">
                                <b class="text-font-heading">Political Party</b>
                                <span>@Model.PoliticalParty</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.AppearsIn))
                        {
                            <div class="col-6 d-flex flex-column py-2">
                                <b class="text-font-heading">Appears In</b>
                                <span>@Model.AppearsIn</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.AuthorOf))
                        {
                            <div class="col-6 d-flex flex-column py-2">
                                <b class="text-font-heading">Author Of</b>
                                <span>@Html.FormatBioHelper(Model.AuthorOf)</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.Awards))
                        {
                            <div class="col-6 d-flex flex-column py-2">
                                <b class="text-font-heading">Awards</b>
                                <span>@Html.FormatBioHelper(Model.Awards)</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
