﻿@model Medianet.Contacts.Web.NewsCentreArticle.Article

<div class="modal-content">

    <div class="modal-header">
        <h4 class="modal-title">Article</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    @if (Model != null && Model.IDOLDocument != null)
    {
        <div class="modal-body modal-body-article">
            @if (Model.IDOLDocument.DRETITLE != null)
            {
                <div class="">
                    <span>Full Title: <b>@Html.Raw(Model.IDOLDocument.DRETITLE)</b></span>
                </div>
            }

            @if (Model.IDOLDocument.SOURCE_NAME != null)
                {
                <div class="">
                    <span>Source: <b>@Html.Raw(Model.IDOLDocument.SOURCE_NAME)</b></span>
                </div>
            }

            @if (Model.IDOLDocument.PUBLISH_DATE != DateTime.MinValue)
                {
                <div class="">
                    <span>Date: <b>@Html.Raw(Model.IDOLDocument.PUBLISH_DATE.ToString("dd/MM/yyyy"))</b></span>
                </div>
            }

            @if (Model.IDOLDocument.DRECONTENT != null)
                {
                <div class="mt-4">
                    @Html.Raw(Model.IDOLDocument.DRECONTENT)

                </div>
            }
        </div>
    }
    else
    { @Html.Raw("Article details not found")}
</div>