﻿@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel
@using Medianet.Contacts.Wcf.DataContracts.DTO

@{
    var webUrl = Model.WebUrl;
    var blog = Model.BlogUrl;
}
<div class="card mb-4" data-twitterimage-url="@Url.Action("UserTwitterImage", "Social")">
    <div class="text-center">
        @if (Model.SocialDetails == null || !Model.SocialDetails.Twitter.HasValue())
        {
            <div class="avatar avatar-lg mt-3 mx-auto avatar-shadow">@Model.Initials</div>
        }
        else
        {
            <img id="profileImage" class="rounded-circle mt-3 avatar-shadow" src="/Content/Images/user_profile_avatar.png" width="117" height="117" alt="Contact avatar" data-twitterhandle="@Model.SocialDetails.Twitter" />
        }   
    </div>
    <div class="card-body">
        <p class="card-text text-center">
            @Html.PrivateIconHelper(Model.Type)
            <b class="text-large">@Model.Name</b><br>
            @Model.JobTitle

            @if (Model.AtOutlet != null && !Model.AtOutlet.IsGeneric && Model.AtOutlet.Name.HasValue())
            {
                @Html.Raw("at ")

                @Html.RouteLink(Model.AtOutlet.Name, new
           {
               Controller = "Outlet",
               Action = "Index",
               id = (Model.AtOutlet.OutletId ?? string.Empty).Trim(),
               recordType = (int)Model.AtOutlet.Type
           },
                new { @class = "text-primary font-weight-bold", @title = Model.AtOutlet.Name })
            }
        </p>
        @if (UriHelper.Host(webUrl).HasValue() || blog.HasValue() || Model.Email.HasValue() || Model.AlternativeEmailAddress.HasValue() || Model.Mobile.HasValue() || Model.AdditionalMobileNumber.HasValue() || Model.Phone.HasValue() || Model.AdditionalPhoneNumber.HasValue())
        {
            <hr>
            if(UriHelper.Host(webUrl).HasValue())
            {
                <p class="card-text">
                    <a class="text-primary font-weight-bold" target="_blank" href="@webUrl" rel="noopener">Website</a>
                </p>
            }

            if (blog.HasValue())
            {
                <p class="card-text">
                    <a class="text-primary font-weight-bold" target="_blank" href="@blog" rel="noopener">Blog</a>
                </p>
            }

            if (Model.Email.HasValue())
            {
                <p class="card-text">
                    <b class="text-font-heading">Email: </b><br />
                    <a href="mailto:@(Model.Email)" title="@(Model.Email)" class="fitText">@Model.Email</a>
                </p>
            }

            if (Model.AlternativeEmailAddress.HasValue())
            {
                <p>
                    <b class="text-font-heading">Alternative Email: </b><br />
                    <a href="mailto:@(Model.AlternativeEmailAddress)" title="@(Model.AlternativeEmailAddress)" class="fitText">@Model.AlternativeEmailAddress</a>
                </p>
            }

            if (Model.Mobile.HasValue())
            {
                <p class="card-text">
                    <b class="text-font-heading">Mobile: </b>@Model.Mobile
                </p>
            }

            if (Model.AdditionalMobileNumber.HasValue())
            {
                <p>
                    <b class="text-font-heading">Additional Mobile: </b>
                    <span class="text-nowrap">@Model.AdditionalMobileNumber</span>
                </p>
            }

            if (Model.Phone.HasValue())
            {
                <p>
                    <b class="text-font-heading">Phone: </b>
                    <span class="text-nowrap">@Model.Phone</span>
                </p>
            }

            if (Model.AdditionalPhoneNumber.HasValue())
            {
                <p>
                    <b class="text-font-heading">Additional Phone: </b>
                    <span class="text-nowrap">@Model.AdditionalPhoneNumber</span>
                </p>
            }
        }

        @if (Model.Address != null && Model.Address.AddressLine1.HasValue())
        {
            <p class="card-text">
                <hr>
                <b class="text-font-heading">Address: </b><br>
                <p class="address">
                    @if (Model.Address.AddressLine1.HasValue())
                    {
                        @Model.Address.AddressLine1.Trim()
                        <br />
                    }
                    @if (Model.Address.AddressLine2.HasValue())
                    {
                        @Model.Address.AddressLine2.Trim()
                        <br />
                    }
                    @Html.LabelForModel(string.Join(", ", new List<string> {
                            Model.Address.City, Model.Address.State, Model.Address.PostCode , Model.Address.Country }.FindAll(m => m.HasValue())))
                </p>
            </p>
        }
        @if (Model.OfficeHours.HasValue())
        {
        <p>
            <b class="text-font-heading">Office Hours: </b><br />
            @Html.Raw(Model.OfficeHours.Replace(Environment.NewLine, "<br />"))
        </p>
        }
    </div>
</div>
