﻿@using Medianet.Contacts.Web.ViewModels.Dashboard

@model List<MediaMovementsViewModel>


@if (Model != null && Model.Any())
{
    var contactId = string.Empty;
    var list = Model.Take(4).ToList();

    <div class="card-body pb-2">
        <h4 class="card-title">Media Movements</h4>
        @foreach (MediaMovementsViewModel item in list)
        {
            contactId = item.ContactId.Trim();

            if (!string.IsNullOrWhiteSpace(item.ContactId))
            {
                <div class="border-bottom py-2">
                    <p class="d-inline-block mb-1">
                        <small><b>@(GeneralHelper.FormatMediaMovementDate(item.CreatedDate))</b></small>
                        <br>
                        @(item.JobTitle) - <a class="font-weight-bold" href="@Url.Action("Index", "Outlet", new {Id = (item.OutletId ?? string.Empty).Trim(), recordType = 1})">@(item.CompanyName)</a>
                    </p>
                    <p class="font-weight-light mb-0">
                        @item.Description
                    </p>
                </div>
            }
        }
    </div>
    if (Model.Count > 4)
    {
        <div class="showMoreLess pb-2 pr-3">
            <a href="@Url.Action("Contact", "MediaMovements", new {contactId = contactId})">more...</a>
        </div>
    }
}
