﻿@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel

@{
    List<Medianet.Contacts.Web.ViewModels.Outlet.OutletBaseViewModel> otherOutlets = Model.Outlets.ToList();
}

<div class="card mb-4">
    @if (Model.AtOutlet != null)
    {
        bool isGeneric = Model.AtOutlet.IsGeneric;
        otherOutlets = otherOutlets.Where(o => o.OutletId != Model.AtOutlet.OutletId).ToList();

        var logoFile = string.Empty;
        <div class="card-body">
            <h5 class="card-title">Outlets</h5>

            @if (!string.IsNullOrEmpty(Model.AtOutlet.LogoFileName))
            {
                logoFile = new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(Model.AtOutlet.LogoFileName);
            }

            @if (!String.IsNullOrEmpty(logoFile))
            {
                if (!isGeneric)
                {
                    <a href="@Url.Action("Index", "Outlet", new { id = (Model.AtOutlet.OutletId ?? string.Empty).Trim(), recordType = (int)Model.AtOutlet.Type })">

                        <img class="img-fluid pb-3" src="@(logoFile)" alt="Outlet logo" />
                    </a>
                }
                else
                {
                    <img class="img-fluid pb-3" src="@(logoFile)" alt="Outlet logo" />
                }
            }
            else
            {
                if (!isGeneric)
                {
                    @Html.RouteLink(Model.AtOutlet.Name, new
               {
                   Controller = "Outlet",
                   Action = "Index",
                   id = (Model.AtOutlet.OutletId ?? string.Empty).Trim(),
                   recordType = (int)Model.AtOutlet.Type
               }, new { @class = "text-primary font-weight-bold", @title = Model.AtOutlet.Name })
                }
                else
                {
                    @Html.Raw(Model.AtOutlet.Name)
                }
            }
        </div>
    }
    @if (otherOutlets.Any())
    {
        <div class="card-body pt-0">
            <hr>
            <h5 class="card-title">Other Outlets</h5>
            <ul class="pl-3">
                @foreach (var outlet in otherOutlets)
                {
                    <li class="@(otherOutlets.IndexOf(outlet) > 9 ? "extra-outlets collapse" : "")">
                        @if (!string.IsNullOrWhiteSpace(@outlet.OutletId) && !outlet.OutletId.Equals("0"))
                        {
                            if (!outlet.IsGeneric && Model.AtOutlet != null)
                            {
                                @Html.RouteLink(outlet.Name, new
                                   {
                                       Controller = "Outlet",
                                       Action = "Index",
                                       id = (outlet.OutletId ?? string.Empty).Trim(),
                                       recordType = (int)outlet.Type
                                   }, new { @title = outlet.Name })
                            }
                            else
                            {
                                @Html.Raw(outlet.Name)
                            }
                        }
                    </li>
                }
            </ul>
            @if (otherOutlets.Count > 10)
            {
                <div class="showMoreLess lnk-toggle collapsed" data-toggle="collapse" data-target=".extra-outlets">
                    <a class="lnk-toggle-show">more ...</a>
                    <a class="lnk-toggle-hide">less</a>
                </div>
            }
        </div>
    }
</div>