﻿@using Medianet.Contacts.Web.Common.Util;
@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel

@{
    var articles = Model.Articles;
    var socialDetails = Model.SocialDetails;
    bool hasArticle = articles != null && articles.Any();
    bool hasTwitterhandle = socialDetails != null && Model.SocialDetails.Twitter.HasValue();
}
@if (hasArticle || hasTwitterhandle)
{
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Latest Media</h5>
            <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
                @if (hasArticle)
                {
                    <li class="nav-item">
                        <a class="nav-link" id="articles-tab" data-toggle="tab" href="#articles" role="tab" aria-controls="articles" aria-selected="false">Articles</a>
                    </li>
                }
                @if (hasTwitterhandle)
                {
                    <li class="nav-item">
                        <a class="nav-link active" id="tweets-tab" data-toggle="tab" href="#tweets" role="tab" aria-controls="tweets" aria-selected="true">Tweets</a>
                    </li>
                }
            </ul>
            <div class="tab-content tab-lists" id="myTabContent">
                @if (hasArticle)
                {
                    <div class="tab-pane fade" id="articles" role="tabpanel" aria-labelledby="articles-tab">

                        @foreach (var article in Model.Articles)
                        {
                            <div class="border my-2 p-2">
                                <div>
                                    <b>@article.IDOLDocument.SOURCE_NAME</b> . 
                                    <span class="text-muted">@article.IDOLDocument.PUBLISH_DATE.ToString("dd/MM/yyyy")</span>
                                </div>
                                <a href="#" data-article data-article-action="@Url.Action("GetArticle","Contact", new { articleId = article.ID })" title="Show Article">
                                    @Html.Raw(article.IDOLDocument.DRETITLE)
                                </a>
                            </div>

                        }
                    </div>
                }
                @if (hasTwitterhandle)
                {
                    <div class="tab-pane fade show active" id="tweets" role="tabpanel" aria-labelledby="tweets-tab" data-tweets data-tweets-url="@Url.Action("UserTweets", "Social")" data-twitterhandle="@Model.SocialDetails.Twitter">
                        @Html.Partial("_InlineSpinnerPartial")
                    </div>
                }
            </div>
        </div>
    </div>
}