﻿@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel
@using Medianet.Contacts.Wcf.DataContracts.DTO
@using Medianet.Contacts.Web.ViewModels;

@if (Model != null)
{
    bool showDeliveryMethod = false;

    <div class="row">
        <div class="col-6" data-twitterimage-url="@Url.Action("UserTwitterImage", "Social")">
            <div class="d-flex">
                @{
                    var hasTwitter = Model.SocialDetails != null && Model.SocialDetails.Twitter.HasValue();
                }
                @if (hasTwitter)
                {
                    <img id="profileImage" class="rounded-circle mr-2" src="/Content/Images/user_profile_avatar.png" alt="Contact avatar"
                     data-twitterhandle="@Model.SocialDetails.Twitter"/>
                }
                else
                {
                    <span class="avatar avatar-xs">@Model.Initials</span>
                    
                }
                <div>
                    <b>@Model.Name</b><br/>
                    <span>@Model.JobTitle</span><br>

                    @if (Model.AtOutlet != null && !Model.AtOutlet.IsGeneric && !string.IsNullOrEmpty(Model.AtOutlet.Name))
                    {
                        @Html.RouteLink(Model.AtOutlet.Name, new
                        {
                            Controller = "Outlet",
                            Action = "Index",
                            id = (Model.AtOutlet.OutletId ?? string.Empty).Trim(),
                            recordType = (int) Model.AtOutlet.Type
                        },
                            new {@class = "text-primary font-weight-bold", @title = Model.AtOutlet.Name})
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            @if (Model.Email.HasValue())
            {
                <p>
                    <b>Email: </b>@Model.Email
                </p>
            }

            @if (!String.IsNullOrEmpty(Model.Mobile))
            {
                <p>
                    <b>Mobile: </b>@Model.Mobile
                </p>
            }
            @if (Model.SocialDetails != null)
            {
                var facebookUrl = UriHelper.AbsolutePath(Model.SocialDetails.Facebook);
                if (!string.IsNullOrEmpty(facebookUrl))
                {
                    <p>
                        <b>Facebook: </b>
                        <a href="@Model.SocialDetails.Facebook" target="_blank" rel="noopener">@(facebookUrl)</a>
                    </p>
                }
                if (Model.SocialDetails.Twitter.HasValue())
                {
                    <p>
                        <b>Twitter: </b>
                        <a href="https://twitter.com/@Model.SocialDetails.Twitter" target="_blank" rel="noopener">@Model.SocialDetails.Twitter</a>
                    </p>
                }
            }
        </div>
    </div>
    <div class="row mt-2 preview-overflow">
        @if (Model.PitchingProfileViewModel != null || (Model.Subjects != null && Model.Subjects.Any())
             || Model.MediaInfluencerScore.GetValueOrDefault() != 0 || Model.DeliveryMethod != null)
        {
            showDeliveryMethod = Model.PitchingProfileViewModel == null ||
                (Model.Subjects == null || (Model.Subjects != null && !Model.Subjects.Any()))
             || Model.MediaInfluencerScore.GetValueOrDefault() == 0;

            <div class="col-12">
                <hr class="my-2">
            </div>
            if (Model.Subjects != null && Model.Subjects.Any())
            {
                var allItems = Model.Subjects.ToList();
                <div class="col">
                    <b>Subject Profile</b>
                    <ul class="pl-3 mb-1">
                        @foreach (var subject in allItems)
                        {
                            <li class="@(allItems.IndexOf(subject) > 4 ? "extra-subjects collapse" : "")">@subject.Name</li>
                        }
                    </ul>
                    @if (allItems.Count > 5)
                    {
                        <span class="pl-3 mb-1">...</span>
                    }
                </div>
            }
            if (Model.PitchingProfileViewModel != null)
            {
                <div class="col">
                    <div>
                        <b>Pitching Profile</b><br>
                        <ul class="pl-3 mb-1">
                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.BugBears))
                                {
                                <li>
                                    <span>Bugbears: </span>
                                    <span>@Model.PitchingProfileViewModel.BugBears</span>
                                </li>
                            }

                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.AlsoKnownAs))
                                {
                                <li>
                                    <span>Also Known As: </span>
                                    <span>@Model.PitchingProfileViewModel.AlsoKnownAs</span>
                                </li>
                            }

                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.PressReleaseInterests))
                                {
                                <li>
                                    <span>Special Interests: </span>
                                    <span>@Model.PitchingProfileViewModel.PressReleaseInterests</span>
                                </li>
                            }

                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.PersonalInterests))
                                {
                                <li>
                                    <span>Personal Interests: </span>
                                    <span>@Model.PitchingProfileViewModel.PersonalInterests</span>
                                </li>
                            }

                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.PoliticalParty))
                                {
                                <li>
                                    <span>Political Party: </span>
                                    <span>@Model.PitchingProfileViewModel.PoliticalParty</span>
                                </li>
                            }

                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.NamePronunciation))
                                {
                                <li>
                                    <span>Name Pronunciation: </span>
                                    <span>@Model.PitchingProfileViewModel.NamePronunciation</span>
                                </li>
                            }

                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.AppearsIn))
                                {
                                <li>
                                    <span>Appears In: </span>
                                    <span>@Model.PitchingProfileViewModel.AppearsIn</span>
                                </li>
                            }

                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.CurrentStatus))
                                {
                                <li>
                                    <span>Current Status: </span>
                                    <span>@Model.PitchingProfileViewModel.CurrentStatus</span>
                                </li>
                            }

                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.BasedInLocation))
                                {
                                <li>
                                    <span>Based In Location: </span>
                                    <span>@Model.PitchingProfileViewModel.BasedInLocation</span>
                                </li>
                            }

                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.Deadlines))
                                {
                                <li>
                                    <span>Deadlines: </span>
                                    <span>@Model.PitchingProfileViewModel.Deadlines</span>
                                </li>
                            }

                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.Awards))
                            {
                                <li>
                                    <span>Awards: </span>
                                    <span>@Model.PitchingProfileViewModel.Awards</span>
                                </li>
                            }
                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.AuthorOf))
                            {
                                <li>
                                    <span>Author Of: </span>
                                    <span>@Model.PitchingProfileViewModel.AuthorOf</span>
                                </li>
                            }
                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.CoffeeOrder))
                            {
                                <li>
                                    <span>Coffee Order: </span>
                                    <span>@Model.PitchingProfileViewModel.CoffeeOrder</span>
                                </li>
                            }
                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.BusyTimes))
                            {
                                <li>
                                    <span>Busy Times: </span>
                                    <span>@Model.PitchingProfileViewModel.BusyTimes</span>
                                </li>
                            }
                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.GiftsAccepted.ToString()))
                            {
                                <li>
                                    <span>Gifts Accepted: </span>
                                    <span>@Model.PitchingProfileViewModel.GiftsAccepted.ToString()</span>
                                </li>
                            }
                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.PitchingDos))
                            {
                                <li>
                                    <span>Pitching Do's: </span>
                                    <span>@Model.PitchingProfileViewModel.PitchingDos</span>
                                </li>
                            }
                            @if (!String.IsNullOrEmpty(Model.PitchingProfileViewModel.PitchingDonts))
                            {
                                <li>
                                    <span>Pitching Don'ts: </span>
                                    <span>@Model.PitchingProfileViewModel.PitchingDonts</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            if (Model.MediaInfluencerScore.GetValueOrDefault() != 0)
            {
                <div class="col text-center border-left">
                    <b>Influencer Score</b><br>
                    <span class="score text-orange font-weight-bold">@Model.MediaInfluencerScore</span>
                </div>
            }

           if (showDeliveryMethod && Model.DeliveryMethod != null)
            {
                DeliveryMethodViewModel deliveryModel = SharedFunctions.GetPreferredDeliveryMethodClass(Model);

                <div class="col text-center border-left">
                    <b>Preferred Contact Method</b>
                    <div class="text-primary mediaType mt-3">
                        <i class="@(deliveryModel.CssClass)"></i>
                    </div>
                </div>
            }
        }        
    </div>
}