﻿@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel

@if (Model.Subjects != null && Model.Subjects.Any())
{
    var allItems = Model.Subjects.ToList();
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Subject Profile</h5>
            <ul class="list-group list-group-flush">
                @foreach (var subject in allItems)
                {
                    <li class="list-group-item list-group-item-grey @(allItems.IndexOf(subject) > 9 ? "extra-subjects collapse" : "")">@subject.Name</li>
                }
            </ul>
            @if (allItems.Count > 10)
            {
                <div class="showMoreLess lnk-toggle collapsed" data-toggle="collapse" data-target=".extra-subjects">
                    <a class="lnk-toggle-show">more ...</a>
                    <a class="lnk-toggle-hide">less</a>
                </div>
            }
        </div>
    </div>
}