﻿@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel

<div class="card mb-4">
    <div class="d-flex text-center">
        <div class="col d-flex flex-column pt-3">
            <span class="text-orange font-weight-bold d-block pb-3">SPOTLIGHT INTERVIEW</span>
            <div>
                <span class="d-block card-text">Medianet speaks with:</span>
                <span class="d-block card-text font-weight-bold">@Model.Name</span>
            </div>
            <div class="pt-2 pb-4 px-3">
                @if (!string.IsNullOrEmpty(Model.InterviewPhotoLink))
                {
                    <a href="@Model.InterviewLink" target="_blank">
                        <img class="m-auto pb-2 img-fluid" src="@Model.InterviewPhotoLink" />
                    </a>
                <br />
                }
                <span class="d-block card-text"><a href="@Model.InterviewLink" target="_blank">Read the full interview</a></span>
            </div>
        </div>
    </div>
</div>
