﻿@using Medianet.Contacts.Wcf.DataContracts.DTO
@using Medianet.Contacts.Web.MediaContactsService
@using Medianet.Contacts.Web.ViewModels.Contact
@model List<PeopleAlsoViewedViewModel>

@if (Model != null && Model.Any()){
<div class="card-body">
    <h5 class="card-title">People also viewed</h5>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col text-center text-lineheight-min">
                <a href="@Url.Action("index","Contact", new { outletId = (item.OutletId ?? string.Empty).Trim(), contactId = (item.ContactId ?? string.Empty).Trim(), recordType = item.RecordType })">
                    @if (item.TwitterHandle.HasValue())
                    {
                        <img class="rounded-circle my-1" src="/Content/Images/user_profile_avatar.png" width="44" height="44" alt="Contact avatar"
                         data-twitterhandle="@item.TwitterHandle" />
                    }
                    else
                    {
                        <span class="avatar avatar-xs mx-auto my-1">@item.Contact.Initials</span>
                    }
                    @Html.PrivateIconHelper((RecordType)Enum.Parse(typeof(RecordType), item.RecordType.ToString()))
                    <b class="d-block pt-1">@item.Contact.FirstName  @item.Contact.LastName</b>
                </a>
                <span>
                    @item.Title  @if (!item.IsGeneric)
                    {
                        <span> at @item.OutletName</span>
                    }
                </span>
            </div>
        }
    </div>
</div>
<span class="tooltip-info-icon" data-toggle="tooltip" data-placement="left"
      title="See which other profiles people viewed when viewing this profile.">
    <i class="fas fa-info-circle"></i>
</span>
}
