﻿@using Medianet.Contacts.Web.ViewModels.Contact

@model List<WorkHistoryViewModel>

@if (Model != null && Model.Count > 0)
{
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Work History</h5>
            <div id="divWorkHistory">
                <div class="row">
                    @foreach (var history in Model)
                    {
                        <div class="col-2 align-self-center pr-0">
                            @{
                                var logoFile = string.Empty;

                                if (!string.IsNullOrEmpty(history.LogoFileName))
                                {
                                    logoFile = new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(history.LogoFileName);
                                }
                                if (!string.IsNullOrEmpty(logoFile))
                                {
                                    <img class="img-fluid my-1 mx-auto" src="@(logoFile)" alt="Outlet logo" width="90" height="90">
                                }
                            }
                        </div>
                        <div class="col-10 border-bottom py-2 mb-2">
                            <p class="mb-2">
                                @if (string.IsNullOrWhiteSpace(history.OutletId))
                                {
                                    <text>@(string.Format("{0} - {1}", history.JobTitle, history.CompanyName))</text>
                                }
                                else
                                {
                                    <text>@(history.JobTitle + " - ")</text>
                                    <a href="@Url.Action("Index", "Outlet", new {Id = history.OutletId.Trim(), recordType = 1})">
                                        <b>@history.CompanyName</b>
                                    </a>
                                }
                            </p>
                            <p class="font-weight-light mb-0">
                                <span>
                                    @history.DateRange
                                    <text> · </text>
                                    @history.Period
                                </span>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}