﻿@{
    ViewBag.Title = "Contact";
}
@using Medianet.Contacts.Wcf.DataContracts.DTO
@using Medianet.Contacts.Web.Common.Util
@model Medianet.Contacts.Web.ViewModels.Contact.ContactViewModel
@section Javascript{
    @Scripts.Render("~/bundles/outletandcontact")
    @Scripts.Render("~/bundles/contact")
}

@if (Model == null)
{
    <div class="alert alert-danger mt-5" role="alert">
        @ViewBag.Message
    </div>
}
else
{
    <div class="d-flex flex-column flex-lg-row align-items-start justify-content-between">
        <div class="mb-3 mb-lg-0">
            <h2 class="mb-0">
                Contact
                @if (RecordTypeExtensions.IsOmaType(Model.Type))
                {
                    <a class="btn btn-link py-0" title="Edit Contact" href="@Url.Action("Edit", "PrivateContact", new { Id = Model.ContactId })">
                        <i class="fal fa-fw fa-pencil"></i>
                    </a>
                }
            </h2>
            <a class="smallCaps backToSearch" href="#" id="lnkBack">back</a>
        </div>
        @Html.Partial("OutletAndContact/_ActionBarPartial", Model)
    </div>
    var subjects = new List<string>();

    if (Model.Subjects != null && Model.Subjects.Any())
    {
        subjects = Model.Subjects.Select(s => s.Id.ToString()).ToList();
    }
    <div class="row mt-3" data-main-container data-recordType="@Model.Type" data-outletId="@Model.OutletId" data-contactId="@Model.ContactId" data-subjects="@string.Join(",", subjects)" data-viewedlogs-url="@Url.Action("MediaContactsAlsoViewed", "Contact")">
        <div class="col-12 col-md-4 col-lg-3">
            @Html.Partial("_ContactDetailsPartial")

            @Html.Partial("_ContactOutletsPartial")

            @Html.Partial("_ContactSubjectsProfilePartial")

            @Html.Partial("_BelongToListsPartial", Model.BelongsToLists)
        </div>
        <div class="col-12 col-md-8 col-lg-6">
            @Html.Partial("OutletAndContact/_PreferredDeliveryMethodPartial", Model)

            @if (!string.IsNullOrEmpty(Model.PriorityNotice))
            {
                <div class="card mb-4 callout">
                    <div class="card-body">
                        <h5 class="card-title text-orange">Priority Notice</h5>
                        <p class="card-text">
                            @Model.PriorityNotice
                        </p>
                    </div>
                </div>
            }
            @if (Model.PitchingProfileViewModel != null)
            {
                @Html.Partial("_AboutPartial", Model.PitchingProfileViewModel)
                @Html.Partial("_PitchingProfilePartial", Model.PitchingProfileViewModel)
            }
            @if (!string.IsNullOrEmpty(Model.Bio))
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Bio</h5>
                        <p class="card-text">
                            @Html.FormatBioHelper(Model.Bio)
                        </p>
                    </div>
                </div>
            }

            @Html.Partial("_WorkHistoryPartial", Model.WorkHistory)

            @if (!string.IsNullOrEmpty(Model.ProfileNotes))
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Details</h5>
                        <p class="card-text">
                            @Html.FormatBioHelper(Model.ProfileNotes)
                        </p>
                    </div>
                </div>
            }

            @Html.Partial("_ContactArticlesAndPostsPartial")
            <div class="card mb-4 d-none" id="peopleAlsoViewedContainer"></div>
            @*Notes*@
            <div class="card mb-4" data-spinnercontainer="divAllNotes">
                <div class="card-body">
                    <h5 class="card-title">My Notes and Activity</h5>
                    <div data-container="pinnedNotes" data-action="@Url.Action("PinnedNotes", "Note")">
                        @Html.Partial("_InlineSpinnerPartial")
                    </div>
                    <div data-container="unPinnedNotes" data-action="@Url.Action("UnPinnedNotes", "Note")">
                        @Html.Partial("_InlineSpinnerPartial")
                    </div>
                    <div class="d-flex justify-content-end actionBtns">
                        <a class="d-flex ml-3 badge badge-pill badge-primary" href="#" data-addnote-url="@Url.Action("Create", "Note")" data-type="@PopupType.Contact">
                            <i class="fas fa-fw fa-pencil"></i>
                            <span class="align-self-start m-1">add note</span>
                        </a>
                    </div>

                </div>
                <span class="tooltip-info-icon" data-toggle="tooltip" data-placement="left"
                      title="Save notes to this record and pin priority notes to the top of the list.">
                    <i class="fas fa-info-circle"></i>
                </span>
            </div>
            @*End Of Notes*@
            @Html.Partial("~/Views/Document/_DocumentsListPartial.cshtml", Model)
        </div>
        <div class="col col-lg-3">
            @if (!string.IsNullOrEmpty(Model.InterviewLink))
            {
                @Html.Partial("_ContactInterviewBioPartial")
            }
            @if (Model.SocialDetails != null)
            {
                @Html.Partial("Social/_SocialEngagementPartial", Model.SocialDetails)
            }
            @Html.Partial("OutletAndContact/_InfluencerScorePartial", Model)

            <div class="card mb-4 contactMVContainer">
                <div class="contactMediaMovements pb-2" data-action="@Url.Action("GetContactMediaMovements", "Contact", new {contactId = Model.ContactId})">
                    @Html.Partial("_InlineSpinnerPartial")
                </div>               
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start justify-content-between py-3 border-top">
        <div>&nbsp;</div>
        @Html.Partial("OutletAndContact/_ActionBarPartial", Model)
    </div>
                @Html.Hidden("hdnRecordType", Convert.ToInt32(Model.Type))
                @Html.Hidden("hdnOutletId", Model.OutletId)
                @Html.Hidden("hdnContactId", Model.ContactId)
}
