﻿@model Medianet.Contacts.Web.Common.Model.SocialInfo
@if (Model != null)
{
    <div class="card card-grey mb-4 socialEngagement" data-social data-twitter-info="@Url.Action("UserTwitter", "Social")" data-youtube="@Url.Action("UserYouTube", "Social")">
        <div class="card-body">
            <h5 class="card-title">Social Engagement</h5>
            <ul class="card-text list-unstyled">
                @if (Model.Twitter.HasValue())
                {
                    <li class="d-flex flex-column" data-twitterhandle="@Model.Twitter">
                        <p class="text-center"><i class="fal fa-spinner fa-spin"></i></p>
                    </li>
                }
                @if (!string.IsNullOrEmpty(UriHelper.AbsolutePath(Model.Youtube)))
                {
                    <li class="d-flex flex-column" data-youtube="@Model.Youtube">
                        <p class="text-center"><i class="fal fa-spinner fa-spin"></i></p>
                    </li>
                }
                @if (!string.IsNullOrEmpty(UriHelper.AbsolutePath(Model.Facebook)))
                {
                    var facebookName = UriHelper.AbsolutePath(Model.Facebook).Trim('/');
                    if (facebookName.ToLower().Contains(".php") ||(facebookName.Length > 6 && facebookName.Substring(facebookName.Length - 6).IsInt()))
                    {
                        facebookName = Model.Name;
                    }
                    <li class="d-flex flex-column">
                        <p class="mb-2">
                            <i class="fab fa-fw fa-facebook-f float-left text-primary"></i>
                            <a class="font-weight-bold d-block pt-2" href="@Model.Facebook" target="_blank" rel="noopener">@facebookName</a>
                        </p>
                    </li>
                }
                @if (!string.IsNullOrEmpty(UriHelper.AbsolutePath(Model.Instagram)))
                {

                    <li class="d-flex flex-column">
                        <p class="mb-2">
                            <i class="fab fa-fw fa-instagram float-left text-primary"></i>
                            <a class="font-weight-bold d-block pt-1" href="@Model.Instagram" target="_blank" rel="noopener">@(UriHelper.AbsolutePath(Model.Instagram).Trim('/'))</a>
                        </p>
                    </li>
                }
                @if (!string.IsNullOrEmpty(UriHelper.AbsolutePath(Model.LinkedIn)))
                {
                    <li class="d-flex flex-column">
                        <p class="mb-2">
                            <i class="fab fa-fw fa-linkedin-in float-left text-primary"></i>
                            <a class="font-weight-bold d-block pt-2" href="@Model.LinkedIn" target="_blank" rel="noopener">@(Model.Name)</a>
                        </p>
                    </li>
                }
                @if (!string.IsNullOrEmpty(UriHelper.AbsolutePath(Model.SnapChat)))
                {
                    <li class="d-flex flex-column">
                        <p class="mb-2">
                            <i class="fab fa-fw fa-snapchat-ghost float-left text-primary"></i>
                            <a class="font-weight-bold d-block pt-2" href="@Model.SnapChat" target="_blank" rel="noopener">@(UriHelper.AbsolutePath(Model.SnapChat).Trim('/'))</a>
                        </p>
                    </li>
                }
                @if (!string.IsNullOrEmpty(UriHelper.AbsolutePath(Model.Skype)))
                {
                    <li class="d-flex flex-column">
                        <p class="mb-2">
                            <i class="fab fa-fw fa-skype float-left text-primary"></i>
                            <a class="font-weight-bold d-block pt-2" href="@Model.Skype" target="_blank" rel="noopener">@(UriHelper.AbsolutePath(Model.Skype).Trim('/'))</a>
                        </p>
                    </li>
                }
            </ul>
        </div>
    </div>
}