﻿@using Medianet.Contacts.Web.ViewModels.Social
@model List<TweetViewModel>

@if (Model != null && Model.Any())
{
    foreach (TweetViewModel tweet in Model)
    {
        TweetViewModel item = tweet.Retweet != null ? tweet.Retweet : tweet;

        <div class="border my-2 p-2 text-lineheight-min">
            <div class="d-flex justify-content-between">
                <div>
                    <img id="profileImage" class="rounded-circle mr-1 mb-1" width="32" height="32" alt="User avatar"
                        src="@(item.User.DefaultProfileImage ? "/Content/Images/user_profile_avatar.png" : item.User.ProfileImage)" />
                    <b>@item.User.Name</b>
                    <a href="https://twitter.com/@item.User.Handle" target="_blank" rel="noopener" class="text-muted">@("@" + item.User.Handle)</a>
                    . <span class="text-grey mt-2 mb-0" data-toggle="tooltip" data-placement="top" title="@item.CreatedAt.ToString("dd/MM/yyyy HH:mm")">@item.CreatedAt.TwitterDate(item.CreatedAt)</span>
                </div>
                <i class="fab fa-twitter twitter-color"></i>
            </div>
            <a class="text-body" href="https://twitter.com/bernyoung/status/@item.Id" target="_blank" rel="noopener">@Html.Raw(item.Text)</a>
        </div>
    }
}
else
{
    <div>No tweets found</div>
}

