﻿@model Medianet.Contacts.Web.ViewModels.Social.TwitterUserViewModel
<p class="mb-2">
    <i class="fab fa-fw fa-twitter float-left text-primary"></i>
    <a class="font-weight-bold d-block pt-1" href="https://twitter.com/@Model.Handle" target="_blank" rel="noopener">@Model.Handle</a>
</p>
@if (Model.Followers.HasValue)
{
    <span><span class="number">@string.Format("{0:N0}", Model.Followers)</span> followers</span>
}
@if (Model.Following.HasValue)
{
<span><span class="number">@string.Format("{0:N0}", Model.Following)</span> following </span>
}
@if (Model.Tweets.HasValue)
{
    <span><span class="number">@string.Format("{0:N0}", Model.Tweets)</span> tweets</span>
}
@if (Model.Likes.HasValue)
{
    <span><span class="number">@string.Format("{0:N0}", Model.Likes)</span> likes </span>
}
@if (!string.IsNullOrEmpty(Model.Description))
{
    <small class="mt-2 text-lineheight-min">@Model.Description </small>
}
