﻿@model Medianet.Contacts.Web.ViewModels.Social.YouTubeViewModel
<p class="mb-2">
    <i class="fab fa-fw fa-youtube float-left text-primary"></i>
    <a class="font-weight-bold d-block pt-1" href="@Model.Url" target="_blank" rel="noopener">@(UriHelper.AbsolutePath(Model.Url).Trim('/'))</a>
</p>
<span>
    <span class="number">@string.Format("{0:N0}", Model.SubscriberCount)</span> subscribers
</span>
<span>
    <span class="number">@string.Format("{0:N0}", Model.VideoCount)</span> videos
</span>
<span>
    <span class="number">@string.Format("{0:N0}", Model.ViewCount)</span> views
</span>