﻿@using System.Collections.Generic
@using System.Linq
@using Medianet.Contacts.Web.Common
@model Medianet.Contacts.Web.ViewModels.Note.NoteViewModel
@{
    bool isNew = (Model != null && Model.Id == 0);
    var disableIsPrivate = Model.UserId != SessionManager.Instance.CurrentUser.UserID;
}
<div class="modal-content">
    <form id="frmAddNote" data-action="@Url.Action("CreateUpdate", "Note")">
        <div class="modal-header">
            <h4 class="modal-title">@(isNew ?  "Add note" : "Edit note")</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.OutletId)
                @Html.HiddenFor(model => model.ContactId)
                @Html.HiddenFor(model => model.RecordType)
                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.DebtorNumber)
                @Html.HiddenFor(model => model.ListId)
                @Html.HiddenFor(model => model.ListSetId)
                @Html.HiddenFor(model => model.CheckboxState)
                @Html.HiddenFor(model => model.UncheckedItems)
                @Html.HiddenFor(model => model.CheckedItems)
                <div class="col-12 mb-3">
                    @if (this.ViewContext.RouteData.Values["action"].ToString().ToLower() == "createbulk") {
                        <text> 
                            Add a note to all records on this list currently selected.The same note will appear on each contact or outlet record contained in this list.
                            If you chose to save this note as a priority it will appear above all other notes already on that record.
                        </text>
                    }
                    else
                    {
                        <text> 
                            Add a note to this record. If you chose to save this note as a priority it will appear above all other notes already on that record.
                        </text>
                    }
                </div>
                <div class="col-12">
                    <div id="serverMessage">@(ViewBag.Message != null ? ViewBag.Message : "")</div>
                    @Html.ValidationSummary(false, "", new { @class = " alert alert-danger d-none", id = "vsAddNote" })
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", placeholder = "Notes" })
                        @Html.ValidationMessageFor(m => m.Notes)
                    </div>
                    <div class="clearfix mt-3">
                        @Html.CheckBoxFor(model => model.Pinned)
                        <label for="Pinned" class="mr-3">Pin this note as a priority</label>
                    </div>
                    <div class="clearfix mt-3">
                        <input type="radio" value="false" name="isPrivate" disabled="@disableIsPrivate" id="Public" @(!Model.IsPrivate ? "checked" : "") />
                        <label for="Public" class="mr-3">Public</label>
                        <input type="radio" value="true" name="isPrivate" disabled="@disableIsPrivate" id="Private" @(Model.IsPrivate ? "checked" : "") />
                        <label for="Private">Private</label>
                        <span data-toggle="tooltip" data-placement="right" class="tooltip-muted"
                               title="Public indicates that all users at your company will be able to view and edit this list. Private indicates that this list can only be viewed and edited by you.">
                            <i class="fa fa-info-circle"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary px-4" data-spinnercontainer="btnAddNote">Save</button>
        </div>
    </form>
</div>
