﻿@using System.Collections.Generic
@using System.Linq
@using Medianet.Contacts.CSharp.ExtensionMethods

@model Medianet.Contacts.Web.ViewModels.Note.NoteResultsViewModel

<div id="result-navigation">
    <div id="pagination">
        @Html.HiddenFor(m => Model.Pagination.NumberOfPages, new { id = "NumberOfPages" })
        @Html.HiddenFor(m => Model.Pagination.ResultCount, new { id = "ResultCount" })
        @Html.HiddenFor(m => Model.Pagination.Page, new { id = "Page" })
        @Html.HiddenFor(m => Model.Pagination.PageSize, new { id = "PageSize" })
        @Html.HiddenFor(m => Model.Pagination.CurrentPageOnly, new { id = "CurrentPageOnly" })

        @if (Model.Pagination.ResultCount > 0)
        {
            <div class="pager d-flex justify-content-between align-items-center">
                <div class="clearAll d-none d-lg-flex">
                    &nbsp;
                </div>
                <div class="pageNav">
                    @if (Model.Pagination.NumberOfPages > 1)
                    {
                        <button class="btn prevPage" @(Model.Pagination.Page > 1 ? "" : "disabled") data-page="@((Model.Pagination.Page - 1).ToString())"><i class="far fa-angle-left"></i></button>
                        @:<label class="currentPage">@Model.Pagination.Page of @Model.Pagination.NumberOfPages </label>
                        <button class="btn nextPage" @(Model.Pagination.Page < Model.Pagination.NumberOfPages ? "" : "disabled") data-page="@((Model.Pagination.Page + 1).ToString())"><i class="far fa-angle-right"></i></button>
                    }
                </div>
            </div>
        }
    </div>
</div>