﻿@using Medianet.Contacts.Web.ViewModels.Note;
@model Medianet.Contacts.Web.ViewModels.Note.NoteResultsViewModel

@if (Model != null && Model.Pagination.Notes.Any())
{
    <div class="mt-3 mb-5">
        <span class="smallCaps">priority notes</span>

        <section class="table-responsive resultSection">
            <table class="table resultTableHeader allGrey" data-container="sticky-notes-list">
                <thead>
                    <tr>
                        <th scope="col" class="w-10">Date</th>
                        <th scope="col" class="w-20 text-nowrap">Created by</th>
                        <th scope="col" class="w-60">Notes</th>
                        <th scope="col" class="w-10 p-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var note in Model.Pagination.Notes)
                    {
                        <tr>
                            <td>
                                @note.CreatedDate.ToShortDateString()
                            </td>
                            <td>@note.UserName</td>
                            <td>@note.Notes</td>
                            <td class="p-1">
                                <span class="d-flex flex-column align-items-end">
                                    <button class="btn btn-sm btn-link p-0" disabled="@note.AAPNote" data-id="@note.Id" data-edit data-action="@Url.Action("Update", new { id = @note.Id })">
                                        <i class="fal fa-fw fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-sm btn-link p-0" disabled="@note.AAPNote" data-id="@note.Id" data-pinned="@note.Pinned" data-action="@Url.Action("PinUnpinNote")">
                                        <i class="fas fa-fw fa-thumbtack"></i>
                                    </button>
                                    <button class="btn btn-sm btn-link p-0" disabled="@note.AAPNote" data-id="@note.Id" data-delete data-confirm="Delete Note" data-confirm-text="the selected priority note" data-action="@Url.Action("DeleteNote")">
                                        <i class="fal fa-fw fa-times"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <div data-pinned-pagination>
            @Html.Partial("Note/_PaginationPartial", Model)
        </div>
    </div>
}