﻿@model Medianet.Contacts.Web.ViewModels.Note.NoteResultsViewModel

@if (Model != null && Model.Pagination.Notes.Any())
{
    <div class="my-3">
        <span class="smallCaps">notes</span>
        <section class="table-responsive resultSection">
            <table class="table resultTableHeader table-sm allGrey" data-container="notes-list">
                <thead>
                    <tr>
                        <th scope="col" class="w-10">Date</th>
                        <th scope="col" class="w-20 text-nowrap">Created by</th>
                        <th scope="col" class="w-60">Notes</th>
                        <th scope="col" class="w-10 p-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var note in Model.Pagination.Notes)
                {
                    <tr>
                        <td>
                            @note.CreatedDate.ToShortDateString()<br />
                        </td>
                        <td>@note.UserName</td>
                        <td>@note.Notes</td>
                        <td class="p-1">
                            <span class="d-flex flex-column align-items-end">
                                <button class="btn btn-sm btn-link p-0" disabled="@note.AAPNote" data-id="@note.Id" data-edit data-action="@Url.Action("Update", new { id = @note.Id })">
                                    <i class="fal fa-fw fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-link p-0" disabled="@note.AAPNote" data-id="@note.Id" data-pinned="@note.Pinned" data-action="@Url.Action("PinUnpinNote")">
                                    <i class="fal fa-fw fa-thumbtack"></i>
                                </button>
                                <button class="btn btn-sm btn-link p-0" disabled="@note.AAPNote" data-id="@note.Id" data-delete data-confirm="Delete Note" data-confirm-text="the selected note" data-action="@Url.Action("DeleteNote")">
                                    <i class="fal fa-fw fa-times"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </section>
        <div data-unpinned-pagination>
            @Html.Partial("Note/_PaginationPartial", Model)
        </div>
    </div>
}