﻿@model Medianet.Contacts.Web.ViewModels.Distribution.DistributionViewModel
@{
    ViewBag.Title = "Send media release";
}
@section Styles {
    @Styles.Render("~/Content/distribution")
}
@section Javascript {
    @Scripts.Render("~/bundles/distribution")
    <script type="text/javascript">
        var _lists = @Html.Raw(Json.Encode(@ViewBag._lists));
        var _selectedLists = @Html.Raw(Json.Encode(@ViewBag._selectedLists));
    </script>
}

@using (Html.BeginForm("Index", "Distribution", FormMethod.Post, new { id = "distributionForm", encType = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.ReleaseId)

    <div class="d-flex align-items-end justify-content-between">
        <h2 class="mb-0">Send Media Release</h2>
    </div>

    <div class="card mt-3 mb-4 mb-xl-5">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">                    
                    <div class="mt-4">
                        <h3>Enter job information</h3>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-lg-4">
                                @Html.TextBoxFor(m => m.CompanyName, new { placeholder = "Company name", @readonly = "readonly", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CompanyName)
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                @Html.TextBoxFor(m => m.DebtorNumber, new { placeholder = "Customer Id", @readonly = "readonly", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DebtorNumber)
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                @Html.TextBoxFor(m => m.SenderName, new { placeholder = "Sender name", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                @Html.TextBoxFor(m => m.WorkPhoneNumber, new { placeholder = "Work phone", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.WorkPhoneNumber)
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email address", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.EmailAddress)
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                @Html.TextBoxFor(m => m.AfterHoursNumber, new { placeholder = "Mobile phone / After hours number", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                @Html.TextBoxFor(m => m.CustomerReference, new { placeholder = "Customer reference", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <div class="searchInput">
                                    @Html.TextBoxFor(m => m.SelectedLists, new { id = "SelectedLists", @class = "hidden" })
                                </div>
                                <span class="tokenInput-btn-container">
                                    <i class="fa fa-caret-down"></i>
                                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                                    @Html.ValidationMessageFor(m => m.SelectedLists)
                                </span>
                            </div>
                        </div>

                        <h5 class="mt-3 mb-1">Attach release document</h5>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-lg-4">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="Release" name="Release">
                                    <label class="custom-file-label text-nowrap text-truncate" for="Release">Choose file</label>
                                </div>
                                @Html.ValidationMessageFor(m => m.Release)
                            </div>
                        </div>                        
                    </div>
                    
                    <div class="mt-4">
                        <h3>Select distribution method</h3>
                        <p>To support your distribution to your targeted Medianet Contacts, you can choose to include distribution to one of Medianet's expertly prepared media lists or include newswire distributions to fortify your reach to major newsrooms across Australia.</p>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.CheckBox("DistributionEmail", true, new { @disabled = "disabled" })
                                    <label for="DistributionEmail">Email</label>
                                </div>
                                <div class="form-group">
                                    @Html.CheckBoxFor(m => m.DistributionWire, null)
                                    <label for="DistributionWire">Newswire feeds</label>
                                    @Html.ValidationMessageFor(m => m.DistributionWire)
                                </div>
                                <div class="form-check form-check-inline wireDist">
                                    <div class="form-group mr-4">
                                        @Html.CheckBoxFor(m => m.WireAll)
                                        <label for="WireAll">ALL</label>
                                    </div>
                                    <div class="form-group mr-4">
                                        @Html.CheckBoxFor(m => m.WireTas)
                                        <label for="WireTas">TAS</label>
                                    </div>
                                    <div class="form-group mr-4">
                                        @Html.CheckBoxFor(m => m.WireVic)
                                        <label for="WireVic">VIC</label>
                                    </div>
                                    <div class="form-group mr-4">
                                        @Html.CheckBoxFor(m => m.WireNsw)
                                        <label for="WireNsw">NSW</label>
                                    </div>
                                    <div class="form-group mr-4">
                                        @Html.CheckBoxFor(m => m.WireAct)
                                        <label for="WireAct">ACT</label>
                                    </div>
                                    <div class="form-group mr-4">
                                        @Html.CheckBoxFor(m => m.WireSa)
                                        <label for="WireSa">SA</label>
                                    </div>
                                    <div class="form-group mr-4">
                                        @Html.CheckBoxFor(m => m.WireWa)
                                        <label for="WireWa">WA</label>
                                    </div>
                                    <div class="form-group mr-4">
                                        @Html.CheckBoxFor(m => m.WireQld)
                                        <label for="WireQld">QLD</label>
                                    </div>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(m => m.WireNt)
                                        <label for="WireNt">NT</label>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                    <div class="mt-4">
                        <h3>Attach additional documents</h3>
                        <div class="form-row">
                            <div class="col-12">
                                <p>Attach additional documents such as an image, audio file or PDF.</p>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="Attachment" name="Attachment">
                                    <label class="custom-file-label" for="Attachment">Choose file</label>
                                </div>
                                <span class="form-text text-muted">Maximum file size: 2 MB</span>
                            </div>
                        </div> 
                    </div>
                    <div class="mt-4">
                        <h3>Submit for distribution</h3>
                        <p>Please contact your Account Manager or Client Services for pricing on sending a media release. Costs for distribution are based on your list and wire selections and any associated attachments.</p>
                        <div class="form-row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <input type="radio" name="OnHold" @(!Model.OnHold ? "checked=\"checked\"" : "")
                                           id="OnHold_false" value="false" />
                                    <label for="OnHold_false">Immediate</label>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="OnHold" @(Model.OnHold ? "checked=\"checked\"" : "")
                                           id="OnHold_true" value="true" />
                                    <label for="OnHold_true">Hold</label>

                                    <div class="form-group holdCalendar">
                                        <div class="input-group mb-3">
                                            @Html.TextBoxFor(m => m.HoldTime, new { placeholder = "Select hold date/time", @class = "form-control" })
                                            <div class="input-group-append calendarButton cursor-pointer">
                                                <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        
                            <div class="form-group col-md-12 mt-4">
                                @Html.TextAreaFor(m => m.SpecialInstructions, new { placeholder = "Special instructions", @class = "form-control", autocomplete = "off" })
                            </div>
                        
                            <div class="form-group col-md-12 mt-5 text-right">
                                <button type="submit" class="btn btn-primary px-5 py-2" tabindex="" form="distributionForm" value="Submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}