﻿@{
    ViewBag.Title = "Agree To Terms";
}

@model Medianet.Contacts.Web.ViewModels.Account.AgreeToTermsViewModel

@section Javascript {
    @Scripts.Render("~/bundles/agreeterms")
}

<div class="d-flex align-items-end justify-content-between">
    <h2 class="mb-0">Welcome to Medianet's new Influencer Database!</h2>
</div>

<div class="card mt-3 mb-4 mb-xl-5">
    @using (Html.BeginForm("AgreeToTerms", "Account", null, FormMethod.Post, new { id = "termsForm", @class = "collapsible" }))
    {
        @Html.Hidden("IsTrue", "true")
        @Html.HiddenFor(m => m.EmailAddress)
        @Html.HiddenFor(m => m.ReturnUrl)

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="mb-2">Before you continue, please take a moment to review our revised terms and conditions. We require you to accept the licence terms and conditions before accessing the site.</p>
                    <iframe src="https://medianet-public-cdn.s3-ap-southeast-2.amazonaws.com/wp-content/uploads/2020/07/Medianet_License_Terms_as_at_01_August_2020.pdf" frameborder="0" width="100%" height="600"></iframe>
                </div>
                <div class="col-12 my-2">
                    If you have not read or do not agree with these terms - do not click accept.
                </div>
                <div class="col-12 mt-2">
                    @Html.CheckBoxFor(m => m.AgreeToTerms)
                    <label for="AgreeToTerms">I have read and agree to the Medianet Licence Terms and Conditions
                        (Terms) and understand by clicking 'I accept' that I will be bound by the Terms</label><br>
                    @Html.ValidationMessageFor(m => m.AgreeToTerms)
                </div>
                <div class="col-12 mb-2">
                    @Html.CheckBoxFor(m => m.AgreeToPolicy)
                    <label for="AgreeToPolicy">
                        I have read and agree to Medianet’s <a href="http://www.medianet.com.au/privacy-policy/" target="_blank" rel="noopener"><u>Privacy Policy</u></a> and <a href="http://www.medianet.com.au/anti-spam-policy/" target="_blank" rel="noopener"><u>Anti-Spam Policy</u></a>
                    </label><br>
                    @Html.ValidationMessageFor(m => m.AgreeToPolicy)
                </div>
                <div class="col-md-6 col-lg-4">
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Re-enter password"})
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="col-md-6 col-lg-8 mt-2 mt-lg-0 text-right">
                    <button type="button" class="btn" id="reject-terms">Cancel</button>
                    <button type="submit" class="btn btn-primary px-5 ml-2" id="accept-terms">Accept</button>
                </div>
            </div>
        </div>
    }
</div>
