﻿﻿@model Medianet.Contacts.Web.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="card my-4 my-xl-5">
            <div class="card-body">
                <h3 class="mb-4">Change Password</h3>
                <h5 class="text-warning mb-4"><i class="fal fa-exclamation-triangle mr-2" aria-hidden="true"></i> Please change your password before continuing.</h5>
                <p class="mb-4">Your password should be between 8 - 16 characters in length and made up of alpha and numeric characters.</p>
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "passwordForm" }))
                {
                    @Html.HiddenFor(m => m.SessionKey)
                    <div>
                        <div class="alertText">

                        </div>
                        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
                        <br />
                        <div class="editor-label">
                            @Html.LabelFor(m => m.NewPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <br />

                        <div class="editor-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <div class="mt-4 text-right">
                            <a class="btn btn-primary px-4" href='javascript:$("#passwordForm").submit();'>OK</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>