﻿@model Medianet.Contacts.Web.ViewModels.Account.EditProfileViewModel
@{
    ViewBag.Title = "Edit Profile";
}

@*@section Javascript
    {
        @Scripts.Render("~/bundles/myaccount")
    }*@
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="card my-4 my-xl-8">
            <div class="card-body">
                <h3 class="mb-4">Edit Profile</h3>
                @using (Html.BeginForm("SubmitEdit", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    if (Model != null)
                    {
                        <div class="alertText">
                            @Html.AntiForgeryToken()
                        </div>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <br />
                        <div class="row">
                            <div class="editor-label col-md-6 col-lg-6">
                                @Html.LabelFor(m => m.Company)
                            </div>
                            <div class="editor-label col-md-6 col-lg-6">
                                @Html.LabelFor(m => m.ABN)
                            </div>
                            <div class="editor-field col-md-6 col-lg-6">
                                @Html.TextBoxFor(m => m.Company, new { @class = "form-control", @readonly = "true" })
                            </div>
                            <div class="editor-field col-md-6 col-lg-6">
                                @Html.TextBoxFor(m => m.ABN, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="editor-label col-md-6 col-lg-6">
                                @Html.LabelFor(m => m.FirstName)*
                            </div>
                            <div class="editor-label col-md-6 col-lg-6">
                                @Html.LabelFor(m => m.LastName)*
                            </div>
                            <div class="editor-field col-md-6 col-lg-6">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>

                            <div class="editor-field col-md-6 col-lg-6">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                        </div>
                        <!--<div class="col-md-4">
            <p>
                <span class="text-muted">Account Manager</span><br>-->
                        @*@Model.AccountOwnerName*@
                        <!--</p>

            </div>-->

                        <br />
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Email)*
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <br />
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Phone)*
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                        <br />
                        <div class="editor-label">
                            @Html.LabelFor(m => m.PositionTitle)*
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.PositionTitle, new { @class = "form-control", maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.PositionTitle)
                        </div>
                        <br />
                        <div class="editor-label">
                            @Html.LabelFor(m => m.BusinessType)*
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(m => m.BusinessType, Model.Industries, "-- Select the business type--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.BusinessType)
                        </div>
                        <br />
                        <div class="editor-label">
                            @Html.LabelFor(m => m.RelevantSubjects)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.RelevantSubjects, new { @class = "form-control" })
                        </div>
                        <br />
                        <div class="mt-4 text-right">
                            <button class="btn btn-primary px-4" type="submit">Update</button>
                            <a class="btn btn-danger px-4" href="/Account/MyAccount">Cancel</a>
                        </div>
                    }
                    else
                    {
                        <p class="">
                            Your profile record cannot be found.
                        </p>

                    }
                }
            </div>
        </div>
    </div>
</div>





