﻿@model Medianet.Contacts.Web.ViewModels.List.LicensesExceededViewModel

@{
    ViewBag.Title = "Licences Exceeded";
}

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="card my-4 my-xl-5">
            <div class="card-body">
                <h3 class="mb-4 text-danger"><i class="fal fa-times-circle mr-2" aria-hidden="true"></i> Licence logins exceeded</h3>
                <p class="mb-4">You have reached the maximum number of logins for your available licences. In order to login, please ask one of the users below to logout and try again.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var session in Model.ActiveSessions)
                        {
                            <tr>
                                <td>@(session.User.FirstName + " " + session.User.LastName)</td>
                                <td>@session.LastAccessedDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p>You currently have @Model.LicenseCount.ToString() Licences. Please contact your Account Manager to upgrade your account.</p>
                <div class="mt-4 text-right">
                    <a href='@Url.Content("~/")' class="btn btn-primary px-4">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>