﻿﻿@model Medianet.Contacts.Web.ViewModels.Account.LogOnEmailViewModel

@{
    ViewBag.Title = "Logon";
}

@section Javascript {
    <script type="text/javascript">
        $("#forgotPassword").on("click", function () {
            $("#forgotEmailAddress").val($("#EmailAddress").val());
            $("#forgotPasswordForm").submit();
        });
    </script>
}

<div class="row">
    <div class="col col-md-8 offset-md-2 col-lg-4 offset-lg-4">
        <h1>Logon</h1>
    </div>
</div>
<div class="row">
    <div class="col col-md-8 offset-md-2 col-lg-4 offset-lg-4">
        <div class="card mb-4">
            <div class="card-body">
                @using (Html.BeginForm("Logon", "Account", null, FormMethod.Post, new { @class = "collapsible" }))
                {
                    <div>
                        @Html.ValidationSummary(true, "Logon was unsuccessful. Please correct the errors and try again.")
                        <br />
                        <div>
                            @Html.LabelFor(m => m.EmailAddress)
                        </div>
                        <div>
                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                        </div>
                        <br />

                        <div>
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="mt-4 text-right">
                            <input type="button" value="Forgot Password" id="forgotPassword" class="btn mr-2" />
                            <input type="submit" value="Log On" id="logon" class="btn btn-primary"/>
                        </div>
                    </div>
                }
                @using (Html.BeginForm("ForgotPassword", "Account", null, FormMethod.Post, new { id = "forgotPasswordForm", @class = "collapsible" }))
                {
                    <input type="hidden" name="EmailAddress" id="forgotEmailAddress" />
                }
            </div>
        </div>
    </div>
</div>


