﻿@model Medianet.Contacts.Web.ViewModels.Account.MyAccountViewModel

@{
    ViewBag.Title = "My Account";
    var vContract = "";
    var vEndDate = "";
    var vAmount = "";

}

@section Javascript
{
    @Scripts.Render("~/bundles/myaccount")
}

<div class="d-flex align-items-end justify-content-between">
    <h2>My Account</h2>
   
</div>
<div class="card mt-3 mb-4 mb-xl-5">
    <div class="card-body">
        @if (TempData["message"] != null)
        {
            <div style="text-align:right"><span class="alert alert-success">@TempData["message"]</span> </div>
        }
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="d-flex align-items-end  justify-content-between py-3 mb-2 border-bottom">
                    <h3 class="mb-3">Profile</h3>
                    <div class="d-flex flex-wrap justify-content-end actionBtns">
                        <a class="d-flex badge badge-pill badge-primary" title="Edit Profile" href="@Url.Action("Edit", "Account")">
                            <i class="fas fa-user"></i>
                            <span class="align-self-start m-1">Edit Profile</span>
                        </a>
                    </div>
                </div>

                @if (Model.Profile != null)
                {
                    //var accessLevel = "Standard user";
                    //if (Model.Profile != null && Model.Profile.MainContact)
                    //{
                    //    accessLevel = "Primary user";
                    //}

                    <div class="row">
                        <div class="col-md-4 border-md-right">
                            <p>
                                <span class="text-muted">Company</span><br>
                                @Model.Profile.Company
                            </p>
                        </div>

                        @*<div class="col-md-4 border-md-right">
                    <p>
                        <span class="text-muted">Access level</span><br>
                        @accessLevel
                    </p>
                </div>*@
                        <div class="col-md-4  border-md-right">
                            <p>
                                <span class="text-muted">ABN</span><br>
                                @Model.Profile.ABN
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <span class="text-muted">Account Manager</span><br>
                                @Model.Profile.AccountOwnerName
                            </p>

                        </div>
                        <div class="col-md-4 border-md-right">
                            <p>
                                <span class="text-muted">Full name</span><br>
                                @Model.Profile.Name
                            </p>
                        </div>
                        <div class="col-md-4 border-md-right">
                            <p>
                                <span class="text-muted">Email</span><br>
                                @Model.Profile.Email
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <span class="text-muted">Phone</span><br>
                                @Model.Profile.Phone
                            </p>
                        </div>
                        <div class="col-md-4 border-md-right">
                            <p>
                                <span class="text-muted">Position title</span><br>
                                @Model.Profile.PositionTitle
                            </p>
                        </div>
                        <div class="col-md-4 border-md-right">
                            <p>
                                <span class="text-muted">Business type</span><br>
                                @Model.Profile.BusinessType
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <span class="text-muted">Subjects of interest</span><br>
                                @Model.Profile.RelevantSubjects
                            </p>

                        </div>
                    </div>
                }
                else
                {
                    <p class="">
                        Your profile record cannot be found.
                    </p>

                }

                <h3 class="mt-3 mt-lg-5 mb-3  justify-content-between py-3 mb-2 border-bottom">Services</h3>

                @if (Model.Contracts.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Start date</th>
                                <th scope="col">Anniversary date</th>
                                <th scope="col">Amount * </th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var contract in Model.Contracts)
                            {
                                if (contract.ContractTerm == null)
                                {
                                    vContract = "PAYG";
                                    vAmount = "";
                                    vEndDate = "";
                                }
                                else
                                {
                                    vContract = contract.ContractTerm.ToString() + " mth licence";
                                    vAmount = "$" + String.Format("{0:.00} per month", contract.ContractPrice);
                                    vEndDate = contract.EndDate.ToString("dd/MM/yyyy");
                                }

                                <tr>
                                    <th scope="row">@contract.Product</th>
                                    <td>@vContract</td>
                                    <td>@contract.StartDate.ToString("dd/MM/yyyy")</td>
                                    <td>@vEndDate</td>
                                    <td>@vAmount</td>
                                    <td><a href="/ContactUs">Manage</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <span style="float:right;font-size:13px">* excludes GST</span>
                }
                else
                {
                    <p class="">
                        Your account information cannot be found.
                    </p>

                }
            </div>
        </div>
    </div>
</div>
<div class="card mt-4 mb-5" id="divPrivateData">
    <div class="card-body">
        <div class="d-flex flex-column flex-lg-row align-items-start justify-content-between py-3 mb-2 border-bottom">
            <h5 class="card-title mb-4">Manage private records</h5>
            <div class="d-flex flex-wrap justify-content-end actionBtns">
                <a class="d-flex badge badge-pill badge-primary" title="Add Private Outlet" href="@Url.Action("Edit", "PrivateOutlet")">
                    <i class="fas fa-building"></i>
                    <span class="align-self-start m-1">Add private outlet</span>
                </a>
                <a class="d-flex badge badge-pill badge-primary ml-3" title="Add Private Contact" href="@Url.Action("Edit", "PrivateContact")">
                    <i class="fas fa-user"></i>
                    <span class="align-self-start m-1">Add private contact</span>
                </a>
            </div>
        </div>
        <div id="divOutlets" data-action="@Url.Action("GetOutlets", "PrivateOutlet", new { loadLimitedRecords = true})"
             data-spinnercontainer="divOutlets" data-delete-action="@Url.Action("Delete", "PrivateOutlet")">
            @Html.Partial("_InlineSpinnerPartial")
        </div>
    </div>
</div>



