﻿@model Medianet.Contacts.Web.ChargeBeeService.DBSession

@{
    ViewBag.Title = "Session already exists";
}

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="card my-4 my-xl-5">
            <div class="card-body">
                <h3 class="mb-4 text-warning"><i class="fal fa-exclamation-triangle mr-2" aria-hidden="true"></i> Session already exists</h3>
                <h5 class="mb-4">You already have an active session. Would you like to close this active session and start a new one?</h5>
                <div class="mt-4 text-right">
                    <a href='@Url.Content("~/")' class="btn btn-secondary px-4 mr-2">No</a>
                    <a href='@Url.Action("LogOnReplacingSession", "Account", new { session = Model.Key, returnUrl = ViewData["returnUrl"] })' class="btn btn-primary px-4">Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>