﻿@using Medianet.Contacts.Web.Common.Util
@using System.Collections.Generic
@using System.Linq
@using Medianet.Contacts.Wcf.DataContracts.DTO;

@model List<Medianet.Contacts.Web.ViewModels.AllLists.ListsGroupedViewModel>

@if (Model != null)
{
    foreach (var group in Model)
    {
        var groupName = @group.Lists.Select(g => g.GroupName).First();
        var groupId = @group.Lists.Select(g => g.GroupId).First();
        <div class="group" data-group="@groupId">
            <div class="group-header collapsible">
                <h5 class="d-flex align-items-center mb-0">
                    <span class="collapsed cursor-pointer" data-toggle="collapse" data-target="#grp_@groupId">
                        <i class="fal fa-chevron-down fa-fw" aria-hidden="true"></i>
                        <span class="pl-1" data-group-name-id="@groupId">@groupName</span>
                    </span>
                    <span class="actionBtns ml-auto">
                        <button data-rename-group class="btn btn-sm btn-link py-0" title="Rename" data-group-id="@groupId"
                                data-rename-group-action="@Url.Action("RenameGroupModal", "Group", new { groupId = @groupId })">
                            <i class="fal fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button data-delete-group class="btn btn-sm btn-link py-0" data-id="@groupId" data-confirm="Delete group list" data-confirm-text="@groupName" data-action="@Url.Action("DeleteGroupList", "Group")">
                            <i class="fal fa-times" aria-hidden="true"></i>
                        </button>
                    </span>
                </h5>
            </div>
            <div class="collapse" id="grp_@groupId" data-spinnercontainer="grp_@groupId">
                <table data-grouped-id="@groupId" data-rebind-action="@Url.Action("RebindGroup", "AllLists")" class="table mb-0" @(group.AllListsSortColumn == AllListsSortColumn.Default ? "data-sortcol=" + (int)AllListsSortColumn.ListName + " data-sortdir=" + (int)group.SortDirection : "")>
                    <thead>
                        @if (group.Lists.Count == 1)
                    {
                        <tr>
                            <th scope="col" class="w-35">List name</th>
                            <th scope="col" class="w-20">User</th>
                            <th scope="col" class="w-20">Created date</th>
                            <th scope="col" class="w-10">Visibility</th>
                            <th scope="col" class="w-15"></th>
                        </tr>
                        }
                        else
                        {
                        <tr>
                            <th scope="col" class="w-35"><span class="sortable">List name <span class='@(group.AllListsSortColumn == AllListsSortColumn.Default ? "fa fa-sort-down" : "fa fa-sort")' title="Sort by Column" data-sortcol="@((int)AllListsSortColumn.ListName)"></span></span></th>
                            <th scope="col" class="w-20"><span class="sortable">User <span class="fa fa-sort" title="Sort by Column" data-sortcol="@((int)AllListsSortColumn.UserFullName)"></span></span></th>
                            <th scope="col" class="w-20"><span class="sortable">Created date <span class="fa fa-sort" title="Sort by Column" data-sortcol="@((int)AllListsSortColumn.CreatedDate)"></span></span></th>
                            <th scope="col" class="w-10">Visibility</th>
                            <th scope="col" class="w-15"></th>
                        </tr>

                        }
                    </thead>
                    <tbody data-grouped-id="@groupId">
                        @{ Html.RenderPartial("_ListsPartial", group); }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
