﻿@model Medianet.Contacts.Web.ViewModels.AllLists.ListsGroupedViewModel

@if (Model != null && Model.Lists != null)
{
    foreach (var item in Model.Lists)
    {
        <tr data-list-id="@item.ListId">
            <th scope="row">
                @Html.ActionLink(item.ListName, "Index", "List", new { ListId = item.ListId }, null)
            </th>
            <td>@item.UserFullName</td>
            <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@item.Visibility</td>
            <td class="actionBtns text-right">
                <button data-edit class="btn btn-sm btn-link py-0" title="Edit List"
                        data-edit-action="@Url.Action("Edit", "List", new { listId = item.ListId })">
                    <i class="fal fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-sm btn-link py-0" data-id="@item.ListId" data-confirm="Delete list" data-confirm-text="@item.ListName" data-action="@Url.Action("DeleteList", "AllLists")"><i class="fal fa-times" aria-hidden="true"></i></button>
            </td>
        </tr>
    }
}
