﻿@{
    ViewBag.Title = "Lists";
}
@section Javascript {
    @Scripts.Render("~/bundles/alllists")
}

<div class="d-flex align-items-center justify-content-between">
    <div>
        <h2 class="mb-0 text-nowrap">Lists</h2>
    </div>
</div>
<div class="card mt-3 mb-4 mb-xl-5">
    <div class="card-body">
        <div class="row">
            @if (Model == null)
            {
                <div class="col">
                    <h4 class="mb-3">You currently don't have any saved lists.</h4>
                    <p>Once you save a list, you will be able to view the list here.</p>
                </div>
            }
            else
            {
                <div class="col-12 col-lg-10 offset-lg-1">
                    <h4>Saved lists</h4>
                    <div class="groupedListsPartial">
                        @{ Html.RenderPartial("_AllGroupedListsPartial"); }
                    </div>                
                </div>
            }
        </div>
    </div>
</div>


