﻿
@model Medianet.Contacts.Web.ViewModels.AllLists.DeleteGroupViewModel
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Delete Group</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <label>
                    Deleting a group will delete all lists in that group. <br />
                    Are you sure you want to delete <b>@Html.Label(Model.GroupName)</b> group?
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="delete-button" onclick="return MediaPeople.AllLists.btnDeleteGroup_Click(@Model.GroupId);">Delete</button>
    </div>
</div>