﻿@using System.Collections.Generic
@using System.Linq

@model Medianet.Contacts.Web.ViewModels.AllLists.RenameGroupViewModel

<div class="modal-content">
    @using (Html.BeginForm("RenameGroup", "Group", FormMethod.Post, new { @id = "frmRenameGroup" }))
    {
        <div class="modal-header">
            <h4 class="modal-title">Rename group</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div id="serverMessage">@(ViewBag.Message != null ? ViewBag.Message : "")</div>
                    @Html.ValidationSummary(false, "", new { @class = " alert alert-danger d-none", id = "vsRenameGroup" })
                </div>
                @Html.HiddenFor(m => m.GroupId)
                <div class="col-12">
                    <label>Current group name: <b>@Model.GroupName</b></label>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.NewGroupName, new
                    {
                        @class = "form-control",
                        placeholder = "New group name",
                        required = "required"
                    })
                        @Html.ValidationMessageFor(m => m.NewGroupName)
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" id="cancel-button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="save-button" data-spinnercontainer="btnRenameGroup">Rename</button>
        </div>
    }
</div>