﻿@using Medianet.Contacts.Web.ViewModels.Dashboard

@model List<MediaMovementsViewModel>


@if (Model != null && Model.Any()) { 
    <div class="row">
        @foreach (MediaMovementsViewModel item in Model)
        {
        if (string.IsNullOrWhiteSpace(item.ContactId) || item.ContactId.Equals("0"))
        {
        <div class="col-2 align-self-center">
            @{
                    var logoFile = string.Empty;

                if (!string.IsNullOrEmpty(item.LogoFileName))
                {
                    logoFile = new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(item.LogoFileName);
                }

                if (!string.IsNullOrEmpty(logoFile))
                {
                    <img class="img-fluid my-1 mx-auto" src="@(logoFile)" alt="Outlet logo" width="90" height="90">
                }
            }
        </div>
        <div class="col-10 py-2 mb-2 border-bottom">
            <p class="mb-2">
                <a href="@Url.Action("Index", "Outlet", new {Id = (item.OutletId ?? string.Empty).Trim(), recordType = 1})">
                    <b>@item.CompanyName</b>
                </a>
                <span class="d-inline-block float-right"><small>@(GeneralHelper.FormatMediaMovementDate(item.CreatedDate))</small></span>
            </p>
            <p class="font-weight-light mb-0">
                <span>
                    @item.Description
                </span>
            </p>
        </div>
        }
        else
        {
        <div class="col-2 align-self-center">
            @{
                if (item.TwitterHandle.HasValue())
                {
                    <img id="profileImage" class="rounded-circle img-fluid m-1" src="/Content/Images/user_profile_avatar.png" width="90" height="90" alt="Contact avatar"
                         data-twitterhandle="@item.TwitterHandle" />
                }
                else
                {
                    <div class="avatar avatar-sm m-auto">@item.Initials</div>
                }
            }
        </div>
        <div class="col-10 py-2 mb-2 border-bottom">
            <p class="mb-2">
                <a href="@Url.Action("Index", "Contact", new {outletId = (item.OutletId ?? string.Empty).Trim(), contactId = item.ContactId.Trim(), recordType = 2})">
                    <b>@item.FullName</b>
                </a>
                <span class="d-inline-block float-right">
                    <small>@(GeneralHelper.FormatMediaMovementDate(item.CreatedDate))</small>
                </span>
                <br>
                @(item.JobTitle) - <a class="font-weight-bold" href="@Url.Action("Index", "Outlet", new {Id = (item.OutletId ?? string.Empty).Trim(), recordType = 1})">@(item.CompanyName)</a>
            </p>
            <p class="font-weight-light mb-0">
                <span>
                    @item.Description
                </span>
            </p>
        </div>
        }
        }
    </div>
    }
