﻿@model Medianet.Contacts.Web.GeneralService.MediaStatistics

@if (Model != null)
{
    <div><b>This Week</b><p class="mt-1 mb-0">@String.Format("{0:#,0}", Model.AustralasiaLastWeek)</p></div>
    <div><b>This Month</b><p class="mt-1 mb-0">@String.Format("{0:#,0}", Model.AustralasiaLastMonth)</p></div>
    <div><b>This Year</b><p class="mt-1 mb-0">@String.Format("{0:#,0}", Model.AustralasiaYearToDate)</p></div>
}
