﻿@using Medianet.Contacts.Web.ViewModels.Dashboard

@model List<ContactSummaryViewModel>


@if (Model != null)
{
    foreach (ContactSummaryViewModel item in Model)
    {
        <div class="d-flex flex-column">
            <div class="d-flex flex-column border-bottom mb-2 pb-2">
                <span>
                    <a href="@Url.Action("Index", "Contact", new
                             {
                                 outletId = (item.OutletId ?? string.Empty).Trim(),
                                 contactId = (item.ContactId ?? string.Empty).Trim(), recordType = (int) item.Type
                             })">
                        <b>@item.Name</b>
                    </a>
                    <span class="d-inline-block float-right"><small>@(GeneralHelper.FormatMediaMovementDate(item.CreatedDate))</small></span>
                   <br style="clear: both;" />
                    @item.JobTitle<br>
                    <span class="mt-1">
                        <a href="@Url.Action("Index", "Outlet", new
                                 {
                                     Id = (item.OutletId ?? string.Empty).Trim(),
                                     recordType = 1
                                 })">
                            <b>@item.CompanyName</b>
                        </a>
                       
                    </span>
                </span>

            </div>
        </div>
    }
}
