﻿@using Medianet.Contacts.Web.ViewModels.Dashboard

@model List<ContactSummaryViewModel>


@if (Model != null)
{
    foreach (ContactSummaryViewModel item in Model)
    {
        <div class="col-lg-4 align-self-start text-center mb-3 mb-lg-0">
            @if (string.IsNullOrWhiteSpace(item.ContactId) || item.ContactId.Equals("0"))
            {
                var logoFile = string.Empty;

                if (!string.IsNullOrEmpty(item.LogoFileName))
                {

                    logoFile = new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(item.LogoFileName);

                }
                <div class="d-flex align-items-center avatar-placeholder">
                    @if (!string.IsNullOrEmpty(logoFile))
                    {
                  
                        <img class="img-fluid my-1 mx-auto" src="@(logoFile)" alt="Outlet logo" width="90" height="90">

                    }
                    else
                    {
                        @*<i class="far fa-3x fa-city mx-auto"></i>*@
                        <span class="fa-stack fa-2x mx-auto">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-store-alt fa-stack-1x fa-inverse"></i>
                        </span>
                    }
                </div>
                <p>
                    <a href="@Url.Action("Index", "Outlet", new {Id = (item.OutletId ?? string.Empty).Trim(), recordType = (int) item.Type})"><b>@(item.CompanyName)</b></a><br>
                    @item.MediaType.Name<br>
                </p>
                }
                else
                {
                    if (item.SocialDetails == null || !item.SocialDetails.Twitter.HasValue())
                    {
                        <div class="d-flex align-items-center avatar-placeholder">
                            <div class="avatar m-auto">@item.Name.Initials</div>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex align-items-center avatar-placeholder">
                            <img id="profileImage" class="rounded-circle my-1 mx-auto" src="/Content/Images/user_profile_avatar.png" width="90" height="90" alt="Contact avatar" data-twitterhandle="@item.SocialDetails.Twitter" />
                        </div>
                    }
                    <p>
                        <a href="@Url.Action("Index", "Contact", new {outletId = (item.OutletId ?? string.Empty).Trim(), contactId = item.ContactId.Trim(), recordType = (int) item.Type})"><b>@(item.Name.ToString())</b></a><br>
                        @(item.JobTitle) at @(item.CompanyName)<br>
                    </p>
                }
        </div>
    }
}
