﻿@using Medianet.Contacts.Web.ViewModels.AllLists

@model List<ListViewModel>

<table class="table allGrey">
    <thead>
        <tr>
            <th scope="col">List name</th>
            <th scope="col" class="text-nowrap">Created date</th>
            <th scope="col">Visibility</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (ListViewModel item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "List", new { ListId = item.ListId })">
                            @item.ListName<span class="collapse inline" id="list_@item.ListId"></span>
                        </a>
                    </td>
                    <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@item.Visibility</td>
                </tr>
            }
        }
    </tbody>
</table>
