﻿@using Medianet.Contacts.Web.ViewModels.Dashboard

@{
    ViewBag.Title = "Home";
}
@model DashboardViewModel

<div class="row mt-2 mt-sm-4 mt-xl-5">
    <div class="col-12 col-md-4 col-lg-3">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Media Movements</h5>
                @{ Html.RenderPartial("_MediaMovementsPartial", Model.MediaMovementsList); }
            </div>
            <div class="showMoreLess">
                @Html.ActionLink("more ...", "Index", "MediaMovements")
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Current Research Focus</h5>
                <ul class="list-group list-group-flush text-uppercase">
                    <li class="list-group-item list-group-item-grey">Health</li>
                    <li class="list-group-item list-group-item-grey">Politics</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 col-lg-7">
        <div class="card-deck">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title"><a>Today's News Conference</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card card-grey mb-4">
                <div class="card-body">
                    <h5 class="card-title">Calendar</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title pb-2">Top 5 lists</h5>
                <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="influencers-tab" data-toggle="tab" href="#influencers" role="tab" aria-controls="influencers" aria-selected="true">Influencers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="media-tab" data-toggle="tab" href="#media" role="tab" aria-controls="media" aria-selected="false">In Media</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="febarno-tab" data-toggle="tab" href="#febarno" role="tab" aria-controls="contact" aria-selected="false">Febarno</a>
                    </li>
                </ul>
                <div class="tab-content tab-lists pt-2" id="myTabContent">
                    <div class="tab-pane fade show active" id="influencers" role="tabpanel" aria-labelledby="influencers-tab">
                        <table class="table">
                            <tr>
                                <td><img class="rounded-circle" src="/Content/Images/user_profile_avatar.png" width="30" height="30" alt="Contact avatar"></td>
                                <td><a>Name Averylongname</a></td>
                                <td>twitter followers 100,000</td>
                                <td class="text-uppercase">Fashion</td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle" src="/Content/Images/user_profile_avatar.png" width="30" height="30" alt="Contact avatar"></td>
                                <td><a>Name Averylongname</a></td>
                                <td>twitter followers 100,000</td>
                                <td class="text-uppercase">Fashion</td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle" src="/Content/Images/user_profile_avatar.png" width="30" height="30" alt="Contact avatar"></td>
                                <td><a>Name Averylongname</a></td>
                                <td>twitter followers 100,000</td>
                                <td class="text-uppercase">Fashion</td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle" src="/Content/Images/user_profile_avatar.png" width="30" height="30" alt="Contact avatar"></td>
                                <td><a>Name Averylongname</a></td>
                                <td>twitter followers 100,000</td>
                                <td class="text-uppercase">Fashion</td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle" src="/Content/Images/user_profile_avatar.png" width="30" height="30" alt="Contact avatar"></td>
                                <td><a>Name Averylongname</a></td>
                                <td>twitter followers 100,000</td>
                                <td class="text-uppercase">Fashion</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Contact</div>
                    <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">In Media</div>
                    <div class="tab-pane fade" id="febarno" role="tabpanel" aria-labelledby="febarno-tab">Febarno</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Recently Added</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card bg-softBlue text-white text-center mb-4 pt-2">
            <div class="card-body">
                <p class="card-title"><a class="text-white" href="https://www.medianet.com.au/training_courses/" target="_blank" rel="noopener"><i class="fa fa-book"></i> Training</a></p>
            </div>
        </div>

    </div>
</div>

@section Javascript{
    @Scripts.Render("~/bundles/dashboard")
}

