﻿@using System.Configuration
@model Medianet.Contacts.Web.ViewModels.ContactUs
@{
    ViewBag.Title = "Contact Us";
}
<div class="d-flex align-items-end justify-content-between">
    <h2>Contact Us</h2>
</div>
<div class="card mt-3 mb-4 mb-xl-5">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 py-3 py-lg-5">
                <p class="card-text">
                    If you have any urgent enquiries or website issues, please do not hesitate to contact
                    your Account Manager or Client Services via the following avenues:
                </p>
                <p class="card-text">
                    <h5>Client Services</h5>
                </p>
                <dl>
                    <dt>Phone</dt>
                    <dd>@ConfigurationManager.AppSettings["ClientServicePhoneNo"]</dd>
                    <dt>Email</dt>
                    <dd><a href="mailto:@ConfigurationManager.AppSettings["ClientServiceEmail"]">@ConfigurationManager.AppSettings["ClientServiceEmail"]</a></dd>
                </dl>
                <p class="card-text mt-3 mt-lg-5">
                    Alternatively, if you wish to submit an enquiry for information on how to use the site, portal issues or feedback, please submit a form below and a Client Services Representative will contact you as soon as possible.
                </p>
                @using (Html.BeginForm("Index", "ContactUs", FormMethod.Post))
                {
                    @Html.CustomValidationSummary(true, null, new { @class = "alert alert-danger" })
                    if (!Model.Submitted)
                    {
                        <div class="form-group">
                            @*<label for="inputSubject">Subject</label>*@
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @data_val = "true", placeholder = "Subject" })
                            @Html.ValidationMessageFor(m => m.Subject, null)
                        </div>
                        <div class="form-group">
                            @*<label for="textareaComment">Comment</label>*@
                            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", @cols = 20, @rows = 3, @data_val = "true", placeholder = "Comment" })
                            @Html.ValidationMessageFor(m => m.Comment, null)
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success" role="alert">
                            Thank you for your enquiry. A Client Services team member will contact you shortly.
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>