﻿@using Medianet.Contacts.Web.Common.Model
@using Medianet.Contacts.Web.ViewModels.Dashboard;

@{
    ViewBag.Title = "MediaMovements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<MediaMovementsViewModel>

<div class="card mt-3 mb-4 mb-xl-5"  id="divMediaMovements">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                @if (Model == null)
                {
                    <h4 class="mb-3">Currently There are no Media Movements.</h4>
                }
                else
                {
                    <div class="row">
                        <div class="col-7">
                            <h5 class="card-title">Media Movements</h5>
                        </div>
                        <div class="col-5 d-flex justify-content-end">
                            <a class="badge badge-pill badge-primary" target="_blank" rel="noopener" title="Subscribe" href="https://www.medianet.com.au/media-movements-signup/" data-search-page="false">
                                <span class="align-self-start m-1">SUBSCRIBE</span>
                            </a>
                        </div>
                    </div>
                    foreach (MediaMovementsViewModel item in Model)
                    {
                        <div class="row">
                            <div class="col-2 my-auto">
                                @(GeneralHelper.FormatMediaMovementDate(item.CreatedDate))
                            </div>
                            <div class="col-10">

                                <div class="row">
                                    @if (string.IsNullOrWhiteSpace(item.ContactId) || item.ContactId.Equals("0"))
                                    {
                                        <div class="col-2 align-self-center">
                                            @{
                                                var logoFile = string.Empty;

                                                if (!string.IsNullOrEmpty(item.LogoFileName))
                                                {
                                                    logoFile = new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(item.LogoFileName);
                                                }

                                                if (!string.IsNullOrEmpty(logoFile))
                                                {
                                                    <img class="img-fluid my-1 mx-auto" src="@(logoFile)" alt="Outlet logo" width="90" height="90">
                                                }
                                            }
                                        </div>
                                        <div class="col-10 border-bottom py-2 mb-2">
                                            <p class="mb-2">
                                                <a href="@Url.Action("Index", "Outlet", new {Id = (item.OutletId ?? string.Empty).Trim(), recordType = 1})">
                                                    <b>@item.CompanyName</b>
                                                </a>
                                            </p>
                                            <p class="font-weight-light mb-0">
                                                <span>
                                            @item.Description
                                        </span>
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-2 align-self-center" >
                                            @{
                                                if (item.TwitterHandle.HasValue())
                                                {
                                                    <img id="profileImage" class="rounded-circle img-fluid m-1" src="~/Content/Images/user_profile_avatar.png" width="90" height="90" alt="Contact avatar"
                                                         data-twitterhandle="@item.TwitterHandle" />
                                                }
                                                else
                                                {
                                                    <div class="avatar">@item.Initials</div>
                                                }
                                            }
                                        </div>
                                        <div class="col-10 border-bottom py-2 mb-2">
                                            <p class="mb-2">
                                                <a href="@Url.Action("Index", "Contact", new {outletId = (item.OutletId ?? string.Empty).Trim(), contactId = item.ContactId.Trim(), recordType = 2})">
                                                    <b>@item.FullName</b>
                                                </a>
                                                <br>
                                                @(item.JobTitle) - <a class="font-weight-bold" href="@Url.Action("Index", "Outlet", new {Id = (item.OutletId ?? string.Empty).Trim(), recordType = 1})">@(item.CompanyName)</a>
                                            </p>
                                            <p class="font-weight-light mb-0">
                                                <span>
                                            @item.Description
                                        </span>
                                            </p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Javascript{
    @Scripts.Render("~/bundles/mediaMovements")
}