﻿@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel
@if (Model == null || !Model.Pagination.Results.Any())
{
    <div class="mt-3">
        <h4 class="mb-3">You currently don't have any private data.</h4>
    </div>
}
else
{
    <div class="searchResult" data-spinnercontainer="searchResultSection">
        @{
            ViewBag.IsSearchPage = false;
        }
        @if (Model.Pagination.Results.Count > 0)
        {
            Html.RenderPartial("~/Views/search/_TablePartial.cshtml", Model);
        }
        @if (ViewBag.LoadLimitedRecords ?? false)
        {
            <div class="pt-2 text-right">
                <a class="showMoreLess" href="@Url.Action("Index", "PrivateOutlet")">more ...</a>
            </div>
        }
        @Html.Partial("~/Views/search/_PaginationPartial.cshtml", Model)
    </div>
}
