﻿@using Medianet.Contacts.Web.Common.Model
﻿@using Medianet.Contacts.Wcf.DataContracts.DTO
@model Medianet.Contacts.Web.ViewModels.PrivateOutlet.PrivateOutletViewModel
@*<style>
    ul.token-input-list-mediapeople.input-validation-error {
        border-color: #dc3545 !important;
    }

    .token-input-input {
        position: relative;
        top: -1000px;
    }
</style>*@
<div>
    @using (Html.BeginForm("Create", "PrivateOutlet", FormMethod.Post, new
    {
        id = "formPrivateData",
        data_get_countries_url = @Url.Action("GetCountries", "PrivateOutlet"),
        data_get_states_url = @Url.Action("GetStates", "PrivateOutlet"),
        data_get_cities_url = @Url.Action("GetCities", "PrivateOutlet")
    }))
    {
        @Html.ValidationSummary(false, null, new { @class = "alert alert-danger d-none", id = "vsPrivateData" })
        @Html.HiddenFor(m => m.OutletId)
        @Html.Hidden("RecordType", RecordType.OmaOutlet)
        @Html.Hidden("ReferrerUrl", (string)ViewBag.ReferrerUrl)
        <div class="mt-4">
            <h3 class="mb-4">
                Manage your own private outlets into the Medianet Contacts Database.
            </h3>
            <p>
                Including your own data allows you to combine your private contacts and outlets with Medianet records. Your own data (private) is only visible to other users within your organisation.
            </p>
            <p>
                By default, Medianet will include your private records in any search results.
                To exclude private records from a search or to search within only your own private records, simply go to Advanced Search and in the Exclusion section at the bottom of the page, select either 'Only Medianet data records' or the 'Only my private records' option.
            </p>
            <p>
                Private records are maintained by clients and are not accessible to other organisations or Medianet.
            </p>
            <h3>Outlet details</h3>
            <div class="form-row">
                <div class="form-group col-md-6 col-lg-4">
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = "Name" })
                    @Html.ValidationMessageFor(m => m.CompanyName)
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <div class="searchInput">
                        @Html.TextBoxFor(m => m.SubjectIdsCsv, new { id = "SubjectIdsCsv", data_group_filter_id = "", data_group_filter_name = "", @class = "form-control hidden" })
                    </div>
                    <div class="tokenInput-btn-container">
                        <i class="fal fa-sliders-h" aria-hidden="true"></i>
                        <input type="button" class="dropdown btnFilter" name="searchFilter" title="Filter by group"
                               data-for="SubjectIdsCsv" tabindex="-1">
                        <div class="position-relative">
                            @Html.Partial("_SubjectGroupsDropdown", new List<SubjectGroup>(ViewBag.SubjectGroups))
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.SubjectIdsCsv)
                </div>
                <div class="col-md-6 col-lg-4 select-container">
                    @{
                        List<SelectListItem> mediaTypeItems = new List<SelectListItem>();
                        foreach (var item in (List<MediaType>)ViewBag.MediaType)
                        {
                            mediaTypeItems.Add(new SelectListItem
                            {
                                Value = item.Id.ToString(),
                                Text = item.Name,
                                Selected = Model.ProductTypeId == item.Id
                            });
                        }
                    }
                    @Html.DropDownListFor(m => m.ProductTypeId, mediaTypeItems, "Media type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ProductTypeId)
                </div>
                <div class="col-md-6 col-lg-4 select-container">
                    @{
                        List<SelectListItem> frequencyItems = new List<SelectListItem>();
                        foreach (var item in (List<Frequency>)ViewBag.Frequency)
                        {
                            frequencyItems.Add(new SelectListItem
                            {
                                Value = item.Id.ToString(),
                                Text = item.Name,
                                Selected = Model.FrequencyId == item.Id
                            });
                        }
                    }
                    @Html.DropDownListFor(m => m.FrequencyId, frequencyItems, "Frequency", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FrequencyId)
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <div class="searchInput">
                        @Html.TextBoxFor(m => m.WorkingLanguageIdsCsv, new { id = "WorkingLanguageIdsCsv", data_is_token_input = "true", @class = "form-control columnInput" })
                    </div>
                    <span class="tokenInput-btn-container">
                        <i class="fa fa-caret-down"></i>
                        <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                    </span>
                    @Html.ValidationMessageFor(m => m.WorkingLanguageIdsCsv)
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Phone", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
                @*<div class="form-group col-md-6 col-lg-4">
                        @Html.TextBoxFor(model => model.Mobile, new { placeholder = "Mobile", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Mobile)
                    </div>*@
                <div class="form-group col-md-6 col-lg-4">
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    @Html.TextBoxFor(model => model.Website, new { placeholder = "Website", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Website)
                </div>
            </div>
        </div>
        <div class="mt-4">
            <h3>Address</h3>
            <div class="form-row">
                <div class="form-group col-md-6 col-lg-4">
                    @Html.TextBoxFor(model => model.AddressLine1, new { placeholder = "Address line 1", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AddressLine1)
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    @Html.TextBoxFor(model => model.AddressLine2, new { placeholder = "Address line 2", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AddressLine2)
                </div>
                <div class="col-md-6 col-lg-4 select-container">
                    <select id="ContinentId" class="form-control">
                        <option value="">Continent</option>
                        @foreach (var item in (List<Continent>)ViewBag.Continents)
                        {
                            <option value="@item.Id.ToString()" @(ViewBag.ContinentId == item.Id ? "selected" : "")>@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-6 col-lg-3 select-container">
                    @{
                        List<SelectListItem> countries = new List<SelectListItem>();
                        foreach (var item in (List<Country>)ViewBag.Countries)
                        {
                            countries.Add(new SelectListItem
                            {
                                Value = item.Id.ToString(),
                                Text = item.Name,
                                Selected = Model.MediaAtlasCountryId == item.Id
                            });
                        }
                    }
                    @Html.DropDownListFor(m => m.MediaAtlasCountryId, countries, "Country", new { id = "CountryId", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MediaAtlasCountryId)
                </div>
                <div class="col-md-6 col-lg-3 select-container">
                    @{
                        List<SelectListItem> states = new List<SelectListItem>();
                        if (ViewBag.States != null)
                        {
                            foreach (var item in (List<State>)ViewBag.States)
                            {
                                states.Add(new SelectListItem
                                {
                                    Value = item.Id.ToString(),
                                    Text = item.Name,
                                    Selected = Model.StateId == item.Id
                                });
                            }
                        }
                    }
                    @Html.DropDownListFor(m => m.StateId, states, "State", new { @class = "form-control" })
                </div>
                <div class="col-md-6 col-lg-3 select-container">
                    @{
                        List<SelectListItem> cities = new List<SelectListItem>();
                        if (ViewBag.States != null)
                        {
                            foreach (var item in (List<City>)ViewBag.Cities)
                            {
                                cities.Add(new SelectListItem
                                {
                                    Value = item.Id.ToString(),
                                    Text = item.Name,
                                    Selected = Model.CityId == item.Id
                                });
                            }
                        }
                    }
                    @Html.DropDownListFor(m => m.CityId, cities, "City", new { @class = "form-control" })
                </div>
                <div class="col-md-6 col-lg-3">
                    @Html.TextBoxFor(m => m.PostCode, new { placeholder = "Postcode", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PostCode)
                </div>
            </div>
        </div>
        <div class="mt-4">
            <h3>Social media</h3>
            <div class="form-row">
                <div class="form-group col-md-6 col-lg-3">
                    @Html.TextBoxFor(model => model.Facebook, new { placeholder = "Facebook", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Facebook)
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    @Html.TextBoxFor(model => model.LinkedIn, new { placeholder = "LinkedIn", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LinkedIn)
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    @Html.TextBoxFor(model => model.Twitter, new { placeholder = "Twitter", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Twitter)
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    @Html.TextBoxFor(model => model.BlogUrl, new { placeholder = "Blog", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BlogUrl)
                </div>
            </div>
        </div>
        if (Model.OutletId > 0)
        {
            <div class="mt-4">
                <h3>Contacts</h3>
                <div id="divOutlets" data-action="@Url.Action("GetOutlets", "PrivateOutlet", new { outletId = Model.OutletId })"
                     data-spinnercontainer="divOutlets" data-delete-action="@Url.Action("Delete", "PrivateOutlet")">
                    @Html.Partial("_InlineSpinnerPartial")
                </div>
            </div>
        }
        <div class="form-group col-md-12 mt-5 text-right">
            <button type="submit" data-spinnercontainer="btnSave" class="btn btn-primary px-5 py-2">
                Save
            </button>
        </div>
     }
</div>
@*<div class="mt-4">
        <h3>Postal address</h3>
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-4">
                @Html.TextBoxFor(model => model.PostalAddressLine1, new { placeholder = "Postal address line 1", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostalAddressLine1)
            </div>
            <div class="form-group col-md-6 col-lg-4">
                @Html.TextBoxFor(model => model.PostalAddressLine2, new { placeholder = "Postal address line 2", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostalAddressLine2)
            </div>
            <div class="col-md-6 col-lg-4 select-container">
                @{
                    List<SelectListItem> postalContinents = new List<SelectListItem>();
                    foreach (var item in (List<Continent>)ViewBag.Continents)
                    {
                        postalContinents.Add(new SelectListItem
                        {
                            Value = item.Id.ToString(),
                            Text = item.Name,
                            Selected = ViewBag.PostalContinentId == item.Id
                        });
                    }
                }
                @Html.DropDownList("PostalContinentId", postalContinents, "Postal continent", new { @class = "form-control" })
            </div>
            <div class="col-md-6 col-lg-3 select-container">
                @{
                    List<SelectListItem> postalCountries = new List<SelectListItem>();
                    foreach (var item in (List<Country>)ViewBag.Countries)
                    {
                        postalCountries.Add(new SelectListItem
                        {
                            Value = item.Id.ToString(),
                            Text = item.Name,
                            Selected = Model.PostalCountryId == item.Id
                        });
                    }
                }
                @Html.DropDownListFor(m => m.PostalCountryId, postalCountries, "Postal country", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostalCountryId)
            </div>
            <div class="col-md-6 col-lg-3 select-container">
                @{
                    List<SelectListItem> postalStates = new List<SelectListItem>();
                    if (ViewBag.States != null)
                    {
                        foreach (var item in (List<State>)ViewBag.States)
                        {
                            postalStates.Add(new SelectListItem
                            {
                                Value = item.Id.ToString(),
                                Text = item.Name,
                                Selected = Model.PostalStateId == item.Id
                            });
                        }
                    }
                }
                @Html.DropDownListFor(m => m.PostalStateId, postalStates, "Postal state", new { @class = "form-control" })
            </div>
            <div class="col-md-6 col-lg-3 select-container">
                @{
                    List<SelectListItem> PostalCities = new List<SelectListItem>();
                    if (ViewBag.States != null)
                    {
                        foreach (var item in (List<City>)ViewBag.Cities)
                        {
                            PostalCities.Add(new SelectListItem
                            {
                                Value = item.Id.ToString(),
                                Text = item.Name,
                                Selected = Model.PostalCityId == item.Id
                            });
                        }
                    }
                }
                @Html.DropDownListFor(m => m.PostalCityId, PostalCities, "Postal city", new { @class = "form-control" })
            </div>
            <div class="col-md-6 col-lg-3 select-container">
                @Html.TextBoxFor(m => m.PostCode, new { placeholder = "Postcode", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostCode)
            </div>
        </div>

    </div>*@