﻿@model Medianet.Contacts.Web.ViewModels.PrivateOutlet.PrivateOutletViewModel

@{
    ViewBag.Title = "Private Outlets";
}
@section Javascript
{
    @Scripts.Render("~/bundles/privatedata")
    <script type="text/javascript">
        var _subjectGroups = @Html.Raw(Json.Encode(@ViewBag._subjectGroups));
        var _languages = @Html.Raw(Json.Encode(ViewBag.WorkingLanguages));

        var _subjects = @Html.Raw(Json.Encode(@Model.Subjects));
        var _selectedLanguages = @Html.Raw(Json.Encode(Model.WorkingLanguages));
    </script>
}

<div class="d-flex align-items-end justify-content-between">
    <h2 class="mb-0">@Html.Label((Model.OutletId > 0 ? "Edit" : "Add") + " Private Outlet")</h2>
</div>
<div id="divPrivateData" class="card mt-3 mb-4 mb-xl-5">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                @Html.Partial("_UpdatePartial")
            </div>
        </div>
    </div>
</div>