﻿@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel
@{
    ViewBag.Title = "Manage private records";
}
@section Javascript
{
    @Scripts.Render("~/bundles/privatedata")
}
<div class="d-flex flex-column flex-lg-row align-items-start justify-content-between">
    <div class="mb-3 mb-lg-0">
        <h2 class="mb-0">Manage Private Records</h2>
    </div>
    <div class="d-flex flex-wrap justify-content-end actionBtns">
        <a class="d-flex badge badge-pill badge-primary" href="@Url.Action("Edit")">
            <i class="fas fa-building"></i>
            <span class="align-self-start m-1">Add private outlet</span>
        </a>
        <a class="d-flex badge badge-pill badge-primary ml-3" href="@Url.Action("Edit", "PrivateContact")">
            <i class="fas fa-user"></i>
            <span class="align-self-start m-1">Add Private Contact</span>
        </a>
    </div>
</div>

<div class="card mt-3 mb-4 mb-xl-5">
    <div class="card-body">
        <div id="divOutlets" class="card-body" data-spinnercontainer="divOutlets" data-delete-action="@Url.Action("Delete", "PrivateOutlet")">
            @Html.Partial("_GridPartial", Model)
        </div>
    </div>
</div>
