﻿@using Medianet.Contacts.Wcf.DataContracts.DTO

@if (Model.Pagination.ResultCount > 0)
{
    <div data-search-action-bar>
        <div class="d-flex flex-wrap justify-content-end actionBtns">
            <a class="d-flex mr-1 mr-sm-0 mb-2 badge badge-pill badge-primary" href="#" data-save-search>
                <i class="fas fa-fw fa-star"></i>
                <span class="align-self-start m-1">save search</span>
            </a>
            <a class="d-flex mr-1 mr-sm-0 ml-sm-1 ml-lg-3 mb-2 deleteRecords badge badge-pill badge-primary" href="#">
                <i class="fas fa-fw fa-times"></i>
                <span class="align-self-start m-1">remove records</span>
            </a>
            @if (Model.Expandable())
            {
                <a class="d-flex mr-1 mr-sm-0 ml-sm-1 ml-lg-3 mb-2 badge badge-pill badge-primary" href="@Url.Action("ExpandAll", "Search", new { Advanced = Model.AdvancedSearch != null })">
                    <i class="fas fa-fw fa-expand-arrows"></i>
                    <span class="align-self-start m-1">expand outlets</span>
                </a>
            }
            <a class="d-flex ml-sm-1 ml-lg-3 mb-2 badge badge-pill badge-primary" href="#" data-addlist-url="@Url.Action("Create", "List")" data-type="@PopupType.Search" data-search-page="true">
                <i class="fas fa-fw fa-bars"></i>
                <span class="align-self-start m-1">save list</span>
            </a>
        </div>
    </div>
}