﻿<div class="row mt-2 mt-sm-5">
    <div class="col text-danger d-none advSearchValidationError">
        You have not entered any search criteria.
    </div>
    <div class="col text-right">
        <button type="button" class="btn btn-secondary p-2 mr-3" role="reset">CLEAR</button>
        <a id="search-button" class="btn btn-primary px-5 py-2" tabindex="" role="submit">SEARCH</a>
    </div>
</div>