﻿@using Medianet.Contacts.CSharp.ExtensionMethods
@using Medianet.Contacts.Wcf.DataContracts.DTO
@using Medianet.Contacts.Web.Common.BO
@using Medianet.Contacts.Web.Common.Util

@model Medianet.Contacts.Web.ViewModels.AdvancedSearchViewModel

@using (Html.BeginForm("Advanced", "Search", new { id = "" }, FormMethod.Post, new { @class = "collapsible", @id = "AdvancedForm", autocomplete = "off", data_oma_outlet_recordtype = (int)RecordType.OmaOutlet }))
{
    <div id="advPeople" class="mt-5">
        <div class="form-row">
            <div class="form-group col hasTooltip">
                @Html.TextBoxFor(m => m.SearchText, new { placeholder = "Search contacts, outlets or keywords", @class = "form-control" })
                <span data-toggle="tooltip" data-placement="top" data-html="true" title="To search &lt;b&gt;Keywords&lt;&#47;b&gt; type in the keywords and select 'Search'. For keywords together, include quote marks around the terms. Eg. &#34;climate change&#34;&lt;br&gt;
                                For &lt;b&gt;Geographic&lt;&#47;b&gt; searches, use the 'OR' operator between suburbs. Eg.  Bendigo OR Ballarat">
                    <i class="fa fa-info-circle"></i>
                </span>
            </div>
        </div>
    </div>
    <div id="advPeople" class="mt-4">
        <h3>Contact</h3>
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-4">
                @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full name", @class = "form-control" })
            </div>
            <div class="form-group col-md-6 col-lg-4 hasTooltip">
                @Html.TextBoxFor(m => m.JobTitle, new { placeholder = "Job title", @class = "form-control" })
                <span data-toggle="tooltip" data-placement="top" title="Find people by their job title, e.g. enter 'Environment' to find all environment writers, editors and producers.">
                    <i class="fa fa-info-circle"></i>
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    <input name="SelectedPositions" type="text" id="SelectedPositions" data-is-token-input="true" class="form-control columnInput" />
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    <input name="SelectedCSubjects" type="text" id="SelectedCSubjects" data-is-token-input="true"
                           class="form-control columnInput" data-group-filter-id="" data-group-filter-name="" />
                </div>
                <div class="tokenInput-btn-container">
                    <i class="fal fa-sliders-h" aria-hidden="true"></i>
                    <input type="button" class="dropdown btnFilter" name="searchFilter" title="Filter by group"
                           data-for="SelectedCSubjects" tabindex="-1">
                    <div class="position-relative">
                        @Html.Partial("_SubjectGroupsDropdown", Model.SubjectGroups)
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    @Html.TextBoxFor(m => m.SelectedCContinents, new { id = "SelectedCContinents", @class = "form-control hidden", data_is_token_input = "true" })
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    @Html.TextBoxFor(m => m.SelectedCCountries, new { id = "SelectedCCountries", @class = "form-control hidden", data_is_token_input = "true" })
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    @Html.TextBoxFor(m => m.SelectedCStates, new { id = "SelectedCStates", @class = "form-control hidden", data_is_token_input = "true" })
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    @Html.TextBoxFor(m => m.SelectedCCities, new { id = "SelectedCCities", @class = "form-control hidden", data_is_token_input = "true" })
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                @Html.TextBoxFor(m => m.SelectedCPostCodes, new { placeholder = "Postcode", @class = "form-control", autocomplete = "off" })
            </div>
            <div class="form-group col-md-6 col-lg-4 select-container">
                @Html.DropDownListFor(m => m.ContactInfluencerScore, Model.MediaInfluencerScores,null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="form-group col-md-4 col-lg-4">
                @Html.CheckBoxFor(m => m.PrimaryNewsContactOnly, new { @default = "false" })
                <label for="PrimaryNewsContactOnly">Primary contacts only</label>
                <span class="tooltip-muted" data-toggle="tooltip" data-placement="top" title="Check this box to display only the person who has been identified as the primary contact for each outlet.">
                    <i class="fa fa-info-circle"></i>
                </span>
            </div>
            <div class="form-group col-md-4 col-lg-4">
                @Html.CheckBoxFor(m => m.ExcludePoliticians, new { @default = "true" })
                <label for="ExcludePoliticians">Exclude politicians</label>
            </div>
            <div class="form-group col-md-4 col-lg-4">
                @Html.CheckBoxFor(m => m.ExcludeOutOfOffice, new { @default = "false" })
                <label for="ExcludeOutOfOffice">Exclude Out of Office</label>
                <span class="tooltip-muted" data-toggle="tooltip" data-placement="top" title="Exclude any contacts who are currently listed as Out of Office from search results.">
                    <i class="fa fa-info-circle"></i>
                </span>
            </div>
        </div>
    </div>

    <div id="advOutlet" class="mt-4">
        <h3>Outlet</h3>
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-4 hasTooltip">
                @Html.TextBoxFor(m => m.OutletName, new { placeholder = "Outlet name", @class = "form-control", autocomplete = "off" })
                <span data-toggle="tooltip" data-placement="top" title="You can search multiple outlets by separating them with ‘OR’, Sydney Morning Herald OR The Daily Telegraph.">
                    <i class="fa fa-info-circle"></i>
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    <input name="SelectedMediaTypes" type="text" id="SelectedMediaTypes" data-is-token-input="true" class="form-control columnInput" />
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    <input name="SelectedOSubjects" type="text" id="SelectedOSubjects" data-is-token-input="true"
                           class="form-control columnInput" data-group-filter-id="" data-group-filter-name="" />
                </div>
                <div class="tokenInput-btn-container">
                    <i class="fal fa-sliders-h" aria-hidden="true"></i>
                    <input type="button" class="dropdown btnFilter" name="searchFilter" title="Filter by group"
                           data-for="SelectedOSubjects" tabindex="-1">
                    <div class="position-relative">
                        @Html.Partial("_SubjectGroupsDropdown", Model.SubjectGroups)
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    <input name="SelectedFrequencies" type="text" id="SelectedFrequencies" data-is-token-input="true" class="form-control columnInput" />
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        @Html.TextBoxFor(m => m.OutletCirculationMin, new { placeholder = "Min circulation", @class = "form-control" })
                    </div>
                    <div class="form-group col-12 col-md-6">
                        @Html.TextBoxFor(m => m.OutletCirculationMax, new { placeholder = "Max circulation", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    <input name="SelectedLanguages" type="text" id="SelectedLanguages" data-is-token-input="true" class="form-control columnInput" />
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                @Html.TextBoxFor(m => m.OutletStationFrequencyList, new { placeholder = "Station frequency", @class = "form-control" })
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    @Html.TextBoxFor(m => m.SelectedOContinents, new { id = "SelectedOContinents", @class = "form-control hidden", data_is_token_input = "true" })
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    @Html.TextBoxFor(m => m.SelectedOCountries, new { id = "SelectedOCountries", @class = "form-control hidden", data_is_token_input = "true" })
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    @Html.TextBoxFor(m => m.SelectedOStates, new { id = "SelectedOStates", @class = "form-control hidden", data_is_token_input = "true" })
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <div class="searchInput">
                    @Html.TextBoxFor(m => m.SelectedOCities, new { id = "SelectedOCities", @class = "form-control hidden", data_is_token_input = "true" })
                </div>
                <span class="tokenInput-btn-container">
                    <i class="fa fa-caret-down"></i>
                    <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1">
                </span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                @Html.TextBoxFor(m => m.SelectedOPostCodes, new { placeholder = "Postcode", @class = "form-control", autocomplete = "off" })
            </div>
            <div class="col-12 form-check form-check-inline flex-wrap">
                <div class="form-group mr-4">
                    @Html.CheckBoxFor(m => m.IncludeMetroOutlets, new { @default = "false" })
                    <label for="IncludeMetroOutlets">Metro</label>
                </div>
                <div class="form-group mr-4">
                    @Html.CheckBoxFor(m => m.IncludeRegionalOutlets, new { @default = "false" })
                    <label for="IncludeRegionalOutlets">Regional</label>
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.IncludeSuburbanOutlets, new { @default = "false" })
                    <label for="IncludeSuburbanOutlets">Suburban</label>
                </div>
            </div>
        </div>
    </div>

    <div id="advShowOnlyResult" class="mt-4">
        <h3>Inclusions & Exclusions</h3>
        <div class="form-row mt-3">
            <div class="col-12">
                <h4>Show</h4>
                <div class="form-check form-check-inline flex-wrap">
                    @foreach (var item in Enum.GetValues(typeof(ShowResultType)))
                    {
                        var value = ((ShowResultType)item).ToString();
                        var desc = EnumHelper.GetDescription((ShowResultType)Enum.Parse(typeof(ShowResultType), value));

                        <div class="form-group mr-4">
                            <input type="radio" name="RecordsToShow" displayname="@desc" @( ((int)Model.RecordsToShow) == ((int)item) ? "checked=\"checked\"" : "" )
                                   id="_RecordsToShow_@value" default="@(ShowResultType.A.ToString())" value="@value"
                                   data-selection-criteria-id="RecordsToShow" data-selection-criteria-class="RecordsToShow" />
                            <label for="_RecordsToShow_@value">@desc</label>
                        </div>
                    }
                </div>
                <h5>Prefers
                    <span class="small tooltip-muted" data-toggle="tooltip" data-placement="top" title="Selecting any of the below will only display results with the selected preferences in their profile.">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </h5>
                <div class="form-check form-check-inline flex-wrap">
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.PrefersEmail, new { @default = "false" })
                        <label for="PrefersEmail" class="forCheckbox">Email</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.PrefersMail, new { @default = "false" })
                        <label for="PrefersMail">Mail</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.PrefersPhone, new { @default = "false" })
                        <label for="PrefersPhone">Phone</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.PrefersMobile, new { @default = "false" })
                        <label for="PrefersMobile">Mobile</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.PrefersTwitter, new {@default = "false"})
                        <label for="PrefersTwitter">Twitter</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.PrefersLinkedIn, new { @default = "false" })
                        <label for="PrefersLinkedIn">LinkedIn</label>
                    </div>

                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.PrefersFacebook, new { @default = "false" })
                        <label for="PrefersFacebook">Facebook</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.PrefersInstagram, new { @default = "false" })
                        <label for="PrefersInstagram">Instagram</label>
                    </div>
                </div>
                <h5>Only results with
                    <span class="small tooltip-muted" data-toggle="tooltip" data-placement="top" title="Selecting any of the below will only display results with the selected data in their profile.">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </h5>
                <div class="form-check form-check-inline flex-wrap">
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.ShowOnlyWithTwitter, new {@default = "false"})
                        <label for="ShowOnlyWithTwitter">Twitter</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.ShowOnlyWithLinkedIn, new {@default = "false"})
                        <label for="ShowOnlyWithLinkedIn">LinkedIn</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.ShowOnlyWithFacebook, new {@default = "false"})
                        <label for="ShowOnlyWithFacebook">Facebook</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.ShowOnlyWithInstagram, new {@default = "false"})
                        <label for="ShowOnlyWithInstagram">Instagram</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.ShowOnlyWithYouTube, new {@default = "false"})
                        <label for="ShowOnlyWithYouTube">YouTube</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.ShowOnlyWithSnapchat, new {@default = "false"})
                        <label for="ShowOnlyWithSnapchat">Snapchat</label>
                    </div>
                </div>
                <div class="form-check form-check-inline flex-wrap">
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.ShowOnlyWithEmail, new { @default = "false" })
                        <label for="ShowOnlyWithEmail">Email</label>
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.ShowOnlyWithPostalAddress, new { @default = "false" })
                        <label for="ShowOnlyWithPostalAddress">Postal address</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col-12">
                <h4>Exclusion</h4>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ExcludeKeywords, new { placeholder = "Exclude keywords", @class = "form-control", autocomplete = "off" })
                </div>
                <div class="form-check form-check-inline flex-wrap">
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.ExcludeOPS, new { @default = "false" })
                        <label for="ExcludeOPS">Exclude offices, programmes, supplements</label>
                    </div>
                    <div class="form-group mr-4">
                        @Html.CheckBoxFor(m => m.ExcludeFinanceInst, new { @default = "true" })
                        <label for="ExcludeFinanceInst">Exclude financial institutes</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_AdvancedSearchFormButtons")
}
