﻿@model List<Medianet.Contacts.Web.ViewModels.List.ListContactReplacementViewModel>

@if (Model != null) {
    @*<section class="preSearchSectionBottom">
        <div class="searchSectionHeader">
            <span>Living List Updates</span>
        </div>
        <div class="sectionBody">*@
            if (Model.Count > 0) {
                <table style="width: 100%; text-align:left;">
                    <tr class="living_list_updates_header">
                        <td class="">Contact/Outlet Deleted</td>
                        <td class="">List</td>
                    </tr>
                    @foreach (var deletion in Model) {
                        <tr class="living_list_updates_row">
                            <td>
                                @if (deletion.ContactDeletedName == "") {
                                    <span class="living_list_updates_outlet">@(deletion.OutletDeletedName)</span>
                                } else {
                                    <span class="living_list_updates_contact">@(deletion.ContactDeletedName)</span>
                                }
                            </td>
                            <td>
                                <a href="/List?ListId=@(deletion.ListId.ToString())"><span class="living_list_updates_list_name">@(deletion.ListName)</span></a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else {
                <span>You have no living list updates.</span>
            }
        @*</div>
        <div class="sectionFooter" style="margin-bottom:10px;">
            <span></span>
        </div>
    </section>*@
}
