﻿@model Medianet.Contacts.Web.GeneralService.MediaStatistics

@if (Model != null) {
    <section class="preSearchSectionBottom">
        <div class="searchSectionHeader">
            <span>Media Statistics</span>
        </div>
        <div class="sectionBody">
            
            <table style="width: 100%; text-align:center;">
                <tr>
                    <td class="media_stats_header media_stats_right_border media_stats_bottom_border" colspan="3">Australasian</td>
                    <td class="media_stats_header media_stats_bottom_border">Global</td>
                </tr>
                <tr>
                    <td class="media_stats_right_border media_stats_data">
                        <span class="media_stats_label">Year to date</span><br/>
                        <span class="media_stats_number">@String.Format("{0:#,0}", Model.AustralasiaYearToDate)</span>
                    </td>
                    <td class="media_stats_right_border media_stats_data">
                        <span class="media_stats_label">Today</span><br/>
                        <span class="media_stats_number">@String.Format("{0:#,0}", Model.AustralasiaToday)</span>
                    </td>
                    <td class="media_stats_right_border media_stats_data">
                        <span class="media_stats_label">Last Week</span><br/>
                        <span class="media_stats_number">@String.Format("{0:#,0}", Model.AustralasiaLastWeek)</span>
                    </td>
                    <td class="media_stats_data">
                        <span class="media_stats_label">Year to date</span><br/>
                        <span class="media_stats_number">@String.Format("{0:#,0}", Model.InternationalYearToDate)</span>
                    </td>
                </tr>
            </table>

        </div>
        <div class="sectionFooter">
            <span></span>
        </div>
    </section>
}
