﻿@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel

@{ Html.RenderPartial("_ResultsCountPartial", Model); }

@{ Html.RenderPartial("_PaginationPartial", Model); }

<table id="rows">
    <tbody>
        @if (Model != null && Model.Pagination.Results != null) {
            Html.RenderPartial("_RowPartial", Model);
        }
    </tbody>
</table>
