﻿@using System.Collections.Generic
@using System.Linq
@using Medianet.Contacts.CSharp.ExtensionMethods

@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel

<div id="result-navigation">
    <div id="pagination">
        @Html.HiddenFor(m => Model.Pagination.NumberOfPages, new { id = "NumberOfPages" })
        @Html.HiddenFor(m => Model.Pagination.ResultCount, new { id = "ResultCount" })
        @Html.HiddenFor(m => Model.Pagination.Page, new { id = "Page" })
        @Html.HiddenFor(m => Model.Pagination.PageSize, new { id = "PageSize" })
        @Html.HiddenFor(m => Model.Pagination.CurrentPageOnly, new { id = "CurrentPageOnly" })

        @if (Model.Pagination.ResultCount > 0) {
            <div class="pager d-flex justify-content-between align-items-center">
                <div class="clearAll d-none d-lg-flex">
                    &nbsp;
                </div>
                <div class="pageNav">
                    @if (Model.Pagination.NumberOfPages > 1)
                    {
                        <button class="btn prevPage" @(Model.Pagination.Page > 1 ? "" : "disabled") data-page="@((Model.Pagination.Page - 1).ToString())"><i class="far fa-angle-left"></i></button>
                        @:<span>NEXT PAGE</span>
                        <button class="btn nextPage" @(Model.Pagination.Page < Model.Pagination.NumberOfPages ? "" : "disabled") data-page="@((Model.Pagination.Page + 1).ToString())"><i class="far fa-angle-right"></i></button>
                    }
                </div>
                <div class="d-flex align-items-end">
                    <span>SHOW</span>
                    @foreach (var size in Model.Pagination.PageSizes)
                {
                    if (size == Model.Pagination.PageSize)
                    {
                            <button class="btn pageSize selected" disabled>@size.ToString()</button>
                        }
                        else
                        {
                            <button class="btn pageSize" data-page-size="@size.ToString()">@size.ToString()</button>
                        }
                    }
                    <div class="d-inline-block ml-4">
                        <span>PAGE </span>
                        @Html.TextBoxFor(m => m.Pagination.Page, new { @class = "form-control goToPage" }) of @Model.Pagination.NumberOfPages.ToString()
                    </div>
                </div>
            </div>
        }
    </div>
</div>