﻿@using Medianet.Contacts.Wcf.DataContracts.DTO
@using Medianet.Contacts.Web.Common.Model
@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel
<script type="text/javascript">
    var _subjects = @Html.Raw(Json.Encode(@ViewBag._subjects));
    var _subjectGroups = @Html.Raw(Json.Encode(@ViewBag._subjectGroups));
    var _locations = @Html.Raw(Json.Encode(@ViewBag._locations));
    var _mediaTypes = @Html.Raw(Json.Encode(@ViewBag._mediaTypes));
    var _positions = @Html.Raw(Json.Encode(@ViewBag._positions));
    var _australiaCountry = '@((int)Countries.Australia)';
</script>
<div class="card text-center mb-3 mb-xl-4 quickSearchCard">
    <div class="card-body pt-2">
        @using (Html.BeginForm("", "Search", FormMethod.Get, new
        {
            @class = "collapsible",
            @id = "QuickForm",
            autocomplete = "off",
            data_oma_outlet_recordtype = (int)RecordType.OmaOutlet
        }))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-row">
                        <div class="col-12 mt-3 hasTooltip">
                            @Html.TextBoxFor(m => m.SearchText, new { placeholder = "Search contacts, outlets or keywords", @class = "form-control", autocomplete = "off" })
                            <span data-toggle="tooltip" data-placement="top" data-html="true" title="To search for a &lt;b&gt;Contact&lt;&#47;b&gt; or &lt;b&gt;Outlet&lt;&#47;b&gt;, type into the Search field and select from the drop down menu.&lt;br&gt;
                                To search &lt;b&gt;Keywords&lt;&#47;b&gt; type in the keywords and select 'Search'. For keywords together, include quote marks around the terms. Eg. &#34;climate change&#34;&lt;br&gt;
                                For &lt;b&gt;Geographic&lt;&#47;b&gt; searches, use the 'OR' operator between suburbs. Eg.  Bendigo OR Ballarat">
                                <i class="fa fa-info-circle"></i>
                            </span>
                            @Html.HiddenFor(m => m.SelectedId)
                            @Html.HiddenFor(m => m.SelectedRecordType)
                        </div>
                        <div class="col-lg-7 mt-3">
                            <div class="searchInput">
                                @Html.TextBoxFor(m => m.Subjects, new { id = "Subjects", data_group_filter_id = "", data_group_filter_name = "", @class = "form-control hidden" })
                            </div>
                            <div class="tokenInput-btn-container">
                                <i class="fal fa-sliders-h" aria-hidden="true"></i>
                                <input type="button" class="dropdown btnFilter" name="searchFilter" title="Filter by group"
                                        data-for="Subjects" tabindex="-1">
                                <div class="position-relative">
                                    @Html.Partial("_SubjectGroupsDropdown", new List<SubjectGroup>(ViewBag.SubjectGroups))
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mt-3 select-container">
                            @{
                                List<SelectListItem> countryItems = new List<SelectListItem>();
                                foreach (var item in Enum.GetValues(typeof(Countries)))
                                {
                                    countryItems.Add(new SelectListItem
                                    {
                                        Value = ((int)item).ToString(),
                                        Text = Medianet.Contacts.Wcf.DataContracts.DTO.EnumHelper.GetDescription((Countries)Enum.Parse(typeof(Countries), item.ToString())),
                                        Selected = Model.Country.ToString() == item.ToString()
                                    });
                                }
                            }
                            @Html.DropDownListFor(m => m.CountryID, countryItems, new { @class = "form-control", id = "Country" })
                        </div>
                        <div class="col-lg-4 mt-3 select-container">
                            <div class="searchInput">
                                @Html.TextBoxFor(m => m.Locations, new { id = "Locations", @class = "form-control hidden" })
                            </div>
                            <span class="tokenInput-btn-container">
                                <i class="fa fa-caret-down"></i>
                                <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1" />
                            </span>
                        </div>
                        <div class="col-lg-4 mt-3">
                            <div class="searchInput">
                                @Html.TextBoxFor(m => m.MediaTypes, new { id = "MediaTypes", @class = "form-control hidden" })
                            </div>
                            <span class="tokenInput-btn-container">
                                <i class="fa fa-caret-down"></i>
                                <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1" />
                            </span>
                        </div>
                        <div class="col-lg-4 mt-3 select-container">
                            <div class="searchInput">
                                @Html.TextBoxFor(m => m.Positions, new { id = "Positions", @class = "form-control hidden" })
                            </div>
                            <span class="tokenInput-btn-container">
                                <i class="fa fa-caret-down"></i>
                                <input type="button" class="dropdown btnShowAll" name="showAll" title="Show all" tabindex="-1" />
                            </span>
                        </div>
                        <div class="col-lg-6 col-xl-8 mt-3 text-left">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary" data-search-context="@SearchContext.Both.ToString()">Both</button>
                                @Html.HiddenFor(m => m.Context)
                                <button type="button" class="btn btn-secondary" data-search-context="@SearchContext.People.ToString()">Contacts</button>
                                <button type="button" class="btn btn-secondary" data-search-context="@SearchContext.Outlet.ToString()">Outlets</button>
                            </div>
                            <br class="d-block d-xl-none">
                            @Html.ActionLink("Advanced Search", "Advanced", "Search", null, new { @class = "btn btn-link text-activeBlue" })
                        </div>
                        <div class="col-lg-6 col-xl-4 mt-3 text-right text-nowrap">
                            <button class="btn btn-secondary mr-1 mr-xl-2" id="btnClearQuickSearch" type="button">CLEAR</button>
                            <button class="btn btn-primary px-2 px-xl-4" type="submit">SEARCH</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4 text-danger text-left d-none" id="searchValidationError">
                            You have not entered any search criteria.
                        </div>
                    </div>
                </div>
            </div>
                                }
    </div>
</div>