﻿@using Medianet.Contacts.Web.ViewModels.AllSavedSearches
@model List<SavedSearchViewModel>
@if (Model == null || !Model.Any())
{
    <h2 class="mb-3">No records found</h2>
}
else
{
    <table class="table allGrey">
        <thead>
            <tr>
                <th scope="col">Search name</th>
                <th scope="col">User</th>
                <th scope="col">Created date</th>
                <th scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var search in Model)
                {
                <tr>
                    <td>
                        @if (search.IsQuickSearch)
                        {
                            @Html.ActionLink(search.Name, "Index", "Search", new { id = search.SearchId }, null)
                        }
                        else
                        {
                            @Html.ActionLink(search.Name, "Advanced", "Search", new { id = search.SearchId }, null)
                        }
                    </td>
                    <td>@search.UserName</td>
                    <td>@search.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@string.Format("{0:N0}", search.ResultsCount)</td>
                </tr>
            }
        </tbody>
    </table>
}