﻿@using Medianet.Contacts.Web.ViewModels.Search
@using Medianet.Contacts.Wcf.DataContracts.DTO
@model List<SearchLogViewModel>
@if (Model == null || !Model.Any())
{
    <h2 class="mb-3">No records found</h2>
}
else
{
    <table class="table allGrey">
        <thead>
            <tr>
                <th scope="col">Search criteria</th>
                <th scope="col" class="text-right">Results</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string criteria = item.SearchCriteria.Replace("&", ", ").Trim(", ".ToCharArray());
                string actionName = item.SearchType == (int)SearchType.Advanced ? "Advanced" : item.SearchType == (int)SearchType.Outlet ? "Expand" : "Index";
                <tr>
                    <td class="pr-0">
                        <a href="@(item.SearchType == (int)SearchType.Outlet ?  Url.Action(actionName, "Search", new { outletid = item.OutletId, type = item.OutletType, Advanced = false }) :
                                Url.Action(actionName, "Search", new { id = "RS" + item.Id }))">
                            @string.Concat(criteria.Take(27))<span class="collapse inline" id="@("extra-criteria" + item.Id)">@string.Concat(criteria.Skip(80))</span>
                            @if (criteria.Length > 27)
                            {
                                <span> ...</span>
                            }
                        </a>
                    </td>
                    <td class="text-right">@(item.ResultsCount.HasValue ? string.Format("{0:N0}", item.ResultsCount ?? 0) : "-")</td>
                </tr>
            }
        </tbody>
    </table>
}