﻿@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel

@if (Model.Pagination.ResultCount > 0)
{
    <h2 id="result-message" class="mb-1"><span id="ResultCountDisplay">@(Model.Pagination.ResultCount.ToString("N0"))</span> search results</h2>
}
else
{
    <h2 id="result-message" class="mb-3">No results found</h2>
}
