﻿@using Medianet.Contacts.Web.Common.Util;
@using Medianet.Contacts.Wcf.DataContracts.DTO;

@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel

@{
    var recentDate = DateTime.Now.AddDays(-60);
}

@foreach (var item in Model.Pagination.Results)
{
    <tr class="searchRow @(item.Pinned ? "pinned" : "")" data-current-search="@item.BelongsToCurrentSearch">
        <td>
            <div class="d-flex align-self-center py-1 avatar-container">
                @{
                    var logoFile = string.Empty;

                    if (!string.IsNullOrEmpty(item.LogoFilename))
                    {
                        logoFile = new Medianet.Contacts.Web.Controllers.OutletController().GetOutletLogo(item.LogoFilename);
                    }

                    if (!string.IsNullOrEmpty(logoFile))
                    {
                        <img class="avatar-outlet" src="@(logoFile)" alt="Outlet logo">
                    }
                    else
                    {

                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-store-alt fa-stack-1x fa-inverse"></i>
                        </span>
                    }
                }
            </div>
            @if (ViewBag.IsSearchPage != false)
            {
                <input type="checkbox" name="checkbox-outlet" title="Select" @(item.Selected ? "checked=\"checked\"" : "") id="@item.ToClientString()" data-record="@item.ToClientString()" />
            }
            <label class="mt-1" for="@item.ToClientString()">
                @if (@item.IsGeneric)
                {
                    @Html.Label(item.OutletName, new { @class = "rtbOutlet" + (item.HasPrivateOutlet ? " rtbPrivate" : "") })
                }
                else
                {
                    if (!string.IsNullOrWhiteSpace(@item.OutletID) && !item.OutletID.Equals("0"))
                    {
                        <a href="@Url.Action("Index", "Outlet", new {Id = (item.OutletID ?? string.Empty).Trim(), recordType = (int) item.OutletType})"
                           class="rtbOutlet@(item.HasPrivateOutlet ? " rtbPrivate" : "")"
                           data-toggle="popover" data-html="true" data-all-twitter-handles="@item.Twitter"
                           data-outletId="@item.OutletID" data-recordType="@(Convert.ToInt32(item.OutletType))"
                           data-action="@(Url.Action("OutletPreview", "Outlet"))">
                            @Html.PrivateIconHelper(item.OutletType)
                            <b>@item.OutletName</b>
                        </a>

                        if (item.IsOutlet && item.CreatedDate > recentDate)
                        {
                            <i class="text-orange font-weight-bold ml-2">NEW</i>
                        }
                        if (!string.IsNullOrWhiteSpace(item.OutletPriorityNotice))
                        {
                            <span data-toggle="tooltip" data-placement="left" title="@item.OutletPriorityNotice">
                             <i class="fas fa-bell text-orange"></i>
                            </span>
                        }
                    }
                }
            </label>
        </td>
        <td>
            @if (!item.IsContact)
            {
                if (!string.IsNullOrWhiteSpace(item.ContactDisplay))
                {
                    <div class="d-flex align-self-center py-1 avatar-container"> </div>
                    <a href="@Url.Action("Expand", "Search", new { outletid = (item.OutletID ?? string.Empty).Trim(), type = Convert.ToInt32(item.Type), Advanced = Model.AdvancedSearch != null })" 
                       data-toggle="tooltip" data-placement="left" title="@item.FullName" class="rtbName@(item.HasPrivateContact ? " rtbPrivate" : "")">
                        @item.ContactDisplay
                    </a>
                }
            }
            else
            {
                if (item.Twitter.HasValue())
                {
                    <div class="avatar-container">
                        <img id="profileImage" class="rounded-circle img-fluid mt-2 mb-1" src="/Content/Images/user_profile_avatar.png" width="44" height="44" alt="Contact avatar"
                             data-twitterhandle="@item.Twitter" />
                    </div>
                }
                else
                {
                    <div class="d-flex align-self-center py-1 avatar-container">
                        <div class="avatar avatar-xs my-1">@Html.NameToInitials(item.FullName)</div>
                    </div>
                }
                <a href="@Url.Action("Index", "Contact", new { outletId = (item.OutletID ?? string.Empty).Trim(), contactId = (item.ContactIds ?? string.Empty).Trim(), recordType = (int)item.ContactType })"
                   class="rtbName@(item.HasPrivateContact ? " rtbPrivate" : "")"
                   data-toggle="popover" data-html="true"
                   data-contactId="@item.ContactIds" data-outletId="@item.OutletID" data-recordType="@(Convert.ToInt32(item.ContactType))"
                   data-action="@(Url.Action("ContactPreview", "Contact"))">
                    @if (!string.IsNullOrWhiteSpace(item.ContactDisplay))
                    {
                        @Html.PrivateIconHelper(item.ContactType)
                    }
                    <b class="">@item.ContactDisplay</b>
                    @if (item.IsContact && item.CreatedDate > recentDate)
                    {
                        <i class="text-orange font-weight-bold">NEW</i>
                    }
                </a>
                if (!string.IsNullOrWhiteSpace(item.ContactPriorityNotice))
                {
                    <span data-toggle="tooltip" data-placement="left" title="@item.ContactPriorityNotice">
                        <i class="fas fa-bell text-orange"></i>
                    </span>
                }
                <br />
                <span class="d-block wordBreak">@item.JobTitle</span>

            }
        </td>



        <td class="">
            <table class="contactDetails">
                @if (item.MobileNumber.HasValue())
                {
                    <tr>
                        <td class="pl-0 pr-0 pt-0 pb-2" style="width:22px;"><i class="fas fa-fw fa-phone float-left mt-1 mr-1"></i></td>
                        <td class="pl-0 pr-0 pt-0 pb-2">@item.MobileNumber</td>
                    </tr>
                }
                else if (item.PhoneNumber.HasValue())
                {
                    <tr>
                        <td class="pl-0 pr-0 pt-0 pb-2" style="width:22px;"><i class="fas fa-fw fa-phone float-left mt-1 mr-1"></i></td>
                        <td class="pl-0 pr-0 pt-0 pb-2">@item.PhoneNumber</td>
                    </tr>
                }
                @if (item.EmailAddress.HasValue())
                {
                    <tr>
                        <td class="pl-0 pr-0 pt-0 pb-2" style="width:22px;"><i class="fas fa-fw fa-envelope float-left mt-1 mr-1"></i></td>
                        <td class="pl-0 pr-0 pt-0 pb-2"><a class="text-body wordBreak fitText" href="mailto:@(item.EmailAddress)">@item.EmailAddress</a></td>
                    </tr>
                }
                @if (item.CityName.HasValue())
                {
                    <tr>
                        <td class="pl-0 pr-0 pt-0 pb-2" style="width:22px;"><i class="fas fa-fw fa-map-marker-alt float-left mt-1 mr-1"></i></td>
                        <td class="pl-0 pr-0 pt-0 pb-2">@item.CityName@(item.StateName.HasValue() ? string.Format(", {0}", item.StateName) : "")</td>
                    </tr>
                }
                @if (GeneralHelper.IsOutOfOffice(item.ContactOooStartDate, item.ContactOooReturnDate))
                {
                    <tr>
                        <td class="pl-0 pr-0 pt-0 pb-2 text-orange" style="width:22px;"><i class="fas fa-fw fa-suitcase float-left mt-1 mr-1"></i></td>
                        <td class="pl-0 pr-0 pt-0 pb-2 text-orange">Out of Office</td>
                    </tr>
                }
            </table>
            @*@if (item.MobileNumber.HasValue())
            {
                <p class="mb-1"><i class="fas fa-fw fa-phone float-left mt-1 mr-1"></i> @item.MobileNumber</p>
            }
            else if (item.PhoneNumber.HasValue())
            {
                <p class="mb-1"><i class="fas fa-fw fa-phone float-left mt-1 mr-1"></i> @item.PhoneNumber</p>
            }
            @if (item.EmailAddress.HasValue())
            {
                <p class="mb-1">
                    <i class="fas fa-fw fa-envelope float-left mt-1 mr-1"></i>
                    <a class="text-body wordBreak fitText" href="mailto:@(item.EmailAddress)">@item.EmailAddress</a>
                </p>
            }
            @if (item.CityName.HasValue())
            {
                <p class="mb-0"><i class="fas fa-fw fa-map-marker-alt float-left mt-1 mr-1"></i>
                    @item.CityName@(item.StateName.HasValue() ? string.Format(", {0}", item.StateName) : "")
                </p>
            }
            @if (GeneralHelper.IsOutOfOffice(item.ContactOooStartDate, item.ContactOooReturnDate))
            {
                <p class="mt-1 mb-0 text-orange">
                    <i class="fas fa-fw fa-suitcase float-left mt-1 mr-1"></i> Out of Office
                </p>
            }*@
        </td>
        <td>@item.ProductTypeName</td>
        <td>
            @{
                var subjects = item.SubjectName.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                var tooLong = false;
                if (subjects.Length > 4)
                {
                    Array.Resize(ref subjects, 4);
                    tooLong = true;
                }
                <span data-toggle="tooltip" data-placement="left" title="@item.SubjectName">
                    @Html.Raw(string.Join(",<br>", subjects))
                    @if (tooLong)
                    {
                        <text>...</text>
                    }
                </span>
            }
        </td>
        <td class="actionBtns text-right text-nowrap">
            @if (ViewBag.IsSearchPage != false)
            {
                <button class="btn btn-sm btn-link btnPin p-0" data-toggle="tooltip" data-placement="left"  title="Pin"><i class="fa-thumbtack fa-fw @(item.Pinned ? "fas" : "fal") iconPin"></i></button>
                <button class="btn btn-sm btn-link btnDelete p-0" data-toggle="tooltip" data-placement="left"  data-remove="Remove Search Item" title="Remove"><i class="fal fa-times fa-fw"></i></button>
            }
            else
            {
                string editUrl = item.IsOutlet ? Url.Action("Edit", "PrivateOutlet", new { id = item.OutletID }) :
                    Url.Action("Edit", "PrivateContact", new { id = item.ContactId });

                <a class="btn btn-sm btn-link p-0" title="Edit @(item.IsOutlet ? "outlet" : "contact")" href="@editUrl">
                    <i class="fal fa-pencil fa-fw btn-link" aria-hidden="true"></i>
                </a>
                <button class="btn btn-sm btn-link btnDelete p-0" data-id="@((item.OutletID ?? "") + "," + (item.ContactId ?? ""))" 
                        data-confirm="Delete private record" data-confirm-text="@(item.IsOutlet ? item.OutletName : item.FullName)"
                        title="Delete @(item.IsOutlet ? "outlet" : "contact")">
                    <i class="fal fa-times fa-fw" aria-hidden="true"></i>
                </button>
            }
        </td>
    </tr>
                }