﻿@model Medianet.Contacts.Web.ViewModels.AllSavedSearches.SavedSearchViewModel
<div class="modal-content" data-spinnercontainer="frmSaveSearch">
    @using (Html.BeginForm("Save", "Search", FormMethod.Post, new { @id = "frmSaveSearch" }))
    {
        <div class="modal-header">
            <h4 class="modal-title">Save search</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="col-12">
                    @Html.HiddenFor(m => Model.SearchId)
                    @Html.HiddenFor(m => m.ResultsCount)
                    @Html.ValidationSummary(false, "", new { @class = " alert alert-danger d-none", id = "validationSummary" })
                </div>
                <div class="col-12">
                    <input type="radio" value="New" name="GroupType" id="NewGroup" checked />
                    <label for="NewGroup" class="mr-3">New group</label>
                    <input type="radio" value="Existing" name="GroupType" id="ExistingGroup" />
                    <label class="ml-4" for="ExistingGroup">Existing group</label>
                </div>
                <div class="form-group col-12 select-container">
                    @Html.TextBoxFor(m => m.Group.Name, new { @class = "form-control", placeholder = "New group name", required = "required" })
                    @Html.ValidationMessageFor(m => m.Group.Name)
                    @Html.DropDownListFor(m => m.Group.Id, Model.Groups, new { @class = "form-control" })
                </div>
                <div class="form-group col-12 mt-3">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Saved search name", required = "required" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group col-12">
                    <input type="radio" value="false" name="isPrivate" id="Public" @(!Model.IsPrivate ? "checked" : "") />
                    <label for="Public" class="mr-3">Public</label>
                    <input type="radio" value="true" name="isPrivate" id="Private" @(Model.IsPrivate ? "checked" : "") />
                    <label class="ml-4" for="Private">Private</label>
                    <span data-toggle="tooltip" data-placement="right" class="tooltip-muted"
                          title="Public indicates that all users at your company will be able to view and edit this search. Private indicates that this search can only be viewed and edited by you.">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </div>               
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary px-4" data-spinnercontainer="btnSaveSearch">Save</button>
        </div>
    }
</div>