﻿@using Medianet.Contacts.Web.ViewModels.AllSavedSearches
@using Medianet.Contacts.Wcf.DataContracts.DTO
@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel

@if (Model != null && Model.Pagination.Results != null)
{
    if (Model.NavigateBack)
    {
        <div class="position-absolute mt-2">
            <a class="smallCaps backToSearch" href="#" id="lnkBack">back</a>
        </div>
    }

    if (Model.AdvancedSearch == null)
    {
        <div id="searchHelpPopup" class="alert alert-warning alert-warning-search alert-dismissible d-none" role="alert">
            There's a new way to search! To get an <b>exact result</b>, simply start typing and select from the drop down when you've found what you're looking for.<br />
            To search by <b>keywords</b>, just type and then hit Enter. To find an <b>exact phrase</b>, use quote marks, eg "climate change".
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row mt-2 mt-sm-5">
            <div class="col-12">
                <div id="pnlQuickSearch" data-action="@Url.Action("QuickSearchPanel", "Search")">
                    @Html.Partial("~/Views/Search/_QuickSearchPanelPartial.cshtml", Model)
                </div>
            </div>
        </div>
    }

    <div class="card mb-4" @Html.Raw(Model.SearchId > 0 ? "data-searchid=" + Model.SearchId.ToString() : "")>
        <div class="card-body searchResultSection moveTop" data-spinnercontainer="searchResultSection" @(Model.AdvancedSearch != null ? "data-advancedsearch" : "")>
            <div class="d-flex flex-column flex-lg-row align-items-start justify-content-between py-3 mb-2 border-bottom">
                @{ Html.RenderPartial("_ResultsCountPartial", Model); }
                @{ Html.RenderPartial("_ActionBarPartial"); }
            </div>

            @if (Model.Pagination.Results.Count > 0)
            {
                Html.RenderPartial("_TablePartial", Model);
            }

            @{ Html.RenderPartial("_PaginationPartial", Model); }

            <div class="mt-3 pt-3 border-top">
                @{ Html.RenderPartial("_ActionBarPartial"); }
            </div>
        </div>
    </div>
                    }
                    else
                    {
                        if (Request.Params["mode"] != "new")
                        {
                            <div id="searchHelpPopup" class="alert alert-warning alert-warning-search alert-dismissible d-none" role="alert">
                                There's a new way to search! To get an <b>exact result</b>, simply start typing and select from the drop down when you've found what you're looking for.<br />
                                To search by <b>keywords</b>, just type and then hit Enter. To find an <b>exact phrase</b>, use quote marks, eg "climate change".
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="row mt-2 mt-sm-5" data-twitterimage-url="@Url.Action("UserTwitterImage", "Social")">
                                <div class="col-12 col-md-8">
                                    <div id="pnlQuickSearch" data-action="@Url.Action("QuickSearchPanel", "Search")">
                                        @Html.Partial("~/Views/Search/_QuickSearchPanelPartial.cshtml", Model)
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h5 class="card-title mb-4">Media Movements</h5>
                                            <div id="divMediaMovements" data-action="@Url.Action("GetMediaMovements", "Dashboard")">
                                                @Html.Partial("_InlineSpinnerPartial")
                                            </div>
                                            <div class="showMoreLess">
                                                @Html.ActionLink("more ...", "Index", "MediaMovements")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h5 class="card-title mb-3">Recently added</h5>
                                            <div class="row justify-content-around" id="divRecentlyAdded" data-action="@Url.Action("GetRecentlyAdded", "Dashboard")">
                                                @Html.Partial("_InlineSpinnerPartial")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h5 class="card-title">Recent lists</h5>
                                            <div id="divRecentLists" data-action="@Url.Action("GetRecentlyUpdatedLists", "Dashboard")">
                                                @Html.Partial("_InlineSpinnerPartial")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h5 class="card-title">Recent searches</h5>
                                            <div id="divRecentSearches" data-action="@Url.Action("GetRecentSearchList", "Search")">
                                                @Html.Partial("_InlineSpinnerPartial")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body" data-spinnercontainer="divResearchRequest">
                                            <h5 class="card-title mb-4">Research Request</h5>
                                            <p>What subject area or media type would you like our team to research?</p>
                                            <textarea autocomplete="off" class="form-control" id="txtReserchRequest" name="txtReserchRequest" placeholder="" type="text" value="" data-action="@Url.Action("RequestResearch", "Dashboard")"></textarea>
                                            <div class="col p-0 text-right"><button class="btn btn-primary mt-3" type="button" id="btnSubmitRequest">SUBMIT</button></div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h5 class="card-title mb-4 text-center">Database Updates</h5>
                                            <div class="d-flex justify-content-around text-center" id="divMediaStatitics" data-action="@Url.Action("GetMediaStatistics", "Dashboard")">
                                                @Html.Partial("_InlineSpinnerPartial")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h5 class="card-title mb-4">Recently updated</h5>
                                            <div id="divRecentlyUpdated" data-action="@Url.Action("GetRecentlyUpdated", "Dashboard")">
                                                @Html.Partial("_InlineSpinnerPartial")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
