﻿@using Medianet.Contacts.Web.Common.Util
@model Medianet.Contacts.Web.ViewModels.AdvancedSearchViewModel

<div class="searchCriteria">
    <h4>Search criteria</h4>
    <div class="alert alert-secondary p-0" role="alert">
        <div id="sc">
            <div class="row d-none entity">
                <div class="col-4 col-md-3 col-lg-2 text-dark entity_name"><p>Both</p></div>
                <div class="col-8 col-md-9 col-lg-10 border-left">
                    @Html.SelectionCriteriaPropertyRow(m => m.SearchText, null)
                </div>
            </div>
            <div class="row d-none entity">
                <div class="col-4 col-md-3 col-lg-2 text-dark entity_name"><p>Contact</p></div>
                <div class="col-8 col-md-9 col-lg-10 border-left">
                    @Html.SelectionCriteriaPropertyRow(m => m.FullName, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.JobTitle, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedPositions, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedCSubjects, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedCSubjectGroups, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.PrimaryNewsContactOnly, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedCContinents, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedCCountries, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedCStates, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedCCities, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedCPostCodes, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ContactInfluencerScore, null)
                </div>
            </div>
            <div class="row d-none entity">
                <div class="col-4 col-md-3 col-lg-2 text-dark entity_name"><p>Outlet</p></div>
                <div class="col-8 col-md-9 col-lg-10 border-left">
                    @Html.SelectionCriteriaPropertyRow(m => m.OutletName, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedMediaTypes, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedOSubjects, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedOSubjectGroups, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedFrequencies, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.OutletCirculationMin, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.OutletCirculationMax, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedLanguages, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.OutletStationFrequencyList, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedOContinents, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedOCountries, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedOStates, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedOCities, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedOPostCodes, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.IncludeMetroOutlets, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.IncludeRegionalOutlets, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.IncludeSuburbanOutlets, null)
                </div>
            </div>
            <div class="row d-none entity">
                <div class="col-4 col-md-3 col-lg-2 text-dark entity_name"><p>Lists & Notes</p></div>
                <div class="col-8 col-md-9 col-lg-10 border-left">
                    @Html.SelectionCriteriaPropertyRow(m => m.SystemNotes, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.MyNotes, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.SelectedLists, null)
                </div>
            </div>
            <div class="row d-none entity">
                <div class="col-4 col-md-3 col-lg-2 text-dark entity_name"><p>Inclusions & Exclusions</p></div>
                <div class="col-8 col-md-9 col-lg-10 border-left">
                    @Html.SelectionCriteriaPropertyRow(m => m.RecordsToShow, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.PrefersEmail, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.PrefersFax, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.PrefersMail, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.PrefersPhone, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.PrefersMobile, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.PrefersTwitter, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.PrefersLinkedIn, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.PrefersFacebook, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.PrefersInstagram, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ShowOnlyWithTwitter, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ShowOnlyWithLinkedIn, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ShowOnlyWithFacebook, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ShowOnlyWithInstagram, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ShowOnlyWithYouTube, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ShowOnlyWithSnapchat, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ShowOnlyWithEmail, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ShowOnlyWithFax, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ShowOnlyWithPostalAddress, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ExcludeKeywords, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ExcludeOPS, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ExcludeFinanceInst, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ExcludePoliticians, null)
                    @Html.SelectionCriteriaPropertyRow(m => m.ExcludeOutOfOffice, null)
                </div>
            </div>
            <p class="p-2 m-0" id="emptySC">Use the advanced search form and your search criteria will appear here</p>
        </div>
    </div>
</div>
