﻿@using Medianet.Contacts.Wcf.DataContracts.DTO;

@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel

<section class="table-responsive resultSection">
    <table class="table resultTableHeader @(ViewBag.IsSearchPage == false ? "allGrey allGrey-slim" : "")" data-expand="@ViewBag.Expand" @(Model.Pagination.SortColumn == SortColumn.Default ?
            "data-sortcol=" + (int) SortColumn.SolrScore + " data-sortdir=" + (int) Model.Pagination.SortDirection : "")>
        <thead>
            <tr>
                <th class="w-20" scope="col">
                    @if (ViewBag.IsSearchPage != false)
                    {
                        <input type="checkbox" title="Select All" id="mainCheckbox" data-checkbox="@((int)Model.Pagination.CheckboxState)">
                    }
                    <label class="mb-0" for="mainCheckbox">&nbsp;</label>
                    <span class="sortable text-nowrap">
                        Outlet
                        <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                            <span class='@(Model.Pagination.SortColumn == SortColumn.OutletName ? "fas fa-sort-down" : "fas fa-sort")' data-sortcol="@((int) SortColumn.OutletName)"></span>
                        </span>
                    </span>
                </th>
                <th class="w-20" scope="col">
                    <span class="sortable text-nowrap">
                        Name
                        <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                            <span class="fas fa-sort" data-sortcol="@((int) SortColumn.ContactName)"></span>
                        </span>
                    </span>
                </th>
                <th class="w-25" scope="col">
                    <span class="text-nowrap">
                        Contact information
                    </span>
                </th>
                <th class="@(ViewBag.IsSearchPage == false ? "w-10" : "w-10")" scope="col">
                    <span class="sortable text-nowrap">
                        Media type
                        <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                            <span class="fas fa-sort" data-sortcol="@((int) SortColumn.MediaType)"></span>
                        </span>
                    </span>
                </th>
                <th class="@(ViewBag.IsSearchPage == false ? "w-15" : "w-15")" scope="col">
                    <span class="sortable text-nowrap">
                        Subjects
                        <span data-toggle="tooltip" data-placement="top" title="Sort by Column">
                            <span class="fas fa-sort" data-sortcol="@((int) SortColumn.Subject)"></span>
                        </span>
                    </span>
                </th>
                <th class="w-10 actionBtns text-right">
                    @if (ViewBag.IsSearchPage != false)
                    {
                        <button class="btn btn-sm btn-link p-0" id="pinAll" data-toggle="tooltip" data-placement="left"  title="@(Model.Pagination.Pinning.AllPinned ? "Unpin Current Search" : "Pin All Current Search")">
                            <i class="fa-thumbtack fa-fw btnPin @(Model.Pagination.Pinning.AllPinned ? "fas" : "fal") iconPin"></i>
                        </button>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
        @{ Html.RenderPartial("~/Views/search/_RowPartial.cshtml", Model); }
        </tbody>
    </table>
</section>
