﻿@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel

@{
    ViewBag.Title = "Advanced Search";
}

@section Javascript {
    @Scripts.Render("~/bundles/advancedsearch")
}

<div class="d-flex align-items-end justify-content-between">
    <h2 class="mb-0">Advanced search</h2>
</div>

<div class="card mt-3 mb-4 mb-xl-5">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                @Html.Partial("_SelectionCriteria", Model.AdvancedSearch)
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center actionBtns refineSearch">
        <i class="fal fa-fw fa-chevron-left mr-0"></i>
        @Html.ActionLink("refine search results", "Advanced", new { r = true, id = "" }, new { @class = "smallCaps text-grey" })
    </div>
</div>

@Html.Partial("_SearchResultsPartial", Model)
