﻿@model Medianet.Contacts.Web.ViewModels.Search.SearchViewModel

@{
    ViewBag.Title = "Advanced Search";
}

@section Javascript {
    @Scripts.Render("~/bundles/advancedsearch")
    <script type="text/javascript">
        var _continents = @Html.Raw(Json.Encode(Model.AdvancedSearch.Continents));
        var _positions = @Html.Raw(Json.Encode(Model.AdvancedSearch.Positions));
        var _frequencies = @Html.Raw(Json.Encode(Model.AdvancedSearch.Frequencies));
        var _languages = @Html.Raw(Json.Encode(Model.AdvancedSearch.Languages));
        var _mediaTypes = @Html.Raw(Json.Encode(Model.AdvancedSearch.MediaTypes));

        var _selectedCSubjects = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedCSubjects));
        var _selectedCSubjectGroups = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedCSubjectGroups));
        var _selectedOSubjects = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedOSubjects));
        var _selectedOSubjectGroups = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedOSubjectGroups));
        var _selectedPositions = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedPositions));
        var _selectedFrequencies = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedFrequencies));
        var _selectedLanguages = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedLanguages));
        var _selectedMediaTypes = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedMediaTypes));
        var _selectedLists = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedLists == null ? null : Model.AdvancedSearch.SelectedLists.Select(sl => new { Id = sl.Id, Name = sl.Name })));
       
        //geo data;
        var _selectedCContinents = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedCContinents));
        var _selectedOContinents = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedOContinents));
        var _selectedCCountries = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedCCountries));
        var _selectedOCountries = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedOCountries));
        var _selectedCStates = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedCStates));
        var _selectedOStates = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedOStates));
        var _selectedCCities = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedCCities));
        var _selectedOCities = @Html.Raw(Json.Encode(Model.AdvancedSearch.SelectedOCities));

        //list data
        var _lists = @Html.Raw(Json.Encode(Model.AdvancedSearch.Lists));
    </script>
}

<div class="d-flex align-items-end justify-content-between">
    <h2 class="mb-0">Advanced search</h2>
</div>

<div class="card mt-3 mb-4 mb-xl-5">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                @Html.Partial("_SelectionCriteria", Model.AdvancedSearch)
                @Html.Partial("_AdvancedSearchFormPartial", Model.AdvancedSearch)
            </div>
        </div>
    </div>
</div>

